/*
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package!
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
*/

$severity-critical: rgba(235, 70, 100, 0.8);
$severity-high: rgba(245, 125, 70, 0.8);
$severity-medium: rgba(250, 140, 50, 0.8);
$severity-low: rgba(230, 200, 45, 0.8);
$severity-very-low: rgba(15, 185, 130, 0.8);
$severity-unknown: rgba(150, 150, 150, 0.8);
