/*
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
*/

@use 'primeicons/primeicons.css';
@use './layout/layout.scss';
@use './components/_pace-theme.scss' as *;
@use './components/_scrollbar.scss' as *;
@use './components/_select-multi.scss' as *;
@use './layout/_mixins.scss' as *;
@use 'sass:color';
@use 'tailwindcss';
@use '@fontsource-variable/inter' as *;
@use '@fontsource-variable/roboto' as *;
@use '@fontsource-variable/red-hat-display' as *;

@plugin "tailwindcss-primeui";
@custom-variant dark (&:where(.p-dark, .p-dark *));

@include ngx-pace-theme();

* {
  @include custom-scrollbar(color-mix(in srgb, var(--p-surface-900) 90%, black), var(--p-surface-700), var(--p-surface-900));
}

html,
body {
  @include custom-scrollbar(color-mix(in srgb, var(--p-surface-900) 90%, black), var(--p-surface-700), var(--p-surface-900));
}

@mixin icon-mask($icon-name) {
  width: 1rem;
  height: 1rem;
  transform: scale(1.4);
  mask: url('../icons/#{$icon-name}.svg') no-repeat center;
  -webkit-mask: url('../icons/#{$icon-name}.svg') no-repeat center;
  mask-size: contain;
  -webkit-mask-size: contain;
  background-color: currentColor;
  display: inline-block;
  font-weight: 900;
}

.tenable-icon {
  @include icon-mask('tenable');
}

svg[data-p-icon='filter-fill'] {
  filter: drop-shadow(0 0 2px var(--primary-color));
}

svg[data-p-icon='filter-fill'] path {
  stroke: var(--primary-color);
  stroke-opacity: 0.4;
  stroke-width: 0.5px;
  fill: currentColor;
  transform: scale(0.95);
  transform-origin: center;
}

.p-datatable-filter-overlay-popover:has(.swap-button-order) {
  display: flex;
  flex-direction: column;

  .p-datatable-filter-buttonbar {
    order: -1;
    margin-bottom: 0.75rem;
  }
}

.p-datatable-filter-overlay {
  min-width: 15rem !important;

  .p-select {
    margin-bottom: 0.5rem !important;
  }
}

.p-datatable-filter-rule-list,
.p-datatable-filter-rule {
  row-gap: 0 !important;
}

.p-datatable-filter-buttonbar:empty {
  display: none;
}

.p-tooltip.wide-tooltip {
  max-width: none;

  .p-tooltip-text {
    max-width: none;
  }
}

.filter-guide-visible {
  left: 25rem !important;
}

.ngx-ui-tour_backdrop {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.ngx-charts-outer {
  -webkit-animation: chartFadeIn linear 0 !important;
  animation: chartFadeIn linear 0 !important;
}

.p-invalid::placeholder,
.ng-invalid.ng-dirty::placeholder {
  color: var(--p-form-field-placeholder-color) !important;
}

.p-invalid .p-placeholder,
.ng-invalid.ng-dirty .p-placeholder {
  color: var(--p-form-field-placeholder-color) !important;
}
