/*
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
*/

@use 'primeicons/primeicons.css';
@use './layout/layout.scss';
@use './components/_pace-theme.scss' as *;
@use './components/_scrollbar.scss' as *;
@use './layout/_mixins.scss' as *;
@use 'sass:color';
@use 'tailwindcss';
@use '@fontsource-variable/inter' as *;
@use '@fontsource-variable/roboto' as *;
@use '@fontsource-variable/red-hat-display' as *;

@plugin "tailwindcss-primeui";
@custom-variant dark (&:where(.p-dark, .p-dark *));

@include ngx-pace-theme();

* {
  @include custom-scrollbar(color-mix(in srgb, var(--p-surface-900) 90%, black), var(--p-surface-700), var(--p-surface-900));
}

html,
body {
  @include custom-scrollbar(color-mix(in srgb, var(--p-surface-900) 90%, black), var(--p-surface-700), var(--p-surface-900));
}

@mixin icon-mask($icon-name) {
  width: 1rem;
  height: 1rem;
  transform: scale(1.4);
  mask: url('../icons/#{$icon-name}.svg') no-repeat center;
  -webkit-mask: url('../icons/#{$icon-name}.svg') no-repeat center;
  mask-size: contain;
  -webkit-mask-size: contain;
  background-color: currentColor;
  display: inline-block;
  font-weight: 900;
}

.tenable-icon {
  @include icon-mask('tenable');
}

.p-multiselect {
  background: var(--p-multiselect-background) !important;
}

.p-tabs {
  .p-tablist {
    border-radius: 0.5rem;
  }
}

svg[data-p-icon='filter-fill'] {
  filter: drop-shadow(0 0 2px var(--primary-color));
}

svg[data-p-icon='filter-fill'] path {
  stroke: var(--primary-color);
  stroke-opacity: 0.4;
  stroke-width: 0.5px;
  fill: currentColor;
  transform: scale(0.95);
  transform-origin: center;
}

.p-datatable-filter-overlay-popover:has(.swap-button-order) {
  display: flex;
  flex-direction: column;

  .p-datatable-filter-buttonbar {
    order: -1;
    margin-bottom: 0.75rem;
  }
}

.p-tooltip.wide-tooltip {
  max-width: none;

  .p-tooltip-text {
    max-width: none;
  }
}
