<!--
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
-->

<form (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="field">
    <label for="collectionName">Collection Name:</label>
    <input pInputText
           type="text"
           id="collectionName"
           name="collectionName"
           [(ngModel)]="collection.collectionName"
           placeholder="Collection Name"
           required
           class="w-full">
  </div>
  <div class="field">
    <label for="description">Description:</label>
    <input pInputText
           type="text"
           id="description"
           name="description"
           [(ngModel)]="collection.description"
           placeholder="Description"
           class="w-full">
  </div>
  <div class="field">
    <label for="systemType">System Type:</label>
    <input pInputText
           type="text"
           id="systemType"
           name="systemType"
           [(ngModel)]="collection.systemType"
           placeholder="System Type"
           class="w-full">
  </div>
  <div class="field">
    <label for="systemName">System Name:</label>
    <input pInputText
           type="text"
           id="systemName"
           name="systemName"
           [(ngModel)]="collection.systemName"
           placeholder="System Name"
           class="w-full">
  </div>
  <div class="field">
    <label for="ccsafa">CC/S/A/FA:</label>
    <input pInputText
           type="text"
           id="ccsafa"
           name="ccsafa"
           [(ngModel)]="collection.ccsafa"
           placeholder="CC/S/A/FA"
           class="w-full">
  </div>
  <div class="field">
    <label for="created">Created:</label>
    <input pInputText
           id="created"
           name="created"
           [(ngModel)]="collection.created"
           [disabled]="true"
           class="w-full">
  </div>
  <!-- Buttons -->
  <div class="buttons">
    <p-button label="Submit" styleClass="p-button-primary p-button-outlined" [disabled]="!form.valid" (click)="onSubmit()" (onKeyUp)="onSubmit()"></p-button>
    <p-button label="Cancel" styleClass="p-button-primary p-button-outlined" (click)="resetData()" (onKeyUp)="resetData()" [style]="{'margin-left':'20px'}"></p-button>
  </div>
</form>
