<!--
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!########################################################################
-->

<form (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="container">

    <div class="row">
      <label style="margin-right: 1%" for="userName">First Name: </label>
      <input nbInput type="text" fullWidth name="userName" [(ngModel)]="user.firstName" placeholder="first name" required>

      <label for="lastName" style="padding-top: 15px;">Last Name: </label>
      <input nbInput type="text" fullWidth name="lastName" [(ngModel)]="user.lastName" placeholder="last name">

      <label for="fullName" style="padding-top: 15px;">Full Name: </label>
      <input nbInput type="text" fullWidth name="fullName" [(ngModel)]="user.fullName" placeholder="full name">
    </div>
    <br />

    <div class="row">
      <label for="email">*Email: </label>
      <input nbInput type="text" fullWidth name="email" [(ngModel)]="user.userEmail" placeholder="email">

      <label for="accountStatus" style="padding-top: 15px;">Status: </label>
      <nb-select outline status="info" placeholder="Select Status" [(ngModel)]="user.accountStatus" name="accountStatus">
        (ngModelChange)='onSelectedThemeChange($event)'>
        <nb-option value="PENDING">Pending</nb-option>
        <nb-option value="ACTIVE">Active</nb-option>
        <nb-option value="EXPIRED">Expired</nb-option>
      </nb-select>

      <nb-toggle [checked]="checked" (checkedChange)="toggleAdmin($event)" style="padding-top: 15px;">Grant Admin Privileges</nb-toggle>

    </div>

    <div class="row">
      <div class="container"  style="padding-top: 15px;">
        <div class="row" [nbSpinner]="isLoading"
             nbSpinnerStatus="success"
             nbSpinnerSize="medium"
             nbSpinnerMessage="Updating/loading data, please wait...">
          >
          <div class="col">
            <angular2-smart-table [settings]="collectionPermissionsSettings"
                             [source]="collectionPermissions" mode="inline"
                             (createConfirm)="confirmCreate($event)"
                             (editConfirm)="confirmEdit($event)"
                             (deleteConfirm)="confirmDelete($event)">
            </angular2-smart-table>
          </div>
        </div>
      </div>

    </div>
    <br>
    <div class="row">
      <div class="container">

        <button nbButton outline status="info" class="mr-3"  (editConfirm)="confirmEdit($event)" [disabled]="!form.valid">Submit</button>
        <button nbButton outline status="info" type="button" class="mr-3" (click)="resetData()">Cancel</button>

      </div>
    </div>
  </div>
</form>
