<!--
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!########################################################################
-->

<div class="notifications-popover">
  <div class="p-card-body">
    <ng-container *ngIf="notifications.length > 0; else noNotifications">
      <p-listbox [options]="notifications" optionLabel="title" scrollHeight="40vh">
        <ng-template let-notification pTemplate="item">
          <div class="notification-content">
            <div class="notification-header">
              <div class="notification-icon">
                <i [class]="notification.icon"></i>
              </div>
              <h4>{{ notification.title }}</h4>
              <i *ngIf="notification.notificationId" class="dismiss-icon pi pi-times" (click)="dismissNotification(notification)" (onKeyUp)="dismissNotification(notification)"></i>
            </div>
            <p>{{ notification.message }}</p>
            <small>{{ notification.timestamp | date:'short' }}</small>
          </div>
        </ng-template>
      </p-listbox>
    </ng-container>
    <ng-template #noNotifications>
      <div class="p-4 text-center">
        <i class="pi pi-inbox text-5xl mb-3" style="color: var(--text-color-secondary);"></i>
        <p>No notifications found.</p>
      </div>
    </ng-template>
  </div>
  <div class="p-card-footer">
    <button pButton label="See all notifications" class="p-button-outlined p-button-contrast p-button-sm w-full" (click)="viewAllNotifications(); closeOverlay()" appendTo="body"></button>
  </div>
</div>
