<!--
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
-->

<p-card>
  <p-header>
    <div class="row">
      <p-tabView>

        <!--POAM Status Tab-->
        <p-tabPanel header="POAM Status">
          <div class="row">
            <div class="col">
              <p-dropdown [options]="poamsForChart"
                          [(ngModel)]="selectedPoamId"
                          (onChange)="onSelectPoam($event)"
                          placeholder="Select POAM to Modify"
                          optionLabel="id"
                          optionValue="id"
                          [showClear]="true"
                          styleClass="w-full"
                          [style]="{'width': '100%'}">
                <ng-template let-poam pTemplate="item">
                  POAM ID: {{ poam.id }} - POAM Status: {{ poam.status }} - Vulnerability ID: {{ poam.vulnerabilityId }} - Submitted Date: {{ poam.submittedDate }}
                </ng-template>
              </p-dropdown>
            </div>
          </div>
          <div class="canvas" id="canvas">
            <canvas #poamStatusChart [style.height]="canvasHeight" [style.width]="canvasWidth"></canvas>
            <button pButton type="button" class="p-button-text export-button" (click)="exportChart(statusChart, 'C-PAT POAM Status Chart')">
              <i class="pi pi-download"></i>
            </button>
          </div>
        </p-tabPanel>

        <!--POAM Severity Tab-->
        <p-tabPanel header="POAM Severity">
          <div class="row">
            <div class="col">
              <p-dropdown [options]="poamsForChart"
                          [(ngModel)]="selectedPoamId"
                          (onChange)="onSelectPoam($event)"
                          placeholder="Select POAM to Modify"
                          optionLabel="id"
                          optionValue="id"
                          [showClear]="true"
                          styleClass="w-full"
                          [style]="{'width': '100%'}">
                <ng-template let-poam pTemplate="item">
                  POAM ID: {{ poam.id }} - POAM Status: {{ poam.status }} - Vulnerability ID: {{ poam.vulnerabilityId }} - Submitted Date: {{ poam.submittedDate }}
                </ng-template>
              </p-dropdown>
            </div>
          </div>
          <div class="canvas" id="canvas">
            <canvas #poamSeverityChart [style.height]="canvasHeight" [style.width]="canvasWidth"></canvas>
            <button pButton type="button" class="p-button-text export-button" (click)="exportChart(severityChart, 'C-PAT POAM Severity Chart')">
              <i class="pi pi-download"></i>
            </button>
          </div>
        </p-tabPanel>

        <!--POAM Scheduled Completion Tab-->
        <p-tabPanel header="POAM Scheduled Completion">
          <div class="row">
            <div class="col">
              <p-dropdown [options]="poamsForChart"
                          [(ngModel)]="selectedPoamId"
                          (onChange)="onSelectPoam($event)"
                          placeholder="Select POAM to Modify"
                          optionLabel="id"
                          optionValue="id"
                          [showClear]="true"
                          styleClass="w-full"
                          [style]="{'width': '100%'}">
                <ng-template let-poam pTemplate="item">
                  POAM ID: {{ poam.id }} - POAM Status: {{ poam.status }} - Vulnerability ID: {{ poam.vulnerabilityId }} - Submitted Date: {{ poam.submittedDate }}
                </ng-template>
              </p-dropdown>
            </div>
          </div>
          <div class="canvas" id="canvas">
            <canvas #poamScheduledCompletionChart [style.height]="canvasHeight" [style.width]="canvasWidth"></canvas>
            <button pButton type="button" class="p-button-text export-button" (click)="exportChart(scheduledCompletionChart, 'C-PAT POAM Scheduled Completion Chart')">
              <i class="pi pi-download"></i>
            </button>
          </div>
        </p-tabPanel>

        <!--POAM Label Tab-->
        <p-tabPanel header="POAM Labels">
          <div class="row">
            <div class="col">
              <p-dropdown [options]="poamsForChart"
                          [(ngModel)]="selectedPoamId"
                          (onChange)="onSelectPoam($event)"
                          placeholder="Select POAM to Modify"
                          optionLabel="id"
                          optionValue="id"
                          [showClear]="true"
                          styleClass="w-full"
                          [style]="{'width': '100%'}">
                <ng-template let-poam pTemplate="item">
                  POAM ID: {{ poam.id }} - POAM Status: {{ poam.status }} - Vulnerability ID: {{ poam.vulnerabilityId }} - Submitted Date: {{ poam.submittedDate }}
                </ng-template>
              </p-dropdown>
            </div>
          </div>
          <div class="canvas" id="canvas">
            <canvas #poamLabelChart [style.height]="canvasHeight" [style.width]="canvasWidth"></canvas>
            <button pButton type="button" class="p-button-text export-button" (click)="exportChart(labelChart, 'C-PAT POAM Label Chart')">
              <i class="pi pi-download"></i>
            </button>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
  </p-header>

      <div class="row" *ngIf="showAddButton" style="margin-bottom: 20px;">
          <button pButton type="button" label="Add POAM" class="p-button-outlined p-button-primary" style="width: 100%;" (click)="addPoam()" [disabled]="accessLevel < 2"></button>
      </div>
      <div class="row align-items-center">
        <div class="col">
          <p-multiSelect [options]="filterOptions"
                         [(ngModel)]="selectedOptionsValues"
                         placeholder="Filter by..."
                         (onChange)="onGroupSelect($event)"
                         optionGroupLabel="label"
                         [group]="true"
                         [showClear]="true"
                         styleClass="w-full"
                         [style]="{'width': '100%'}"
                         appendTo="body">
            <ng-template let-group pTemplate="group">
              <div class="p-d-flex p-ai-center">
                <span>{{group.label}}</span>
              </div>
            </ng-template>
          </p-multiSelect>
        </div>
        <div class="col-auto">
          <button pButton type="button" icon="pi pi-refresh" class="p-button-text" pTooltip="Reset Chart Filters" tooltipPosition="top" (click)="resetChartFilters()"></button>
        </div>
      </div>
</p-card>
