<!--
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!########################################################################
-->

  <p-table [value]="filteredData"
           [scrollable]="true"
           scrollHeight="63rem">
    <ng-template pTemplate="caption">
        <p-iconField iconPosition="left" class="ml-auto">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input pInputText type="text" [(ngModel)]="globalFilter" (input)="onFilterChange($event)" placeholder="Search..." />
        </p-iconField>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th scope="col" *ngFor="let col of assignedColumns">
          {{ col }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr>
        <td *ngFor="let col of assignedColumns">
          <span *ngIf="col !== 'Manage'">{{ row[getColumnKey(col)] }}</span>
          <span *ngIf="col === 'Manage'">
            <button pButton type="button" icon="pi pi-plus" class="p-button-text" (click)="managePoam(row)"></button>
          </span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="assignedColumns.length" style="text-align: center;">No POAMs found.</td>
      </tr>
    </ng-template>
  </p-table>
