<!--
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!########################################################################
-->

<nb-layout>
  <input type="file" #fileInput style="display: none;" (change)="onFileSelect($event)" accept=".xls, .xlsx, .xlsm">
  <nb-layout-header fixed>
    <div class="container">
      <img src="../assets/cpat.png" alt="C-PAT (Crane POAM Automation Tool)" (click)="reloadPage()" (keyup.enter)="reloadPage()" tabindex="0" style="cursor: pointer;">
    </div>
    <div class="col" style="margin-top: 10px;" [nbSpinner]="isSettingWorkspace" nbSpinnerStatus="success" nbSpinnerSize="medium" nbSpinnerMessage="Loading work space, please wait...">
    </div>
    <nb-user class="userIcon" size="large" [name]="this.fullName" [title]="this.userRole" picture="../assets/user.png" [badgeText]="notificationCount" badgeStatus="info" badgePosition="bottom right" color="#4A4A4A" [nbPopover]="notificationsPanel" nbPopoverTrigger="click">
    </nb-user>
    <ng-template #notificationsPanel>
      <cpat-notifications-popover></cpat-notifications-popover>
    </ng-template>
  </nb-layout-header>
  <nb-layout-header subheader>
    <a (click)="toggleSidebar()" (keyup.enter)="toggleSidebar()" tabindex="0" class="sidebar-toggle">
      <nb-icon icon="collapse-outline"></nb-icon>
    </a>
    <div [style.background-color]="classificationColorCode" style="width: 100%; text-align: center; margin-left: 5px;">
      {{ classification }}
    </div>
  </nb-layout-header>
  <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive start>
    <div *ngIf="this.sidebarExpanded" class="sidebar-header">
      <nb-actions size="tiny" style="padding-bottom: 10px">
        <nb-action icon="moon-outline" (click)="onSelectedThemeChange('dark')"></nb-action>
        <nb-action icon="star-outline" (click)="onSelectedThemeChange('cosmic')"></nb-action>
        <nb-action icon="sun-outline" (click)="onSelectedThemeChange('default')"></nb-action>
        <!--<nb-action icon="brush-outline" (click)="onSelectedThemeChange('cosmic-dark')"></nb-action>-->
      </nb-actions>
    </div>
    <div *ngIf="this.sidebarExpanded" class="sidebar-top" style="margin-top:10px; display: flex; justify-content: center; align-items: center;">
      <nb-select class="appearance-outline size-mediumoutline" placeholder="Select Collection" [(ngModel)]="selectedCollection" name="selectedCollection" id="selectedCollection" (ngModelChange)="resetWorkspace($event)" size="small" shape="semi-round">
        <nb-option *ngFor="let collection of collections" [value]="collection.collectionId">
          {{collection.collectionName}}
        </nb-option>
      </nb-select>
    </div>
    <div class="menu-content">
      <nb-menu [items]="menuItems" id="menuItems" autoCollapse="true"></nb-menu>
    </div>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet>
      <nb-alert *ngIf="selectCollectionMsg" role="alert">
        <p class="alert-title"><b>Welcome to C-PAT!</b></p>
        Please select a workspace collection from the left sidebar. If you do not have access to select a workspace collection, please contact your C-PAT administrator to be assigned a collection.
      </nb-alert>
    </router-outlet>
  </nb-layout-column>
  <nb-layout-footer fixed>
    <div [style.background-color]="classificationColorCode" style="width: 100%;text-align: center;">
      {{ classification }}
    </div>
  </nb-layout-footer>
</nb-layout>
