/*
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND    
! CONDITIONS OF THE LICENSE.  
!########################################################################
*/

.sidebar-toggle {
    padding-right: 1.25rem;
    text-decoration: none;
    color: var(--text-hint-color);
    font-size: 3.5rem;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
