<!--
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!########################################################################
-->

<nb-layout>
  <input type="file" #fileInput style="display: none;" (change)="onFileSelect($event)" accept=".xls, .xlsx, .xlsm">
  <nb-layout-header fixed>
    <div class="container">
      <img src="../assets/cpat.png" alt="C-PAT (Crane POAM Automation Tool)">
    </div>
    <div class="col" style="margin-top: 10px;" [nbSpinner]="isSettingWorkspace" nbSpinnerStatus="success"
         nbSpinnerSize="medium" nbSpinnerMessage="Loading work space, please wait...">
    </div>
  </nb-layout-header>
  <nb-layout-header subheader>
    <div [style.background-color]="classificationColorCode" style="width: 100%;text-align: center;">
      {{ classification }}
    </div>
    <nb-icon (click)="toggleSidebar()" class="sidebar-toggle" icon="menu-2-outline"></nb-icon>
  </nb-layout-header>
  <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive start>
    <div class="sidebar-header">
      <nb-actions size="tiny" style="padding-bottom: 10px">
        <nb-action icon="moon-outline" (click)="onSelectedThemeChange('dark')"></nb-action>
        <nb-action icon="star-outline" (click)="onSelectedThemeChange('cosmic')"></nb-action>
        <nb-action icon="sun-outline" (click)="onSelectedThemeChange('corporate')"></nb-action>
      </nb-actions>
    </div>
    <div class="sidebar-top" style="margin-top:10px; display: flex; justify-content: center; align-items: center;">
      <nb-select class="appearance-outline size-mediumoutline" placeholder="Select Collection"
                 [(ngModel)]="selectedCollection" name="selectedCollection" id="selectedCollection"
                 (ngModelChange)="resetWorkspace($event)" size="small" shape="semi-round">
        <nb-option *ngFor="let collection of collections" [value]="collection.collectionId">
          {{collection.collectionName}} - {{ collection.description}}
        </nb-option>
      </nb-select>
    </div>
    <div class="menu-content">
      <nb-menu [items]="menuItems" id="menuItems"></nb-menu>
    </div>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet>
      <nb-alert *ngIf="selectCollectionMsg" role="alert">
        <p class="alert-title"><b>Welcome to C-PAT!</b></p>
        <h1>Please select a workspace collection.</h1>
      </nb-alert>
    </router-outlet>
  </nb-layout-column>
  <nb-layout-footer fixed>
    <div [style.background-color]="classificationColorCode" style="width: 100%;text-align: center;">
      {{ classification }}
    </div>
  </nb-layout-footer>
</nb-layout>
