/*
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND    
! CONDITIONS OF THE LICENSE.  
!########################################################################
*/
.menu-sidebar {
  display: flex;
  flex-direction: column;
}
.menu-content {
  flex: 1;
}

.sidebar-toggle {
  text-decoration: none;
  color: var(--text-hint-color);
  cursor: pointer;
}

.userIcon {
    cursor: pointer;
}

.container {
    margin-left: 0;
}
