<nb-layout>

  <nb-layout-header fixed>
    <div class="container">
      <!-- <h2>C-PAT (Crane POAM Automation Tool)</h2> -->
      <br> <br>
      <img src="../assets/CPAT-Logo.png" alt="C-PAT (Crane POAM Automation Tool)">

    </div>

    <div class="col" style="margin-top: 10px;" [nbSpinner]="isSettingWorkspace" nbSpinnerStatus="success"
      nbSpinnerSize="medium" nbSpinnerMessage="Loading work space, please wait...">
      <!-- color: rgb(251, 244, 244); -->
      <h5 style="margin-left: 30%">
        Current Workspace
      </h5>
    </div>

    <div class="row">
      <div class="col">
        <p>
          <label style="float: left">Selected Collection</label>
          <nb-select class="appearance-outline size-mediumoutline" status="info" placeholder="Collection"
            [(ngModel)]="selectedCollection" name="selectedCollection" id="selectedCollection"
            (ngModelChange)="resetWorkspace($event)" [(selected)]="selectedCollection">

            <nb-option *ngFor="let collection of collections" value={{collection.collectionId}} name=selectedCollection>
              {{collection.collectionName}} - {{ collection.description}}
            </nb-option>
          </nb-select>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label style="float: left">Theme</label>
        <nb-select outline status="info" placeholder="Select Theme" [(ngModel)]="selectedTheme" name="selectedTheme"
          (ngModelChange)='onSelectedThemeChange($event)'>
          <nb-option value="default">Default</nb-option>
          <nb-option value="dark">Dark</nb-option>
          <nb-option value="cosmic">Cosmic</nb-option>
          <nb-option value="corporate">Coprorate</nb-option>
        </nb-select>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label style="float: left">Log Out</label>
        <button nbButton outline status="info"
          style="float:right; margin-right: 0.75rem; margin-left: 0.75rem; margin-bottom: 0rem;" (click)="logOut()">Log
          Out</button>
      </div>

    </div>

  </nb-layout-header>
  <nb-layout-header subheader >
    <div   [style.background-color]="classificationColorCode" style="width: 100%;text-align: center;">
      {{ classification }}
    </div>
    <nb-icon (click)="toggleSidebar()" class="sidebar-toggle" icon="menu-2-outline"></nb-icon>
  </nb-layout-header>

  <nb-sidebar class="menu-sidebar" responsive start>
    <br>
    <br>
    <nb-menu [items]="menuItems"></nb-menu>
    <!-- <button class="btn btn-success" (click)="testLogin()">Sign In with Redhat</button> -->
    <br>
    <br>
    <div class="row">
      <label style="float: left">POAMS:</label>
      <button nbButton outline status="info"
        style="float:right; margin-right: 0.75rem; margin-left: 0.75rem; margin-bottom: 0rem;" (click)="addPoam()">Add
        POAM</button>
    </div>

    <ngx-dropdown-treeview outline status="info" [config]="dropdownConfig" [items]="poamItems"
      [buttonClass]="buttonClass" (selectedChange)="onSelectedPoamChange($event)">
    </ngx-dropdown-treeview>

    <div class="row">
      <label style="float: left">Log Out:</label>
      <button nbButton outline status="info"
        style="float:right; margin-right: 0.75rem; margin-left: 0.75rem; margin-bottom: 0rem;" (click)="logOut()">Log
        Out</button>
    </div>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet>
      <nb-alert *ngIf="selectCollectionMsg" role="alert">
        <p class="alert-title"><b>Welcome to C-PAT!</b></p>
        <h1>Please select a workspace collection.</h1>
      </nb-alert>

    </router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <div   [style.background-color]="classificationColorCode" style="width: 100%;text-align: center;">
      {{ classification }}
    </div>
  </nb-layout-footer>

</nb-layout>