
  <div class="row">
    <div class="col-md-10">

      <nb-card>
        <nb-card-body class="scrollable-assets" (scroll)="onScroll($event)">
          <nb-tabset fullWidth>
            <nb-tab tabTitle="Asset Management">

              <h3>Assets</h3>
              <input nbInput [nbFilterInput]="dataSource" id="search" class="search-input" placeholder="Search Assets">
              <table [nbTreeGrid]="dataSource">
                <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
                <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

                <ng-container [nbTreeGridColumnDef]="customColumn">
                  <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{customColumn}}</th>
                  <td nbTreeGridCell *nbTreeGridCellDef="let row">
                    {{row.data[customColumn]}}
                  </td>
                </ng-container>

                <ng-container *ngFor="let column of defaultColumns" [nbTreeGridColumnDef]="column">
                  <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{column}}</th>
                  <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column] || '-'}}</td>
                </ng-container>
              </table>


            </nb-tab>

            <nb-tab tabTitle="Asset Chart">
              <div class="canvas" id="canvas" style="margin-top: 20px;">
                <button nbButton ghost class="export-button" (click)="exportChart(assetLabelChart, 'C-PAT Asset Label Chart')">
                  <nb-icon icon="download-outline"></nb-icon>
                </button>
                <canvas #assetLabelsChart class="asset-label-chart"></canvas>
              </div>
              <hr />
            </nb-tab>
          </nb-tabset>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <nb-card>
        <nb-card-header>Manage Assets</nb-card-header>
        <nb-card-body>
          <div class="row" *ngIf="allowSelectAssets">

            <div class="col-md-5" style="width: auto;">
              <nb-select fullWidth #assetScrollListener style="width: auto" (scroll)="onScroll($event)" outlineid="assetid" name="asset" 
                        [(ngModel)]="asset.assetId" (selectedChange)="setAsset($event)" placeholder="Select Asset to Modify" required>
                <nb-option *ngFor="let asset of data" [value]="asset.assetId">
                  {{ asset?.assetId }} - {{ asset?.assetName }}
                </nb-option>
              </nb-select>
            </div>

          
            <div class="col-md-5" style="width: auto;">
            <button nbButton outline status="info" style="float: right;" (click)="addAsset()">Add Asset</button>
            </div>
          </div>

            <div *ngIf="!allowSelectAssets">
              <ngx-asset [asset]="asset" [assets]="assets" [payload]="payload" (assetchange)="resetData();"></ngx-asset>
            </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <!-- Import Assets Section -->
      <nb-card class="my-card">
        <nb-card-header>Import STIG Manager Assets</nb-card-header>
        <nb-card-body class="import-section">
          <div class="import-item">
            <nb-select id="collectionSelect" placeholder="Select STIG Manager Collection" [(ngModel)]="selectedCollection" (selectedChange)="onCollectionSelect($event)">
              <nb-option *ngFor="let collection of collections" [value]="collection.collectionId">
                {{ collection.name }}
              </nb-option>
            </nb-select>
          </div>

          <div class="import-item">
            <nb-select id="assetsSelect" placeholder="Select STIG Manager Assets" [(ngModel)]="selectedAssets" [disabled]="!selectedCollection" multiple>
              <nb-option *ngFor="let asset of availableAssets" [value]="asset.assetId">
                {{ asset.name }}
              </nb-option>
            </nb-select>
          </div>

          <div class="import-item">
            <button nbButton outline nbTooltip="Assets imported from STIG Manager will be imported into their coresponding STIG Manager collection." nbTooltipPlacement="top" nbTooltipStatus="basic" status="info" (click)="onImportAssetsButtonClick()">Import</button>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>


<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Delete Row</nb-card-header>
    <nb-card-body>Are you sure you want to delete this item?</nb-card-body>
    <nb-card-footer>
      <button nbButton status="danger">Delete</button>
      <button nbButton outline status="primary" style="float: right;" (click)="ref.close()">Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
