<div *ngIf="selectedRole == 'admin'; else dontshowcollections">
  <div class="row">
    <div class="col-md-10">
      <!-- Assets Section -->
        <nb-card>
          <nb-card-body class="scrollable-assets" (scroll)="onScroll($event)">
            <h3>Assets</h3>
            <input nbInput [nbFilterInput]="dataSource" id="search" class="search-input" placeholder="Search Assets">
            <table [nbTreeGrid]="dataSource">
              <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
              <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

              <ng-container [nbTreeGridColumnDef]="customColumn">
                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{customColumn}}</th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                  <nb-tree-grid-row-toggle [expanded]="row.expanded" *ngIf="row.data['asset']">
                  </nb-tree-grid-row-toggle>
                  {{row.data[customColumn]}}
                </td>
              </ng-container>

              <ng-container *ngFor="let column of defaultColumns" [nbTreeGridColumnDef]="column">
                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{column}}</th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column] || '-'}}</td>
              </ng-container>
            </table>
          </nb-card-body>
        </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <!-- Modify Assets Section -->
      <nb-card>
        <nb-card-header>Modify or Add Assets</nb-card-header>
        <nb-card-body>
          <div class="row" *ngIf="allowSelectAssets">
            <div class="col-md-5">
              <nb-select fullWidth outlineid="assetid" name="asset" [(ngModel)]="asset.assetId"
                         (selectedChange)="setAsset($event)" placeholder="Select Asset" required>
                <nb-option *ngFor="let asset of data" [value]="asset.assetId">
                  {{ asset.assetName }} - {{ asset.description }} - {{ asset.ipAddress }}
                </nb-option>
              </nb-select>
            </div>
            <div *ngIf="!allowSelectAssets">
              <ngx-asset [asset]="asset" [assets]="assets" [payload]="payload" (assetchange)="resetData();"></ngx-asset>
            </div>
          </div>
          <button nbButton fullWidth outline status="info" class="add-asset-button">Add Asset</button>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <!-- Import Assets Section -->
      <nb-card class="my-card">
        <nb-card-header>Import Assets</nb-card-header>
        <nb-card-body class="import-section">
          <div class="import-item">
            <nb-select id="collectionSelect" placeholder="Select Collection" [(ngModel)]="selectedCollection" (selectedChange)="onCollectionSelect($event)">
              <nb-option *ngFor="let collection of collections" [value]="collection.collectionId">
                {{ collection.name }}
              </nb-option>
            </nb-select>
          </div>

          <div class="import-item">
            <nb-select id="assetsSelect" placeholder="Select Assets" [(ngModel)]="selectedAssets" [disabled]="!selectedCollection" multiple>
              <nb-option *ngFor="let asset of availableAssets" [value]="asset.assetId">
                {{ asset.name }}
              </nb-option>
            </nb-select>
          </div>

          <div class="import-item">
            <button nbButton outline status="info" (click)="onImportAssetsButtonClick()">Import Assets</button>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>

<ng-template #dontshowcollections>
  <h1>
    Collections processing requires may role of admin.
    <br /><br />
  </h1>
</ng-template>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Delete Row</nb-card-header>
    <nb-card-body>Are you sure you want to delete this item?</nb-card-body>
    <nb-card-footer>
      <button nbButton status="danger">Delete</button>
      <button nbButton outline status="primary" style="float: right;" (click)="ref.close()">Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
