# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Ignore the node_modules directory
node_modules/

# Ignore specific files and directories within the Api and Front End directories


# Ignore Visual Studio Code FileContentIndex directory
.vs/
