/*
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
*/

::ng-deep {
  .assetDeltas {
    padding: 0rem;

    .charts-container {
      min-height: 250px;
      height: 250px;

      .chart-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
      }
    }

    .p-card {
      height: 100%;

      .p-card-body {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      .p-card-content {
        padding: 0;
        flex: 1;
        display: flex;
        flex-direction: column;
      }
    }
  }

  .p-dialog .p-dialog-header {
    padding: var(--p-dialog-header-padding);
}
}
