<!--
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
-->

<div class="stepper-content">
  @if (collectionType === 'C-PAT') {
    <div>
      <p-table [value]="poamAssets">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="assetName" scope="col">Asset</th>
            <th scope="col" style="width: 8rem">
              <button pButton icon="pi pi-plus" (click)="addAsset()" class="p-button-rounded p-button-text" [disabled]="accessLevel < 2"></button>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-asset let-rowIndex="rowIndex">
          <tr>
            <td>
              @if (!asset.isNew) {
                <span>{{ getAssetName(asset.assetId) }}</span>
              }
              @if (asset.isNew) {
                <p-select [options]="assetList" [(ngModel)]="asset.assetId" optionLabel="assetName" optionValue="assetId" [style]="{ width: '100%' }" (onChange)="onAssetChange(asset, rowIndex)" appendTo="body" [disabled]="accessLevel < 2"></p-select>
              }
            </td>
            <td>
              <button pButton icon="pi pi-trash" (click)="deleteAsset(asset, rowIndex)" class="p-button-rounded p-button-text p-button-danger" [disabled]="accessLevel < 2"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="2" style="text-align: center">No Assets to Display</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  }

  @if (collectionType === 'STIG Manager') {
    <div class="stepper-content">
      <cpat-stigmanager-poam-assets-table [stigmanCollectionId]="originCollectionId" [groupId]="poam.vulnerabilityId" [associatedVulnerabilities]="poamAssociatedVulnerabilities"> </cpat-stigmanager-poam-assets-table>
    </div>
  }

  @if (collectionType === 'Tenable') {
    <div class="stepper-content">
      <cpat-tenable-assets-table [pluginID]="poam.vulnerabilityId" [tenableRepoId]="originCollectionId" [associatedVulnerabilities]="poamAssociatedVulnerabilities"> </cpat-tenable-assets-table>
    </div>
  }
</div>
<p-toast />
