<!--
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
-->

<div class="stepper-content">
  @if (collectionType() === 'C-PAT') {
    <div>
      <p-table [value]="displayAssets()">
        <ng-template #header>
          <tr>
            <th scope="col" pSortableColumn="assetName">Asset</th>
            <th scope="col" style="width: 8rem">
              <button pButton (click)="addAsset()" [rounded]="true" variant="text" [disabled]="accessLevel() < 2"><i class="pi pi-plus" pButtonIcon></i></button>
            </th>
          </tr>
        </ng-template>
        <ng-template #body let-asset let-rowIndex="rowIndex">
          <tr>
            <td>
              @if (!asset.isNew) {
                <span>{{ asset.displayName }}</span>
              }
              @if (asset.isNew) {
                <p-select
                  [options]="assetList()"
                  [(ngModel)]="asset.assetId"
                  [filter]="true"
                  filterBy="assetName"
                  optionLabel="assetName"
                  optionValue="assetId"
                  class="w-full"
                  (onChange)="onAssetChange(asset, rowIndex)"
                  appendTo="body"
                  [disabled]="accessLevel() < 2"
                />
              }
            </td>
            <td>
              <button pButton (click)="deleteAsset(asset, rowIndex)" [rounded]="true" variant="text" severity="danger" [disabled]="accessLevel() < 2"><i class="pi pi-trash" pButtonIcon></i></button>
            </td>
          </tr>
        </ng-template>
        <ng-template #emptymessage>
          <tr>
            <td colspan="2" style="text-align: center">No Assets to Display</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  }

  @if (collectionType() === 'STIG Manager') {
    <div class="stepper-content">
      <cpat-stigmanager-poam-assets-table [stigmanCollectionId]="originCollectionId()" [groupId]="poam().vulnerabilityId" [associatedVulnerabilities]="poamAssociatedVulnerabilities()" />
    </div>
  }

  @if (collectionType() === 'Tenable') {
    <div class="stepper-content">
      <cpat-tenable-assets-table [pluginID]="poam().vulnerabilityId" [tenableRepoId]="originCollectionId()" [associatedVulnerabilities]="poamAssociatedVulnerabilities()" />
    </div>
  }
</div>
<p-toast />
