<!--
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!########################################################################
-->

<div class="field">
  <p-dropdown [options]="filteredRepositories"
              [(ngModel)]="selectedTenableRepository"
              (onChange)="onTenableRepositorySelect($event.value)"
              placeholder="Select Repository to Import..."
              optionLabel="name"
              [showClear]="true"
              styleClass="tenableRepositorySelect"
              appendTo="body"
              [style]="{'width':'100%'}">
  </p-dropdown>
</div>
<div class="field">
  <p-button label="Import Selected"
            class="import-button"
            styleClass="p-button-info"
            (click)="importTenableRepository()"
            [disabled]="!selectedTenableRepository"
            [style]="{'width':'100%', 'margin-bottom': '10px'}"
            [outlined]="true">
  </p-button>
</div>
<div class="field">
  <p-button label="Import All Remaining"
            class="import-all-button"
            styleClass="p-button-warning"
            (click)="importAllRemainingRepositories()"
            [disabled]="filteredRepositories.length === 0"
            [style]="{'width':'100%'}"
            [outlined]="true">
  </p-button>
</div>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
