<!--
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!########################################################################
-->
<nb-card>
  <nb-card-header>
     <div class="row"> 
      <div class="col">
        <nb-form-field>
        <nb-icon nbPrefix icon="list-outline"></nb-icon>
        <nb-select fullWidth status="info" placeholder="Select POAM to Modify" [(selected)]="selectedPoamId" (selectedChange)="onSelectPoam($event)">
          <nb-option *ngFor="let poam of poams" [value]="poam.id">
              POAM ID: {{ poam.id }} - Vulnerability ID: {{ poam.vulnerabilityId }} - {{ poam.description }}
          </nb-option>
        </nb-select>
    </nb-form-field>
      </div>
     </div>
 
     <div class="row" style="padding-top: 20px;" *ngIf="collection">
         Selected Collection:
         <div class="col-md-8">
             <label>{{collection.collectionName}}</label>
         </div>
         <hr />
         <div class="canvas" id="canvas">
             <canvas class="poam-chart" 
                     baseChart 
                     id='poam-chart' 
                     [type]="'bar'" 
                     [data]="chartData" 
                     [options]="barChartOptions">
             </canvas>
         </div>
         <hr />
         <div class="row">
             <button nbButton fullWidth outline status="info" (click)="addPoam()">Add POAM</button>
         </div>
         
         <div class="row" style="padding-top: 20px;">
             <label>Filter by POAM Status:</label>
             <nb-select class="poam-filter" outline status="info" placeholder="Filter Poams: "
             [(ngModel)]="selectedStatus" name="selectedStatus"
             (ngModelChange)='onSelectedStatusChange()'>
                 <nb-option value="All">All</nb-option>
                 <nb-option value="Draft">Draft</nb-option>
                 <nb-option value="Approved">Approved</nb-option>
                 <nb-option value="Submitted">Submitted</nb-option>
                 <nb-option value="Rejected">Rejected</nb-option>
                 <nb-option value="Closed">Closed</nb-option>
                 <nb-option value="Expired">Expired</nb-option>
             </nb-select>
         </div>
         <hr />
     </div>
 </nb-card-header>
 </nb-card>