/*
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND    
! CONDITIONS OF THE LICENSE.  
!########################################################################
*/
.poam-status-chart
.poam-label-chart
.poam-severity-chart
.poam-estimatedcompletion-chart {
  overflow: hidden;
  height: 50vh;
  width: 100vw;
}

.canvas {
  position: relative;
  max-height: 50vh;
  max-width: 100vw;
}

.export-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

