<!--
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!########################################################################
-->
<nb-card>
  <nb-card-header>
     <div class="row" style="padding-top: 20px;">
       <nb-tabset fullWidth (changeTab)="sortData()">

         <!--POAM Status Tab-->
         <nb-tab tabTitle="POAM Status">
           <div class="row">
             <div class="col">
               <nb-form-field>
                 <nb-icon nbPrefix icon="list-outline"></nb-icon>
                 <nb-select fullWidth status="info" placeholder="Select POAM to Modify" [(selected)]="selectedPoamId" (selectedChange)="onSelectPoam($event)">
                   <nb-option *ngFor="let poam of poamsForChart" [value]="poam.id">
                     POAM ID: {{ poam.id }} - Vulnerability ID: {{ poam.vulnerabilityId }} - {{ poam.description }}
                   </nb-option>
                 </nb-select>
               </nb-form-field>
             </div>
           </div>
           <div class="canvas" id="canvas" style="margin-top: 20px;">
             <button nbButton ghost class="export-button" (click)="exportChart(statusChart, 'C-PAT POAM Status Chart')">
               <nb-icon icon="download-outline"></nb-icon>
             </button>
             <canvas #poamStatusChart class="poam-status-chart"></canvas>
           </div>
           <hr />
           <div class="row">
             <button nbButton fullWidth outline status="info" (click)="addPoam()">Add POAM</button>
           </div>

           <div class="row" style="padding-top: 20px;">
             <label>Filter by POAM Status:</label>
             <nb-select class="poam-filter" outline status="info" placeholder="Filter Poams: "
                        [(ngModel)]="selectedStatus" name="selectedStatus"
                        (ngModelChange)='onSelectedStatusChange()'>
               <nb-option value="All">All</nb-option>
               <nb-option value="Draft">Draft</nb-option>
               <nb-option value="Approved">Approved</nb-option>
               <nb-option value="Submitted">Submitted</nb-option>
               <nb-option value="Rejected">Rejected</nb-option>
               <nb-option value="Closed">Closed</nb-option>
               <nb-option value="Expired">Expired</nb-option>
             </nb-select>
           </div>
           <hr />
         </nb-tab>

         <!--POAM Severity Tab-->
         <nb-tab tabTitle="POAM Severity">
           <div class="row">
             <div class="col">
               <nb-form-field>
                 <nb-icon nbPrefix icon="list-outline"></nb-icon>
                 <nb-select fullWidth status="info" placeholder="Select POAM to Modify" [(selected)]="selectedPoamId" (selectedChange)="onSelectPoam($event)">
                   <nb-option *ngFor="let poam of poamsForChart" [value]="poam.id">
                     POAM ID: {{ poam.id }} - Vulnerability ID: {{ poam.vulnerabilityId }} - {{ poam.description }}
                   </nb-option>
                 </nb-select>
               </nb-form-field>
             </div>
           </div>
           <div class="canvas" id="canvas" style="margin-top: 20px;">
             <button nbButton ghost class="export-button" (click)="exportChart(severityChart, 'C-PAT POAM Severity Chart')">
               <nb-icon icon="download-outline"></nb-icon>
             </button>
             <canvas #poamSeverityChart class="poam-severity-chart"></canvas>
           </div>
           <hr />
           <div class="row">
             <button nbButton fullWidth outline status="info" (click)="addPoam()">Add POAM</button>
           </div>

           <div class="row" style="padding-top: 20px;">
             <label>Filter by POAM Severity:</label>
             <nb-select class="poam-filter" outline status="info" placeholder="Filter Poams: "
                        [(ngModel)]="selectedSeverity" name="selectedSeverity"
                        (ngModelChange)='onSelectedSeverityChange()'>
               <nb-option value="All">All</nb-option>
               <nb-option value="CAT I - Critical/High">CAT I - Critical/High</nb-option>
               <nb-option value="CAT II - Medium">CAT II - Medium</nb-option>
               <nb-option value="CAT III - Low">CAT III - Low</nb-option>
             </nb-select>
           </div>
           <hr />
         </nb-tab>

         <!--POAM Estimated Completion Tab-->
         <nb-tab tabTitle="POAM Estimated Completion">
           <div class="row">
             <div class="col">
               <nb-form-field>
                 <nb-icon nbPrefix icon="list-outline"></nb-icon>
                 <nb-select fullWidth status="info" placeholder="Select POAM to Modify" [(selected)]="selectedPoamId" (selectedChange)="onSelectPoam($event)">
                   <nb-option *ngFor="let poam of poamsForChart" [value]="poam.id">
                     POAM ID: {{ poam.id }} - Vulnerability ID: {{ poam.vulnerabilityId }} - {{ poam.description }}
                   </nb-option>
                 </nb-select>
               </nb-form-field>
             </div>
           </div>
           <div class="canvas" id="canvas" style="margin-top: 20px;">
             <button nbButton ghost class="export-button" (click)="exportChart(estimatedCompletionChart, 'C-PAT POAM Estimated Completion Chart')">
               <nb-icon icon="download-outline"></nb-icon>
             </button>
             <canvas #poamEstimatedCompletionChart class="poam-estimatedcompletion-chart"></canvas>
           </div>
           <hr />
           <div class="row">
             <button nbButton fullWidth outline status="info" (click)="addPoam()">Add POAM</button>
           </div>

           <div class="row" style="padding-top: 20px;">
             <label>Filter by POAM Estimated Completion Date:</label>
             <nb-select class="poam-filter" outline status="info" placeholder="Filter Poams: "
                        [(ngModel)]="selectedEstimatedCompletion" name="selectedEstimatedCompletion"
                        (ngModelChange)='onSelectedEstimatedCompletionChange()'>
               <nb-option value="All">All</nb-option>
               <nb-option value="OVERDUE">OVERDUE</nb-option>
               <nb-option value="< 30 Days">< 30 Days</nb-option>
               <nb-option value="30-60 Days">30-60 Days</nb-option>
               <nb-option value="60-90 Days">60-90 Days</nb-option>
               <nb-option value="90-180 Days">90-180 Days</nb-option>
               <nb-option value="> 365 Days">> 365 Days</nb-option>
             </nb-select>
           </div>
           <hr />
         </nb-tab>

                  <!--POAM Label Tab-->
                  <nb-tab tabTitle="POAM Labels">
                    <div class="row">
                      <div class="col">
                        <nb-form-field>
                          <nb-icon nbPrefix icon="list-outline"></nb-icon>
                          <nb-select fullWidth status="info" placeholder="Select POAM to Modify" [(selected)]="selectedPoamId" (selectedChange)="onSelectPoam($event)">
                            <nb-option *ngFor="let poam of poamsForChart" [value]="poam.id">
                              POAM ID: {{ poam.id }} - Vulnerability ID: {{ poam.vulnerabilityId }} - {{ poam.description }}
                            </nb-option>
                          </nb-select>
                        </nb-form-field>
                      </div>
                    </div>
                    <div class="canvas" id="canvas" style="margin-top: 20px;">
                      <button nbButton ghost class="export-button" (click)="exportChart(labelChart, 'C-PAT POAM Label Chart')">
                        <nb-icon icon="download-outline"></nb-icon>
                      </button>
                      <canvas #poamLabelChart class="poam-label-chart"></canvas>
                    </div>
                    <hr />
                    <div class="row">
                      <button nbButton fullWidth outline status="info" (click)="addPoam()">Add POAM</button>
                    </div>
        
                    <hr />
                  </nb-tab>
       </nb-tabset>
      </div>
   </nb-card-header>
 </nb-card>
