/*
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND    
! CONDITIONS OF THE LICENSE.  
!########################################################################
*/

.table-container {
  height: 58rem;
  overflow-y: auto;
}

.poam-table {
  width: 100rem;
}

.search-input {
  margin-bottom: 1rem;
}

.manage-POAM-button {
  margin: auto;
  display: flex;
  justify-content: center;
}

.nb-column-POAM-ID,
.nb-column-Adjusted-Severity,
.nb-column-Approval-Status,
.nb-column-Submitter,
.nb-column-Manage {
  text-align: center !important;
}
