/*
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
*/

::ng-deep {
  .p-card {
    max-height: calc(100vh - 11rem);
    height: calc(100vh - 11rem);
    overflow: hidden;
  }
  .p-tabpanel {
    height: calc(100vh - 19rem);
    overflow: hidden;
  }
}

:host ::ng-deep {
  .p-progressbar {
    height: 20px !important;
    background: rgba(85, 86, 91, 0.3) !important;
    position: relative;
  }

  .p-progressbar .p-progressbar-value {
    position: static;
    overflow: visible;
  }

  .p-progressbar .p-progressbar-label {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    font-weight: 600;
    opacity: 0.8;
    > div {
      display: block !important;
    }
  }

  .p-progressbar:hover {
    opacity: 0.9;
  }

  .assessed-progress {
    .p-progressbar-value {
      background: var(--p-tag-info-background);
    }
    .p-progressbar-label {
      color: var(--p-tag-info-color);
    }
  }

  .submitted-progress {
    .p-progressbar-value {
      background: var(--p-tag-success-background);
      opacity: 0.75;
    }
    .p-progressbar-label {
      color: var(--p-tag-success-color);
    }
  }

  .accepted-progress {
    .p-progressbar-value {
      background: var(--p-tag-success-background);
    }
    .p-progressbar-label {
      color: var(--p-tag-success-color);
    }
  }

  .rejected-progress {
    .p-progressbar-value {
      background: var(--p-tag-danger-background);
    }
    .p-progressbar-label {
      color: var(--p-tag-danger-color);
    }
  }

  .unassessed-progress {
    .p-progressbar-value {
      background: var(--p-tag-secondary-background);
    }
    .p-progressbar-label {
      color: var(--p-tag-secondary-color);
    }
  }
}

.findings-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  .right-buttons {
    position: relative;
    display: flex;
    gap: 0.5rem;
  }
}
