/*
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
*/

::ng-deep {
  .p-card {
    max-height: calc(100vh - 11rem);
    height: calc(100vh - 11rem);
    overflow: hidden;
    }
    .p-tabpanel {
      height: calc(100vh - 19rem);
      overflow: hidden;
    }
}

::ng-deep {
  .assessed-progress .p-progressbar-value {
    background-color: rgba(136, 137, 185, 0.75) !important;
  }

  .submitted-progress .p-progressbar-value {
    background-color: rgba(224, 141, 141, 0.75) !important;
  }

  .accepted-progress .p-progressbar-value {
    background-color: rgba(139, 195, 74, 0.75) !important;
  }

  .rejected-progress .p-progressbar-value {
    background-color: rgba(244, 67, 54, 0.75) !important;
  }

  .p-progressbar {
    height: 20px !important;
    background: rgba(85, 86, 91, 0.3) !important;
  }

  .p-progressbar .p-progressbar-label {
    font-weight: 650;
  }
}

.findings-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  .right-buttons {
    position: relative;
    display: flex;
    gap: 0.5rem;
  }
}
