<!-- View STIG Manager Findings and Create POAM -->

    <p-card>
      <p-tabView>
        <p-tabPanel [header]="'Findings Grid (' + findingsCount + ')'">
          <p-card styleClass="grid-p-card">
            <input pInputText (input)="filterGlobal($event)" id="search" class="search-input" placeholder="Search...">
            <div class="table-container">
              <p-treeTable #stigFindingsTable sortMode="multiple" [value]="dataSource" [filterDelay]="0" [globalFilterFields]="['Group ID', 'Rule Title', 'Benchmark ID', 'Severity']" [columns]="allColumns" [sortMode]="'single'" [sortField]="sortColumn" [sortOrder]="sortDirection === 'asc' ? 1 : -1" (onSort)="updateSort($event)">
                <ng-template pTemplate="header">
                  <tr>
                    <th scope="col" *ngFor="let col of allColumns" [ttSortableColumn]="col">
                      {{col}}
                      <p-treeTableSortIcon [field]="col" *ngIf="col !== 'Update POAM'"></p-treeTableSortIcon>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                  <tr>
                    <td *ngFor="let col of allColumns; let i = index">
                      <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
                      <span *ngIf="col !== 'Update POAM'">
                        {{col === customColumn ? rowData[col] : (rowData[col] || '-')}}
                      </span>
                      <button *ngIf="col === 'Update POAM' && selectedFindings !== 'Has Existing POAM'" pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-text" (click)="addPoam(rowNode)"></button>
                      <button *ngIf="col === 'Update POAM' && selectedFindings === 'Has Existing POAM'" pButton pRipple type="button" icon="pi pi-sync" class="p-button-rounded p-button-text" pTooltip="Navigate to the POAM and update the affected asset list with live data." tooltipPosition="top" (click)="addPoam(rowNode)"></button>
                    </td>
                  </tr>
                </ng-template>
              </p-treeTable>
            </div>
          </p-card>
        </p-tabPanel>

        <p-tabPanel header="Findings Chart">
          <div class="canvas" id="canvas" style="margin-top: 20px;">
            <button pButton pRipple type="button" icon="pi pi-download" class="p-button-rounded p-button-text export-button" (click)="exportChart(findingsChart, 'STIG Manager Findings Chart')"></button>
            <canvas #findingChart class="findings-chart"></canvas>
          </div>
        </p-tabPanel>
      </p-tabView>
      <div class="formgrid grid">
        <div class="field col" style="margin-left: 2rem; margin-right: 2rem;">
          <label for="findingsFilter">Filter Findings:</label>
          <p-dropdown id="findingsFilter"
                      [options]="findingsFilterOptions"
                      [(ngModel)]="selectedFindings"
                      (onChange)="filterFindings()"
                      placeholder="Filter Findings..."
                      optionLabel="label"
                      optionValue="value"
                      [showClear]="true"
                      styleClass="findings-filter w-full"
                      appendTo="body">
          </p-dropdown>
        </div>
        </div>
    </p-card>

    <div class="formgrid grid">
      <div class="field col-12 md:col-6">
        <p-card header="Synchronize Existing POAMs With STIG Manager Assets" styleClass="pt-4 pb-2 mt-4">
          <button pButton
                  pRipple
                  type="button"
                  label="Synchronize POAMs with STIG Manager"
                  class="p-button-outlined p-button-info sync-button w-full"
                  (click)="stigManagerAssetSync()">
          </button>
        </p-card>
      </div>
      <div class="field col-12 md:col-6">
        <p-card header="Manually Import STIG Manager Assets" styleClass="pt-4 pb-2 mt-4">
          <div class="flex align-items-center">
            <div class="w-9 mr-4">
              <p-multiSelect [options]="availableAssets"
                             [(ngModel)]="selectedAssets"
                             optionLabel="name"
                             optionValue="assetId"
                             placeholder="Select STIG Manager Assets"
                             styleClass="w-full"
                             appendTo="body">
              </p-multiSelect>
            </div>
            <div class="w-3">
              <button pButton
                      pRipple
                      type="button"
                      label="Import"
                      class="p-button-outlined p-button-info w-full"
                      (click)="fetchAssetDetails()">
              </button>
            </div>
          </div>
        </p-card>
      </div>
<p-toast></p-toast>
