/*
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND    
! CONDITIONS OF THE LICENSE.  
!########################################################################
*/

.table-container {
  height: 60rem;
  width: 100%;
}

.search-input {
  margin-bottom: 1rem;
}

.grid-p-card {
  border: none;
  padding-inline-end: 0;
  padding-inline-start: 0;
}

.update-POAM-button {
  margin: auto;
  display: flex;
  justify-content: center;
}

.findings-chart {
  height: 400px;
  width: 100%;
}

.canvas {
  position: relative;
  max-height: 400px;
}

.export-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0;
}

:host ::ng-deep .p-tabview .p-tabview-panels {
    padding: 1.25rem 0 1.25rem;
}

:host ::ng-deep .p-card .p-card-title {
  font-size: 12pt;
}

:host ::ng-deep .p-treetable .p-treetable-thead > tr > th {
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

:host ::ng-deep .p-treetable .p-treetable-tbody > tr > td {
  text-align: center;
}

:host ::ng-deep .severity-cell.cat-i {
  color: #d74400;
  font-weight: bold;
}

:host ::ng-deep .severity-cell.cat-ii {
  color: #36c;
  font-weight: bold;
}

:host ::ng-deep .severity-cell.cat-iii {
  color: darkgreen;
  font-weight: bold;
}

:host ::ng-deep .p-treetable-wrapper {
  height: 100%;
}
