::ng-deep .p-dialog-mask {
    z-index: 9999 !important;
}

::ng-deep .p-dialog {
    background-color: var(--surface-card);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

::ng-deep .p-dialog .p-dialog-header {
    padding: 0rem;
}

::ng-deep .p-dialog .p-dialog-content {
    background-color: var(--surface-card);
    color: var(--text-color);
    padding: 2rem;
}

::ng-deep .p-dialog-mask {
    background-color: rgba(0, 0, 0, 0.4);
}

::ng-deep .custom-confirm-popup {
    text-align: center;
}

::ng-deep .custom-confirm-popup .icon-container {
    margin-bottom: 1rem;
}

::ng-deep .custom-confirm-popup .pi-exclamation-triangle {
    font-size: 2rem;
    color: var(--yellow-500, #ffc107);
}

::ng-deep .custom-confirm-popup h3 {
    margin-bottom: 0.5rem;
}

::ng-deep .custom-confirm-popup p {
    margin-bottom: 1rem;
}

::ng-deep .p-dialog-footer {
    display: flex;
    justify-content: center;
    gap: 8rem;
}
