<!--
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
-->

<ul class="layout-menu">
  <ng-container *ngFor="let item of model; let i = index;">
    <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"></li>
    <li *ngIf="item.separator" class="menu-separator"></li>
  </ng-container>
</ul>

<p-dialog [(visible)]="confirmPopupVisible"
          [modal]="true"
          [style]="{width: '450px'}"
          [baseZIndex]="10000000"
          [autoZIndex]="true"
          appendTo="body"
          [closeOnEscape]="false"
          [closable]="false">
  <div class="custom-confirm-popup">
    <div class="icon-container">
      <i class="pi pi-exclamation-triangle"></i>
    </div>
    <h3>Confirm Manual POAM Entry</h3>
    <p>To automate a POAM entry please visit the STIG Manager or Tenable tab. Would you like to proceed with a manual POAM entry?</p>
  </div>
  <ng-template pTemplate="footer">
    <div class="confirm-popup-buttons">
      <button pButton label="Yes" icon="pi pi-check" (click)="onConfirm()" class="p-button-primary"></button>
      <button pButton label="No" icon="pi pi-times" (click)="onReject()" class="p-button-secondary"></button>
    </div>
  </ng-template>
</p-dialog>

<p-toast></p-toast>
