<!--
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
-->

<div class="grid grid-cols-12 gap-4">
  <div class="col-span-12 md:col-span-8">
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 md:col-span-7 mb-4">
        <p-card styleClass="h-full p-8">
          <cpat-poam-advanced-pie class="poam-status-advanced-pie"
                                  [pieChartData]="advancedStatusPieChartData"
                                  [collectionName]="selectedCollection?.collectionName"></cpat-poam-advanced-pie>
        </p-card>
      </div>
      <div class="col-span-12 md:col-span-5 mb-4">
        <p-card styleClass="h-full">
          <cpat-poam-advanced-pie class="poam-severity-advanced-pie"
                                  [pieChartData]="advancedSeverityseverityPieChartData"
                                  [collectionName]="selectedCollection?.collectionName"></cpat-poam-advanced-pie>
        </p-card>
      </div>
    </div>
    <div class="col-span-12 p-0 mb-4">
      <cpat-poam-mainchart *ngIf="poams"
                           [poams]="poams"
                           canvasHeight="34rem"></cpat-poam-mainchart>
    </div>
  </div>
  <div class="col-span-12 md:col-span-4 mb-4 rounded-3xl">
    <p-card class="assigned-grid" styleClass="assigned-grid flex flex-col h-full">
      <p-tabs value="0" class="mt-2 flex-1 flex flex-col">
        <p-tablist>
          <p-tab value="0">All POAMs</p-tab>
          <p-tab value="1">Needs Attention</p-tab>
          <p-tab *ngIf="accessLevel >= 2" value="2">My POAMs</p-tab>
          <p-tab *ngIf="accessLevel >= 1" value="3">Team POAMs</p-tab>
          <p-tab *ngIf="accessLevel >= 3" value="4">Pending Approval</p-tab>
        </p-tablist>

        <p-tabpanels>
          <p-tabpanel value="0" styleClass="flex-1 flex flex-col">
            <div class="flex-1 overflow-hidden">
              <cpat-poam-assigned-grid [assignedData]="this.allPoams"
                                       (managePoam)="managePoam($event)">
              </cpat-poam-assigned-grid>
            </div>
          </p-tabpanel>

          <p-tabpanel value="1" styleClass="flex-1 flex flex-col">
            <div class="flex-1 overflow-hidden">
              <cpat-poam-assigned-grid [assignedData]="this.poamsNeedingAttention"
                                       (managePoam)="managePoam($event)">
              </cpat-poam-assigned-grid>
            </div>
          </p-tabpanel>

          <p-tabpanel *ngIf="accessLevel >= 2" value="2" styleClass="flex-1 flex flex-col">
            <div class="flex-1 overflow-hidden">
              <cpat-poam-assigned-grid [assignedData]="this.submittedPoams"
                                       (managePoam)="managePoam($event)">
              </cpat-poam-assigned-grid>
            </div>
          </p-tabpanel>

          <p-tabpanel *ngIf="accessLevel >= 1" value="3" styleClass="flex-1 flex flex-col">
            <div class="flex-1 overflow-hidden">
              <cpat-poam-assigned-grid [assignedData]="this.teamPoams"
                                       (managePoam)="managePoam($event)">
              </cpat-poam-assigned-grid>
            </div>
          </p-tabpanel>

          <p-tabpanel *ngIf="accessLevel >= 3" value="4" styleClass="flex-1 flex flex-col">
            <div class="flex-1 overflow-hidden">
              <cpat-poam-assigned-grid [assignedData]="this.poamsPendingApproval"
                                       (managePoam)="managePoam($event)">
              </cpat-poam-assigned-grid>
            </div>
          </p-tabpanel>
        </p-tabpanels>
      </p-tabs>
    </p-card>
  </div>
</div>
<cpat-poam-grid [poamsData]="poams"
                [allColumns]="['Last Updated', 'POAM ID', 'POAM Status', 'Adjusted Severity', 'Submitter', 'Submitted Date', 'Scheduled Completion Date', 'POAM']"
                (managePoam)="managePoam($event)">
</cpat-poam-grid>
