<!--
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!########################################################################
-->

<div class="grid">
  <div class="col-12 md:col-8">
    <div class="grid">
      <div class="col-12 md:col-7 mb-3">
        <p-card styleClass="h-full">
          <cpat-poam-advanced-pie class="poam-status-advanced-pie" [pieChartData]="advancedStatusPieChartData" [collectionName]="selectedCollectionName"></cpat-poam-advanced-pie>
        </p-card>
      </div>
      <div class="col-12 md:col-5 mb-3">
        <p-card styleClass="h-full">
          <cpat-poam-advanced-pie class="poam-severity-advanced-pie" [pieChartData]="advancedSeverityseverityPieChartData" [collectionName]="selectedCollectionName"></cpat-poam-advanced-pie>
        </p-card>
      </div>
    </div>
    <div class="col-12 p-0">
      <cpat-poam-mainchart [poams]="poams" [showAddButton]="false" [style]="{'height': '33rem', 'width': '30%'}" (poamsChange)="onPoamsChange($event)"></cpat-poam-mainchart>
    </div>
  </div>
  <div class="col-12 md:col-4">
    <p-card styleClass="h-full ngx-poam-assigned-grid">
      <p-tabView>
        <p-tabPanel header="All POAMs">
          <cpat-poam-assigned-grid [assignedData]="this.allPoams"
                                   [assignedColumns]="['POAM ID', 'Adjusted Severity', 'Poam Status', 'Submitter', 'Manage']"
                                   (managePoam)="managePoam($event)">
          </cpat-poam-assigned-grid>
        </p-tabPanel>
        <p-tabPanel header="Needs Attention">
          <cpat-poam-assigned-grid [assignedData]="this.poamsNeedingAttention"
                                   [assignedColumns]="['POAM ID', 'Adjusted Severity', 'Poam Status', 'Submitter', 'Manage']"
                                   (managePoam)="managePoam($event)">
          </cpat-poam-assigned-grid>
        </p-tabPanel>
        <p-tabPanel *ngIf="this.userPermissions.accessLevel >= 2" header="My POAMs">
          <cpat-poam-assigned-grid [assignedData]="this.submittedPoams"
                                   [assignedColumns]="['POAM ID', 'Adjusted Severity', 'Poam Status', 'Submitter', 'Manage']"
                                   (managePoam)="managePoam($event)">
          </cpat-poam-assigned-grid>
        </p-tabPanel>
        <p-tabPanel *ngIf="this.userPermissions.accessLevel >= 3" header="Pending Approval">
          <cpat-poam-assigned-grid [assignedData]="this.poamsPendingApproval"
                                   [assignedColumns]="['POAM ID', 'Adjusted Severity', 'Poam Status', 'Approval Status', 'Manage']"
                                   [userId]="this.user.userId"
                                   (managePoam)="managePoam($event)">
          </cpat-poam-assigned-grid>
        </p-tabPanel>
      </p-tabView>
    </p-card>
  </div>
</div>
<cpat-poam-grid [poamsData]="poamsForChart"
                [allColumns]="['Last Updated', 'POAM ID', 'POAM Status', 'Adjusted Severity', 'Submitter', 'Submitted Date', 'Scheduled Completion Date', 'Manage']"
                (managePoam)="managePoam($event)">
</cpat-poam-grid>
