<div class="col-12 row">
  <div class="col">
      <div class="p-fluid">
        <div class="toolbar mb-3">
          <div class="left-buttons">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText id="search" class="w-12rem" [(ngModel)]="filterValue" (input)="onGlobalFilter($event)" placeholder="Search Solutions">
              <p-button class="ml-2" [rounded]="true" [text]="true" [raised]="true" severity="secondary" icon="pi pi-filter-slash" (click)="clear()" (onKeyUp)="clear()" pTooltip="Clear all filters"></p-button>
            </span>
  </div>
  <div class="right-buttons">
    <p-button icon="pi pi-external-link"
              severity="secondary"
              [rounded]="true"
              [text]="true"
              (onClick)="dt.exportCSV()">
    </p-button>
  </div>
        </div>
        <div class="scrollable-solutions">
          <p-table #dt [value]="solutions"
                   [columns]="cols"
                   [paginator]="true"
                   [rows]="15"
                   [loading]="loadingSolutions"
                   [showCurrentPageReport]="true"
                   [globalFilterFields]="['solution', 'scorePctg', 'hostTotal', 'total', 'vprScore', 'cvssV3BaseScore']"
                   [filterDelay]="300"
                   [rowHover]="true"
                   dataKey="solution"
                   [resizableColumns]="true"
                   [exportHeader]="'customExportHeader'"
                   styleClass="p-datatable-sm p-datatable-gridlines-hidden">
            <ng-template pTemplate="header">
              <tr>
                <th scope="col" pResizableColumn>
                  <div class="flex align-items-center">
                    Solution
                    <p-columnFilter type="text" field="solution" display="menu" />
                  </div>
                </th>
                <th scope="col" pResizableColumn>
                  <div class="flex align-items-center">
                    Risk Reduction
                    <p-columnFilter type="text" field="scorePctg" display="menu" />
                  </div>
                </th>
                <th scope="col" pResizableColumn>
                  <div class="flex align-items-center">
                    Hosts Affected
                    <p-columnFilter type="numeric" field="hostTotal" display="menu" />
                  </div>
                </th>
                <th scope="col" pResizableColumn>
                  <div class="flex align-items-center">
                    Vulnerabilities
                    <p-columnFilter type="numeric" field="total" display="menu" />
                  </div>
                </th>
                <th scope="col" pResizableColumn>
                  <div class="flex align-items-center">
                    VPR
                    <p-columnFilter type="numeric" field="vprScore" display="menu" />
                  </div>
                </th>
                <th scope="col" pResizableColumn>
                  <div class="flex align-items-center">
                    CVSS v3 Base Score
                    <p-columnFilter type="numeric" field="cvssV3BaseScore" display="menu" />
                  </div>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-solutions>
              <tr (click)="getAffectedHosts(solutions)" (onKeyUp)="getAffectedHosts(solutions)" style="cursor: pointer;">
                <td [innerHTML]="solutions.solution"></td>
                <td>{{solutions.scorePctg}}</td>
                <td>{{solutions.hostTotal}}</td>
                <td>{{solutions.total}}</td>
                <td>{{solutions.vprScore}}</td>
                <td>{{solutions.cvssV3BaseScore}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="4" style="text-align:center">No solutions to display</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
  </div>
</div>


<p-dialog header="Apply the security patch in accordance with the vendor advisory." class="solutionDialog" [(visible)]="displayDialog" [modal]="true" (onHide)="resetData();" [style]="{'width': '80vw'}">
  <ng-template pTemplate="content">
    <div class="grid">
      <div class="col-4" style="background-color: rgba(255, 255, 255, 0.03); border-radius: 15px; padding: 1.5rem 1rem 1rem;">
        <div class="grid">
            <div class="col-6">
                <i class="solutions-icon-desktop"></i>
                <div>
                  <h5>{{solutions[0].hostTotal}}</h5>
                </div>
              <div style="width: 100%; opacity: 0.85;"><span>HOSTS AFFECTED</span></div>
            </div>

            <div class="col-6">
                <i class="solutions-icon-vulnerabilities"></i>
                <div>
                  <h5>{{solutions[0].total}}</h5>
                </div>
              <div style="width: 100%; opacity: 0.85; "><span>VULNERABILITIES</span></div>
            </div>
          </div>
        <br>
        <div class="grid">
            <div class="col-6">
                <i class="solutions-icon-sheild-vpr-high"></i>
                <div>
                  <h5>{{solutions[0].vprScore}}</h5>
                </div>
              <div style="width: 100%; opacity: 0.85; "><span>VULNERABILITY PRIORITY RATING (VPR)</span></div>
            </div>

            <div class="col-6">
                <i class="solutions-icon-vulnerabilities"></i>
                <div>
                  <h5>{{solutions[0].cvssV3BaseScore}}</h5>
                </div>
              <div style="width: 100%; opacity: 0.85;"><span>CVSS V3</span></div>
            </div>
        </div>
          <div *ngIf="solutionVulnDetails.length > 0" style="margin: 1rem 0 0.75rem;">
            <span>
              <b>Vulnerabilities Included ({{solutionVulnDetails.length}})</b>
            </span>
          </div>
          <div class="solutions-plugin vulnerabilities" style="visibility: visible;">

            <div class="p-fluid">
              <div class="scrollable-solutionVulnDetails">
                <p-table #vulnDetailsTable [value]="solutionVulnDetails"
                         [paginator]="true"
                         [rows]="10"
                         [loading]="loadingVulnDetails"
                         [showCurrentPageReport]="true"
                         [globalFilterFields]="['pluginID', 'vprScore', 'cvssV3BaseScore', 'hostTotal']"
                         [filterDelay]="0"
                         [rowHover]="true"
                         dataKey="pluginID">
                  <ng-template pTemplate="header">
                    <tr>
                      <th scope="col" style="max-width:6vw">
                        <div class="flex align-items-center">
                          Plugin
                          <p-columnFilter type="text" field="pluginID" display="menu" />
                        </div>
                      </th>
                      <th scope="col" style="max-width:10vw">
                        <div class="flex align-items-center">
                          VPR
                          <p-columnFilter type="text" field="vprScore" display="menu" />
                        </div>
                      </th>
                      <th scope="col" style="max-width:12vw">
                        <div class="flex align-items-center">
                          CVSS V3
                          <p-columnFilter type="text" field="cvssV3BaseScore" display="menu" />
                        </div>
                      </th>
                      <th scope="col" style="max-width:10vw">
                        <div class="flex align-items-center">
                          Host Total
                          <p-columnFilter type="text" field="hostTotal" display="menu" />
                        </div>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-solutionVulnDetails>
                    <tr style="cursor: pointer;">
                      <td style="max-width:6vw">{{solutionVulnDetails.pluginID}}</td>
                      <td style="max-width:10vw; word-wrap: break-word;">{{solutionVulnDetails.vprScore}}</td>
                      <td style="max-width:10vw; word-wrap: break-word;">{{solutionVulnDetails.cvssV3BaseScore}}</td>
                      <td style="max-width:12vw; word-wrap: break-word;">{{solutionVulnDetails.hostTotal}}</td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="4" style="text-align:center">No vulnerability details to display</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </div>

      <div class="col-8">
        <div class="p-fluid">
          <div class="toolbar" style="display: flex; align-items: center;">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText id="search" [(ngModel)]="dialogFilterValue" (input)="onDialogFilter($event)" placeholder="Search Assets" style="width: 300px;">
            </span>
            <p-button [rounded]="true"
                      [text]="true"
                      [raised]="true"
                      severity="secondary"
                      class="ml-auto"
                      icon="pi pi-filter-slash"
                      (click)="clearDialog()"
                      (onKeyUp)="clearDialog()"
                      pTooltip="Clear all filters">
              </p-button>
          </div>
          <div class="scrollable-affectedHosts">
            <p-table #dialogTable [value]="affectedHosts"
                     [paginator]="true"
                     [rows]="10"
                     [loading]="loadingAffectedHosts"
                     [showCurrentPageReport]="true"
                     [globalFilterFields]="['ip', 'netbiosName', 'dnsName', 'osCPE', 'repository']"
                     [filterDelay]="0"
                     [rowHover]="true"
                     dataKey="ip"
                     styleClass="p-datatable-striped">
              <ng-template pTemplate="header">
                <tr>
                  <th scope="col" style="max-width:6vw">
                    <div class="flex align-items-center">
                      IP Address
                      <p-columnFilter type="text" field="ip" display="menu" />
                    </div>
                  </th>
                  <th scope="col" style="max-width:10vw">
                    <div class="flex align-items-center">
                      NetBIOS
                      <p-columnFilter type="text" field="netbiosName" display="menu" />
                    </div>
                  </th>
                  <th scope="col" style="max-width:12vw">
                    <div class="flex align-items-center">
                      DNS
                      <p-columnFilter type="text" field="dnsName" display="menu" />
                    </div>
                  </th>
                  <th scope="col" style="max-width:10vw">
                    <div class="flex align-items-center">
                      OS CPE
                      <p-columnFilter type="text" field="osCPE" display="menu" />
                    </div>
                  </th>
                  <th scope="col" style="max-width:10vw">
                    <div class="flex align-items-center">
                      Repository
                      <p-columnFilter type="text" field="repository" display="menu" />
                    </div>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-affectedHosts>
                <tr style="cursor: pointer;">
                  <td style="max-width:6vw">{{affectedHosts.ip}}</td>
                  <td style="max-width:10vw; word-wrap: break-word;">{{affectedHosts.netbiosName}}</td>
                  <td style="max-width:12vw; word-wrap: break-word;">{{affectedHosts.dnsName}}</td>
                  <td style="max-width:10vw; word-wrap: break-word;">{{affectedHosts.osCPE}}</td>
                  <td style="max-width:10vw; word-wrap: break-word;">{{affectedHosts.repository.name}}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="4" style="text-align:center">No affected host(s) to display</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
     </div>
  </ng-template>
</p-dialog>
