:root {
    --dark-text-color: #E0E0E0;
    --dark-link-color: #249ee8;
}

body {
    color: #DADADA;
}

.wy-nav-content-wrap {
    background-color: #202020;
}

.wy-nav-content {
    background-color: #252525;
}

.section {
    color: var(--dark-text-color);
}

.highlight {
    background: #191919
}

    .highlight .hll {
        background-color: #49483e
    }

    .highlight .c {
        color: #75715e
    }

    .highlight .err {
        color: #960050;
        background-color: #1e0010
    }

    .highlight .k {
        color: #66d9ef
    }

    .highlight .l {
        color: #ae81ff
    }

    .highlight .n {
        color: #f8f8f2
    }

    .highlight .o {
        color: #f92672
    }

    .highlight .p {
        color: #f8f8f2
    }

    .highlight .ch {
        color: #75715e
    }

    .highlight .cm {
        color: #75715e
    }

    .highlight .cp {
        color: #75715e
    }

    .highlight .cpf {
        color: #75715e
    }

    .highlight .c1 {
        color: #75715e
    }

    .highlight .cs {
        color: #75715e
    }

    .highlight .gd {
        color: #f92672
    }

    .highlight .ge {
        font-style: italic
    }

    .highlight .gi {
        color: #a6e22e
    }

    .highlight .gs {
        font-weight: bold
    }

    .highlight .gu {
        color: #75715e
    }

    .highlight .kc {
        color: #66d9ef
    }

    .highlight .kd {
        color: #66d9ef
    }

    .highlight .kn {
        color: #f92672
    }

    .highlight .kp {
        color: #66d9ef
    }

    .highlight .kr {
        color: #66d9ef
    }

    .highlight .kt {
        color: #66d9ef
    }

    .highlight .ld {
        color: #e6db74
    }

    .highlight .m {
        color: #ae81ff
    }

    .highlight .s {
        color: #e6db74
    }

    .highlight .na {
        color: #a6e22e
    }

    .highlight .nb {
        color: #f8f8f2
    }

    .highlight .nc {
        color: #a6e22e
    }

    .highlight .no {
        color: #66d9ef
    }

    .highlight .nd {
        color: #a6e22e
    }

    .highlight .ni {
        color: #f8f8f2
    }

    .highlight .ne {
        color: #a6e22e
    }

    .highlight .nf {
        color: #a6e22e
    }

    .highlight .nl {
        color: #f8f8f2
    }

    .highlight .nn {
        color: #f8f8f2
    }

    .highlight .nx {
        color: #a6e22e
    }

    .highlight .py {
        color: #f8f8f2
    }

    .highlight .nt {
        color: #f92672
    }

    .highlight .nv {
        color: #f8f8f2
    }

    .highlight .ow {
        color: #f92672
    }

    .highlight .w {
        color: #f8f8f2
    }

    .highlight .mb {
        color: #ae81ff
    }

    .highlight .mf {
        color: #ae81ff
    }

    .highlight .mh {
        color: #ae81ff
    }

    .highlight .mi {
        color: #ae81ff
    }

    .highlight .mo {
        color: #ae81ff
    }

    .highlight .sa {
        color: #e6db74
    }

    .highlight .sb {
        color: #e6db74
    }

    .highlight .sc {
        color: #e6db74
    }

    .highlight .dl {
        color: #e6db74
    }

    .highlight .sd {
        color: #e6db74
    }

    .highlight .s2 {
        color: #e6db74
    }

    .highlight .se {
        color: #ae81ff
    }

    .highlight .sh {
        color: #e6db74
    }

    .highlight .si {
        color: #e6db74
    }

    .highlight .sx {
        color: #e6db74
    }

    .highlight .sr {
        color: #e6db74
    }

    .highlight .s1 {
        color: #e6db74
    }

    .highlight .ss {
        color: #e6db74
    }

    .highlight .bp {
        color: #f8f8f2
    }

    .highlight .fm {
        color: #a6e22e
    }

    .highlight .vc {
        color: #f8f8f2
    }

    .highlight .vg {
        color: #f8f8f2
    }

    .highlight .vi {
        color: #f8f8f2
    }

    .highlight .vm {
        color: #f8f8f2
    }

    .highlight .il {
        color: #ae81ff
    }

.rst-content div[class^="highlight"] {
    border-color: #2A2A2A;
}

.wy-nav-content a,
.wy-nav-content a:visited {
    color: var(--dark-link-color);
}

.btn-neutral {
    background-color: transparent !important;
    opacity: 1 !important;
    color: var(--dark-link-color) !important;
}

    .btn-neutral:hover {
        background-color: transparent !important;
        opacity: 1 !important;
    }

    .btn-neutral:visited {
        background-color: transparent !important;
        opacity: 1 !important;
    }

.btn {
    box-shadow: none;
}

footer {
    color: #D8D8D8;
}

.wy-nav-side {
    background-color: #232323;
}

.wy-menu-vertical li.current {
    background-color: #252525;
}

    .wy-menu-vertical li.current > a,
    .wy-menu-vertical li.on a {
        background-color: #232323;
        color: var(--dark-text-color);
    }

    .wy-menu-vertical li.toctree-l1.current > a,
    .wy-menu-vertical li.current a {
        border-color: #232323;
    }

    .wy-menu-vertical li.current a {
        color: #bbb;
    }

        .wy-menu-vertical li.current a:hover {
            background-color: #303030;
        }

    .wy-menu-vertical a:hover,
    .wy-menu-vertical li.current > a:hover,
    .wy-menu-vertical li.on a:hover {
        background-color: #303030;
    }

.wy-menu-vertical li.toctree-l2.current > a,
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
    background-color: #323236;
}

.wy-side-nav-search {
    background-color: #363636;
}

    .wy-side-nav-search .wy-dropdown > a,
    .wy-side-nav-search > a {
        color: #ddd;
    }

    .wy-side-nav-search input[type="text"] {
        border-color: #111;
        background-color: #252525;
        color: var(--dark-text-color);
    }

.theme-switcher {
    background-color: #1A1A1C;
    color: var(--dark-text-color);
}

.rst-content code.literal, .rst-content tt.literal {
    color: #f9bf26;
    white-space: normal;
}

html.writer-html4 .rst-content dl:not(.docutils) > dt,
html.writer-html5
.rst-content
dl[class]:not(.option-list):not(.field-list):not(.footnote):not( .glossary ):not(.simple) > dt {
    background-color: #0b0b0b;
    color: #007dce;
    border-color: #282828;
}

.rst-content code,
.rst-content tt {
    color: var(--dark-text-color);
}

html.writer-html5 .rst-content table.docutils th {
    border: 1px solid #5b5b5b;
}

html.writer-html4
.rst-content
dl:not(.docutils)
dl:not(.field-list) > dt,
html.writer-html5
.rst-content
dl[class]:not(.option-list):not(.field-list):not(.footnote):not( .glossary ):not(.simple)
dl:not(.field-list) > dt {
    background-color: #0f0f0f;
    color: #959595;
    border-color: #2b2b2b;
}

.rst-content code,
.rst-content tt,
code {
    background-color: #333333;
    border: none;
}

    .rst-content code.xref,
    .rst-content tt.xref,
    a .rst-content code,
    a .rst-content tt {
        color: #cecece;
    }

.rst-content .hint,
.rst-content .important,
.rst-content .tip,
.rst-content .wy-alert-success.admonition,
.rst-content .wy-alert-success.admonition-todo,
.rst-content .wy-alert-success.attention,
.rst-content .wy-alert-success.caution,
.rst-content .wy-alert-success.danger,
.rst-content .wy-alert-success.error,
.rst-content .wy-alert-success.note,
.rst-content .wy-alert-success.seealso,
.rst-content .wy-alert-success.warning,
.wy-alert.wy-alert-success {
    background-color: #00392e;
}

    .rst-content .hint .admonition-title,
    .rst-content .hint .wy-alert-title,
    .rst-content .important .admonition-title,
    .rst-content .important .wy-alert-title,
    .rst-content .tip .admonition-title,
    .rst-content .tip .wy-alert-title,
    .rst-content .wy-alert-success.admonition-todo .admonition-title,
    .rst-content .wy-alert-success.admonition-todo .wy-alert-title,
    .rst-content .wy-alert-success.admonition .admonition-title,
    .rst-content .wy-alert-success.admonition .wy-alert-title,
    .rst-content .wy-alert-success.attention .admonition-title,
    .rst-content .wy-alert-success.attention .wy-alert-title,
    .rst-content .wy-alert-success.caution .admonition-title,
    .rst-content .wy-alert-success.caution .wy-alert-title,
    .rst-content .wy-alert-success.danger .admonition-title,
    .rst-content .wy-alert-success.danger .wy-alert-title,
    .rst-content .wy-alert-success.error .admonition-title,
    .rst-content .wy-alert-success.error .wy-alert-title,
    .rst-content .wy-alert-success.note .admonition-title,
    .rst-content .wy-alert-success.note .wy-alert-title,
    .rst-content .wy-alert-success.seealso .admonition-title,
    .rst-content .wy-alert-success.seealso .wy-alert-title,
    .rst-content .wy-alert-success.warning .admonition-title,
    .rst-content .wy-alert-success.warning .wy-alert-title,
    .rst-content .wy-alert.wy-alert-success .admonition-title,
    .wy-alert.wy-alert-success .rst-content .admonition-title,
    .wy-alert.wy-alert-success .wy-alert-title {
        background-color: #006a56;
    }

.rst-content .admonition,
.rst-content .note,
.rst-content .seealso,
.rst-content .wy-alert-info.admonition,
.rst-content .wy-alert-info.admonition-todo,
.rst-content .wy-alert-info.attention,
.rst-content .wy-alert-info.caution,
.rst-content .wy-alert-info.danger,
.rst-content .wy-alert-info.error,
.rst-content .wy-alert-info.hint,
.rst-content .wy-alert-info.important,
.rst-content .wy-alert-info.tip,
.rst-content .wy-alert-info.warning,
.wy-alert.wy-alert-info {
    background-color: #002c4d;
}

    .rst-content .admonition .admonition-title,
    .rst-content .note .admonition-title,
    .rst-content .note .wy-alert-title,
    .rst-content .seealso .admonition-title,
    .rst-content .seealso .wy-alert-title,
    .rst-content .wy-alert-info.admonition-todo .admonition-title,
    .rst-content .wy-alert-info.admonition-todo .wy-alert-title,
    .rst-content .wy-alert-info.admonition .admonition-title,
    .rst-content .wy-alert-info.admonition .wy-alert-title,
    .rst-content .wy-alert-info.attention .admonition-title,
    .rst-content .wy-alert-info.attention .wy-alert-title,
    .rst-content .wy-alert-info.caution .admonition-title,
    .rst-content .wy-alert-info.caution .wy-alert-title,
    .rst-content .wy-alert-info.danger .admonition-title,
    .rst-content .wy-alert-info.danger .wy-alert-title,
    .rst-content .wy-alert-info.error .admonition-title,
    .rst-content .wy-alert-info.error .wy-alert-title,
    .rst-content .wy-alert-info.hint .admonition-title,
    .rst-content .wy-alert-info.hint .wy-alert-title,
    .rst-content .wy-alert-info.important .admonition-title,
    .rst-content .wy-alert-info.important .wy-alert-title,
    .rst-content .wy-alert-info.tip .admonition-title,
    .rst-content .wy-alert-info.tip .wy-alert-title,
    .rst-content .wy-alert-info.warning .admonition-title,
    .rst-content .wy-alert-info.warning .wy-alert-title,
    .rst-content .wy-alert.wy-alert-info .admonition-title,
    .wy-alert.wy-alert-info .rst-content .admonition-title,
    .wy-alert.wy-alert-info .wy-alert-title {
        background-color: #004a7b;
    }

.rst-content .admonition-todo,
.rst-content .attention,
.rst-content .caution,
.rst-content .warning,
.rst-content .wy-alert-warning.admonition,
.rst-content .wy-alert-warning.danger,
.rst-content .wy-alert-warning.error,
.rst-content .wy-alert-warning.hint,
.rst-content .wy-alert-warning.important,
.rst-content .wy-alert-warning.note,
.rst-content .wy-alert-warning.seealso,
.rst-content .wy-alert-warning.tip,
.wy-alert.wy-alert-warning {
    background-color: #533500;
}

    .rst-content .admonition-todo .admonition-title,
    .rst-content .admonition-todo .wy-alert-title,
    .rst-content .attention .admonition-title,
    .rst-content .attention .wy-alert-title,
    .rst-content .caution .admonition-title,
    .rst-content .caution .wy-alert-title,
    .rst-content .warning .admonition-title,
    .rst-content .warning .wy-alert-title,
    .rst-content .wy-alert-warning.admonition .admonition-title,
    .rst-content .wy-alert-warning.admonition .wy-alert-title,
    .rst-content .wy-alert-warning.danger .admonition-title,
    .rst-content .wy-alert-warning.danger .wy-alert-title,
    .rst-content .wy-alert-warning.error .admonition-title,
    .rst-content .wy-alert-warning.error .wy-alert-title,
    .rst-content .wy-alert-warning.hint .admonition-title,
    .rst-content .wy-alert-warning.hint .wy-alert-title,
    .rst-content .wy-alert-warning.important .admonition-title,
    .rst-content .wy-alert-warning.important .wy-alert-title,
    .rst-content .wy-alert-warning.note .admonition-title,
    .rst-content .wy-alert-warning.note .wy-alert-title,
    .rst-content .wy-alert-warning.seealso .admonition-title,
    .rst-content .wy-alert-warning.seealso .wy-alert-title,
    .rst-content .wy-alert-warning.tip .admonition-title,
    .rst-content .wy-alert-warning.tip .wy-alert-title,
    .rst-content .wy-alert.wy-alert-warning .admonition-title,
    .wy-alert.wy-alert-warning .rst-content .admonition-title,
    .wy-alert.wy-alert-warning .wy-alert-title {
        background-color: #803b00;
    }

.rst-content .danger,
.rst-content .error,
.rst-content .wy-alert-danger.admonition,
.rst-content .wy-alert-danger.admonition-todo,
.rst-content .wy-alert-danger.attention,
.rst-content .wy-alert-danger.caution,
.rst-content .wy-alert-danger.hint,
.rst-content .wy-alert-danger.important,
.rst-content .wy-alert-danger.note,
.rst-content .wy-alert-danger.seealso,
.rst-content .wy-alert-danger.tip,
.rst-content .wy-alert-danger.warning,
.wy-alert.wy-alert-danger {
    background-color: #82231a;
}

    .rst-content .danger .admonition-title,
    .rst-content .danger .wy-alert-title,
    .rst-content .error .admonition-title,
    .rst-content .error .wy-alert-title,
    .rst-content .wy-alert-danger.admonition-todo .admonition-title,
    .rst-content .wy-alert-danger.admonition-todo .wy-alert-title,
    .rst-content .wy-alert-danger.admonition .admonition-title,
    .rst-content .wy-alert-danger.admonition .wy-alert-title,
    .rst-content .wy-alert-danger.attention .admonition-title,
    .rst-content .wy-alert-danger.attention .wy-alert-title,
    .rst-content .wy-alert-danger.caution .admonition-title,
    .rst-content .wy-alert-danger.caution .wy-alert-title,
    .rst-content .wy-alert-danger.hint .admonition-title,
    .rst-content .wy-alert-danger.hint .wy-alert-title,
    .rst-content .wy-alert-danger.important .admonition-title,
    .rst-content .wy-alert-danger.important .wy-alert-title,
    .rst-content .wy-alert-danger.note .admonition-title,
    .rst-content .wy-alert-danger.note .wy-alert-title,
    .rst-content .wy-alert-danger.seealso .admonition-title,
    .rst-content .wy-alert-danger.seealso .wy-alert-title,
    .rst-content .wy-alert-danger.tip .admonition-title,
    .rst-content .wy-alert-danger.tip .wy-alert-title,
    .rst-content .wy-alert-danger.warning .admonition-title,
    .rst-content .wy-alert-danger.warning .wy-alert-title,
    .rst-content .wy-alert.wy-alert-danger .admonition-title,
    .wy-alert.wy-alert-danger .rst-content .admonition-title,
    .wy-alert.wy-alert-danger .wy-alert-title {
        background-color: #b9372b;
    }

.wy-nav-top {
    background-color: #363636;
}

.rst-content table.docutils thead,
.rst-content table.field-list thead,
.wy-table thead {
    color: var(--dark-text-color);
}

.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td,
.wy-table-backed,
.wy-table-odd td,
.wy-table-striped tr:nth-child(2n-1) td {
    background-color: #2C2C2C;
}

.rst-content table.docutils td,
.wy-table-bordered-all td,
.rst-content table.docutils th,
.rst-content table.docutils,
.wy-table-bordered-all {
    border-color: #5b5b5b;
}

    .rst-content table.docutils caption,
    .rst-content table.field-list caption,
    .wy-table caption {
        color: var(--dark-text-color);
    }

.wy-menu-vertical li.toctree-l3.current > a,
.wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a {
    background-color: #323236;
}

.guilabel {
    background-color: #4A4A4A;
    border-color: #666666;
}

.sphinx-tabs-tab[aria-selected="true"] {
    border: 1px solid #343434;
    border-bottom: 1px solid #343434;
    background-color: #323236;
}

.sphinx-tabs-panel {
    border: 1px solid #343434;
    background: #323236;
}

[role="tablist"] {
    border-bottom: 1px solid #343434;
}

.rst-content .line-block {
  margin-bottom: 0;
}

figcaption {
  padding-top: 10px;
  font-size: 85%;
  font-style: italic;
}

.tight-table td {
    white-space:normal !important;
}

.wy-nav-content {
    width: 100%;
    max-width: 1200px !important;
}

.document a:visited {
  color: #2980b9;
}

.document a {
  font-weight: bold;
}


h4 {
  font-size: 100%;
}

p.rubric {
  margin-bottom: 12px;
  font-size: 125%;
}

p.rubric2 {
  margin-bottom: 12px;
  font-size: 150%;
}

p.rubric3 {
  margin-bottom: 12px;
  font-size: 100%;
}

p.rubric-big {
  margin-bottom: 12px;
  font-size: 200%;
}


.rst-content .toctree-wrapper>p.caption, h1, h2, h3, h4, h5, h6, legend {
  margin-top: 0;
  font-weight: 700;
  font-family: Lato,ff-tisa-web-pro,Georgia,Arial,sans-serif;
}