/*
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND    
! CONDITIONS OF THE LICENSE.  
!########################################################################
*/


$nb-themes: nb-register-theme((shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1),
			color-primary-50: rgb(255, 255, 255),
			color-primary-100: rgb(247, 247, 247),
			color-primary-200: rgb(240, 240, 240),
			color-primary-300: rgb(230, 230, 230),
			color-primary-400: rgb(220, 220, 220),
			color-primary-500: rgb(210, 210, 210),
			color-primary-600: rgb(150, 150, 150),
			color-primary-700: rgb(90, 90, 90),
			color-primary-800: rgb(70, 70, 70),
			color-primary-900: rgb(55, 55, 55),
			color-primary-transparent-100: rgba(210, 210, 210, 0.08),
			color-primary-transparent-200: rgba(210, 210, 210, 0.16),
			color-primary-transparent-300: rgba(210, 210, 210, 0.24),
			color-primary-transparent-400: rgba(210, 210, 210, 0.32),
			color-primary-transparent-500: rgba(210, 210, 210, 0.4),
			color-primary-transparent-600: rgba(210, 210, 210, 0.48),

			color-basic-100: rgb(255, 255, 255),
			color-basic-200: rgb(248, 248, 248),
			color-basic-300: rgb(241, 241, 241),
			color-basic-400: rgb(233, 233, 233),
			color-basic-500: rgb(208, 208, 208),
			color-basic-600: rgb(176, 176, 176),
			color-basic-700: rgb(66, 66, 66),
      color-basic-800: rgb(55, 55, 55),
      color-basic-900: rgb(38, 38, 38),
      color-basic-1000: rgb(29, 29, 29),
      color-basic-1100: rgb(24, 24, 24),
			color-basic-transparent-100: rgba(208, 208, 208, 0.08),
			color-basic-transparent-200: rgba(208, 208, 208, 0.16),
			color-basic-transparent-300: rgba(208, 208, 208, 0.24),
			color-basic-transparent-400: rgba(208, 208, 208, 0.32),
			color-basic-transparent-500: rgba(208, 208, 208, 0.40),
			color-basic-transparent-600: rgba(208, 208, 208, 0.48),

			color-success-100: #CFFCD2,
			color-success-200: #A0F9B0,
			color-success-300: #6EED92,
			color-success-400: #48DC81,
			color-success-500: #15C66B,
			color-success-600: #0FAA6A,
			color-success-700: #0A8E65,
			color-success-800: #06725B,
			color-success-900: #045F54,
      color-success-transparent-100: rgba(21, 198, 107, 0.08),
      color-success-transparent-200: rgba(21, 198, 107, 0.16),
      color-success-transparent-300: rgba(21, 198, 107, 0.24),
      color-success-transparent-400: rgba(21, 198, 107, 0.32),
      color-success-transparent-500: rgba(21, 198, 107, 0.40),
      color-success-transparent-600: rgba(21, 198, 107, 0.48),

			color-info-100: #CCFBFE,
			color-info-200: #99F1FD,
			color-info-300: #66DFFA,
			color-info-400: #40C8F5,
			color-info-500: #04A5EF,
			color-info-600: #0280CD,
			color-info-700: #0260AC,
			color-info-800: #01448A,
			color-info-900: #003072,
      color-info-transparent-100: rgba(4, 165, 239, 0.08),
      color-info-transparent-200: rgba(4, 165, 239, 0.16),
      color-info-transparent-300: rgba(4, 165, 239, 0.24),
      color-info-transparent-400: rgba(4, 165, 239, 0.32),
      color-info-transparent-500: rgba(4, 165, 239, 0.4),
      color-info-transparent-600: rgba(4, 165, 239, 0.48),

			color-warning-100: #FDF4CB,
			color-warning-200: #FCE799,
			color-warning-300: #F8D365,
			color-warning-400: #F1BE3F,
			color-warning-500: #E8A004,
			color-warning-600: #C78302,
			color-warning-700: #A76802,
			color-warning-800: #864F01,
			color-warning-900: #6F3E00,
      color-warning-transparent-100: rgba(232, 160, 4, 0.08),
      color-warning-transparent-200: rgba(232, 160, 4, 0.16),
      color-warning-transparent-300: rgba(232, 160, 4, 0.24),
      color-warning-transparent-400: rgba(232, 160, 4, 0.32),
      color-warning-transparent-500: rgba(232, 160, 4, 0.40),
      color-warning-transparent-600: rgba(232, 160, 4, 0.48),

			color-danger-100: #FFE7DB,
			color-danger-200: #FFCAB8,
			color-danger-300: #FFA695,
			color-danger-400: #FF857A,
			color-danger-500: #FF4F51,
			color-danger-600: #DB3949,
			color-danger-700: #B72742,
			color-danger-800: #93193A,
			color-danger-900: #7A0F35,
      color-danger-transparent-100: rgba(255, 79, 81, 0.08),
      color-danger-transparent-200: rgba(255, 79, 81, 0.16),
      color-danger-transparent-300: rgba(255, 79, 81, 0.24),
      color-danger-transparent-400: rgba(255, 79, 81, 0.32),
      color-danger-transparent-500: rgba(255, 79, 81, 0.40),
      color-danger-transparent-600: rgba(255, 79, 81, 0.48),

      button-primary-100: #f2f6ff,
      button-primary-200: #d9e4ff,
      button-primary-300: #a6c1ff,
      button-primary-400: #598bff,
      button-primary-500: #3366ff,
      button-primary-600: #274bdb,
      button-primary-700: #1a34b8,
      button-primary-800: #102694,
      button-primary-900: #091c7a,
      button-primary-transparent-100: rgba(51, 102, 255, 0.08),
      button-primary-transparent-200: rgba(51, 102, 255, 0.16),
      button-primary-transparent-300: rgba(51, 102, 255, 0.24),
      button-primary-transparent-400: rgba(51, 102, 255, 0.32),
      button-primary-transparent-500: rgba(51, 102, 255, 0.40),
      button-primary-transparent-600: rgba(51, 102, 255, 0.48),

      button-basic-100: #f5f5f5,
      button-basic-200: #edeff2,
      button-basic-300: #edf1f7,
      button-basic-400: #e3e7ed,
      button-basic-500: #bbc4d6,
      button-basic-600: #8591a9,
      button-basic-700: #464b59,
      button-basic-800: #383c45,
      button-basic-900: #313338,
      button-basic-1000: #2d2d30,
      button-basic-1100: #212222,
      button-basic-transparent-100: rgba(143, 155, 179, 0.06),
      button-basic-transparent-200: rgba(143, 155, 179, 0.12),
      button-basic-transparent-300: rgba(143, 155, 179, 0.18),
      button-basic-transparent-400: rgba(143, 155, 179, 0.24),
      button-basic-transparent-500: rgba(143, 155, 179, 0.30),
      button-basic-transparent-600: rgba(143, 155, 179, 0.36),

      button-outline-primary-background-color: var(--button-primary-transparent-100),
      button-outline-primary-border-color: var(--button-primary-500),
      button-outline-primary-focus-background-color: var(--button-primary-transparent-300),
      button-outline-primary-focus-border-color: var(--button-primary-500),
      button-outline-primary-hover-background-color: var(--button-primary-transparent-200),
      button-outline-primary-hover-border-color: var(--button-primary-500),
      button-outline-primary-active-background-color: var(--button-primary-transparent-300),
      button-outline-primary-active-border-color: var(--button-primary-500),
      button-outline-primary-disabled-background-color: var(--button-basic-transparent-200),
      button-outline-primary-disabled-border-color: var(--button-basic-transparent-300),
      button-outline-primary-text-color: var(--button-primary-500),
      button-outline-primary-focus-text-color: var(--button-primary-500),
      button-outline-primary-hover-text-color: var(--button-primary-500),
      button-outline-primary-active-text-color: var(--button-primary-500),
      button-filled-primary-background-color: var(--button-primary-500),
      button-filled-primary-border-color: var(--button-primary-500),
      button-filled-primary-focus-background-color: var(--button-primary-600),
      button-filled-primary-focus-border-color: var(--button-primary-700),
      button-filled-primary-hover-background-color: var(--button-primary-400),
      button-filled-primary-hover-border-color: var(--button-primary-400),
      button-filled-primary-active-background-color: var(--button-primary-600),
      button-filled-primary-active-border-color: var(--button-primary-600),
      button-filled-primary-disabled-background-color: var(--button-basic-transparent-300),
      button-filled-primary-disabled-border-color: var(--button-basic-transparent-300),

      button-outline-basic-background-color: var(--button-basic-transparent-100),
      button-outline-basic-border-color: var(--button-basic-500),
      button-outline-basic-focus-background-color: var(--button-basic-transparent-300),
      button-outline-basic-focus-border-color: var(--button-basic-500),
      button-outline-basic-hover-background-color: var(--button-basic-transparent-200),
      button-outline-basic-hover-border-color: var(--button-basic-500),
      button-outline-basic-active-background-color: var(--button-basic-transparent-300),
      button-outline-basic-active-border-color: var(--button-basic-500),
      button-outline-basic-disabled-background-color: var(--button-basic-transparent-200),
      button-outline-basic-disabled-border-color: var(--button-basic-transparent-300),
      button-outline-basic-text-color: var(--button-basic-500),
      button-outline-basic-focus-text-color: var(--button-basic-500),
      button-outline-basic-hover-text-color: var(--button-basic-500),
      button-outline-basic-active-text-color: var(--button-basic-500),
      button-filled-basic-background-color: var(--button-basic-500),
      button-filled-basic-border-color: var(--button-basic-500),
      button-filled-basic-focus-background-color: var(--button-basic-600),
      button-filled-basic-focus-border-color: var(--button-basic-700),
      button-filled-basic-hover-background-color: var(--button-basic-400),
      button-filled-basic-hover-border-color: var(--button-basic-400),
      button-filled-basic-active-background-color: var(--button-basic-600),
      button-filled-basic-active-border-color: var(--button-basic-600),
      button-filled-basic-disabled-background-color: var(--button-basic-transparent-300),
      button-filled-basic-disabled-border-color: var(--button-basic-transparent-300),
      --shadow: 0 0.5rem 1rem 0 #101010,
    ), slate,	dark);
