/*
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND    
! CONDITIONS OF THE LICENSE.  
!########################################################################
*/



.nb-column-name {
  width: 100%;
}

.import-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .import-item {
    margin-right: 8vw;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 400px) {
  .nb-column-name, .nb-column-size {
    width: 50%;
  }
}

@media screen and (min-width: 500px) {
  .nb-column-name, .nb-column-size, .nb-column-kind {
    width: 33.333%;
  }
}

@media screen and (min-width: 600px) {
  .nb-column-name {
    width: 31%;
  }

  .nb-column-size, .nb-column-kind, .nb-column-items {
    width: 23%;
  }
}
