/*
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND    
! CONDITIONS OF THE LICENSE.  
!########################################################################
*/

.grid-nb-card {
    border: none;
}
.grid {
  overflow: auto;
  width: 100%;
}

.nb-column-Asset-Count,
.nb-column-Severity,
.nb-column-Benchmark-ID {
  text-align: center !important;
}

.update-POAM-button {
  margin: auto;
  display: flex;
  justify-content: center;
}

.search-input {
  margin-bottom: 1rem;
}

.findings-chart {
  height: 400px;
  width: 100%;
}

.canvas {
  position: relative;
  max-height: 400px;
}

.export-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0;
}

.filter-container {
  margin-top: 20px;
}

.sync-button {
  width: 60rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.import-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.assets-select {
  max-width: 50rem;
}


.import-button {
  margin-left: 2rem;
  width: 10rem;
}


::ng-deep nb-tree-grid-header-cell,
::ng-deep nb-tree-grid-cell {
  text-align: center;
}

::ng-deep .severity-cell.cat-i {
  color: #d74400;
  font-weight: bold;
}

::ng-deep .severity-cell.cat-ii {
  color: #36c;
  font-weight: bold;
}

::ng-deep .severity-cell.cat-iii {
  color: darkgreen;
  font-weight: bold;
}
