<!--
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
-->

<p-toast />
<div class="card mb-6"><b>VRAM IAV Data Updated:</b> {{ vramUpdatedDate }}</div>

<cpat-vram-popup></cpat-vram-popup>

<p-fileUpload
  styleClass="mt-6"
  #fileUpload
  name="file"
  [url]="uploadUrl"
  [multiple]="false"
  accept=".xls,.xlsx,.xlsm"
  [maxFileSize]="10000000"
  (onUpload)="onUpload()"
  (onSelect)="onSelect($event)"
  [customUpload]="true"
  (uploadHandler)="customUploadHandler($event)"
>
  <ng-template
    pTemplate="header"
    let-files
    let-chooseCallback="chooseCallback"
    let-clearCallback="clearCallback"
    let-uploadCallback="uploadCallback"
  >
    <div class="flex flex-wrap justify-between items-center w-full gap-2">
      <div class="flex gap-2">
        <p-button
          (onClick)="choose($event, chooseCallback)"
          icon="pi pi-file"
          [rounded]="true"
          [outlined]="true"
          pTooltip="Select File"
          tooltipPosition="bottom"
        />
        <p-button
          (onClick)="uploadEvent(uploadCallback)"
          icon="pi pi-cloud-upload"
          [rounded]="true"
          [outlined]="true"
          severity="success"
          [disabled]="!files || files.length === 0"
          pTooltip="Upload Selected File"
          tooltipPosition="bottom"
          [ngClass]="{'focus-attention': files?.length > 0}"
        />
        <p-button
          (onClick)="clearCallback()"
          icon="pi pi-times"
          [rounded]="true"
          [outlined]="true"
          severity="danger"
          [disabled]="!files || files.length === 0"
          pTooltip="Clear Selection"
          tooltipPosition="bottom"
        />
      </div>
      <p-progressBar
        [value]="totalSizePercent"
        [showValue]="false"
        class="md:w-80 h-4 w-full md:ml-auto"
        [ngClass]="{ 'exceeded-progress-bar': totalSizePercent > 100 }"
      >
        <span class="whitespace-nowrap">{{ totalSize }}B / 10Mb</span>
      </p-progressBar>
    </div>
  </ng-template>
  <ng-template
    pTemplate="content"
    let-files
    let-uploadedFiles="uploadedFiles"
    let-removeFileCallback="removeFileCallback"
    let-removeUploadedFileCallback="removeUploadedFileCallback"
  >
    <div *ngIf="files?.length > 0">
      <h5>Pending</h5>
      <div class="flex flex-wrap p-0 sm:p-8 gap-8">
        <div
          *ngFor="let file of files; let i = index"
          class="flex flex-col items-center gap-4 m-0 px-12 border border-gray-200 dark:border-gray-700 rounded"
        >
          <div>
            <i class="pi pi-file text-4xl"></i>
          </div>
          <span class="font-semibold">{{ file.name }}</span>
          <div>{{ formatSize(file.size) }}</div>
          <p-badge value="Pending" severity="warn" />
          <p-button
            icon="pi pi-times"
            (onClick)="onRemoveFile($event, file, removeFileCallback)"
            [outlined]="true"
            [rounded]="true"
            severity="danger"
          />
        </div>
      </div>
    </div>
    <div *ngIf="uploadedFiles?.length > 0">
      <h5>Completed</h5>
      <div class="flex flex-wrap p-0 sm:p-8 gap-8">
        <div
          *ngFor="let file of uploadedFiles; let i = index"
          class="flex flex-col items-center gap-4 m-0 px-12 border border-gray-200 dark:border-gray-700 rounded"
        >
          <div>
            <i class="pi pi-file text-4xl"></i>
          </div>
          <span class="font-semibold">{{ file.name }}</span>
          <div>{{ formatSize(file.size) }}</div>
          <p-badge value="Completed" class="mt-4" severity="success" />
          <p-button
            icon="pi pi-times"
            (onClick)="removeUploadedFileCallback(i)"
            [outlined]="true"
            [rounded]="true"
            severity="danger"
          />
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="empty">
    <div class="flex items-center justify-center flex-col h-64">
      <i
        class="pi pi-cloud-upload text-8xl p-8 border-2 rounded-full text-gray-400 dark:text-gray-500 border-gray-400 dark:border-gray-500"
      ></i>
      <p class="mt-6 mb-0 text-gray-600 dark:text-gray-400">Drag and drop files here to upload.</p>
    </div>
  </ng-template>
</p-fileUpload>
