<h1 id="title" class="title">Register</h1>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>

<form (ngSubmit)="register()" #form="ngForm" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-username">Username:</label>
    <input nbInput
          [(ngModel)]="user.userName"
          #userName="ngModel"
          id="input-username"
          name="userName"
          pattern="^[a-zA-Z0-9.\-_]+$"
          placeholder="Username"
          autofocus
          fullWidth
          [status]="email.dirty ? (email.invalid ? 'danger' : 'success') : ''"
          [required]="getConfigValue('forms.validation.userName.required')"
          [minlength]="getConfigValue('forms.validation.userName.minLength')"
          [maxlength]="getConfigValue('forms.validation.userName.maxLength')"
          [attr.aria-invalid]="userName.invalid && userName.touched ? true : null">

  </div>

  <div class="form-control-group">
    <label class="label" for="input-firstname">First name:</label>
    <input nbInput
           [(ngModel)]="user.firstName"
           #firstName="ngModel"
           id="input-firstname"
           name="firstName"
           placeholder="First name"
           autofocus
           fullWidth>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-lastname">Last name:</label>
    <input nbInput
           [(ngModel)]="user.lastName"
           #lastName="ngModel"
           id="input-lastname"
           name="lastName"
           placeholder="Last name"
           autofocus
           fullWidth>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-email">Email address:</label>
    <input nbInput
           [(ngModel)]="user.email"
           #email="ngModel"
           id="input-email"
           name="email"
           pattern=".+@.+..+"
           placeholder="Email address"
           fullWidth
           [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
           [required]="getConfigValue('forms.validation.email.required')"
           [attr.aria-invalid]="email.invalid && email.touched ? true : null">

  </div>

  <div class="form-control-group">
    <label class="label" for="input-phone">Phone Number:</label>
    <input nbInput
           [(ngModel)]="user.phoneNumber"
           #phoneNumber="ngModel"
           id="input-phone"
           name="phoneNumber"
           pattern="[0-9]{3} [0-9]{3} [0-9]{4}"
           placeholder="111-222-3333"
           fullWidth>

  </div>

  <div class="form-control-group">
    <label class="label" for="input-password">Password:</label>
    <input nbInput
           [(ngModel)]="user.password"
           #password="ngModel"
           type="password"
           id="input-password"
           name="password"
           placeholder="Password"
           fullWidth
           [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
           [required]="getConfigValue('forms.validation.password.required')"
           [minlength]="getConfigValue('forms.validation.password.minLength')"
           [maxlength]="getConfigValue('forms.validation.password.maxLength')"
           [attr.aria-invalid]="password.invalid && password.touched ? true : null">

  </div>

  <div class="form-control-group">
    <label class="label" for="input-re-password">Repeat password:</label>
    <input nbInput
           [(ngModel)]="user.confirmPassword"
           #rePass="ngModel"
           type="password"
           id="input-re-password"
           name="rePass"
           placeholder="Confirm Password"
           fullWidth
           [status]="email.dirty ? (email.invalid || password.value != rePass.value  ? 'danger' : 'success') : ''"
           [required]="getConfigValue('forms.validation.password.required')"
           [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null">

  </div>

  <div class="col">
    <ng2-smart-table [settings]="collectionPermissionsSettings" [source]="collectionPermissions" mode="inline"
      (createConfirm)="confirmCreate($event)" (editConfirm)="confirmEdit($event)"
      (deleteConfirm)="confirmDelete($event)">
    </ng2-smart-table>
  </div>

  <div class="form-control-group accept-group" *ngIf="getConfigValue('forms.register.terms')">
    <nb-checkbox name="terms" [(ngModel)]="user.terms" [required]="getConfigValue('forms.register.terms')">
      Agree to <a href="#" target="_blank"><strong>Terms & Condiions</strong></a>
    </nb-checkbox>
  </div>
<!--  [disabled]="submitted || !form.valid" -->
  <button nbButton
          fullWidth
          status="success"
         
          [class.btn-pulse]="submitted"
          >
    Register
  </button>
</form>

<section *ngIf="socialLinks && socialLinks.length > 0" class="links" aria-label="Social sign in">
  or enter with:
  <div class="socials">
    <ng-container *ngFor="let socialLink of socialLinks">
      <a *ngIf="socialLink.link"
         [routerLink]="socialLink.link"
         [attr.target]="socialLink.target"
         [attr.class]="socialLink.icon"
         [class.with-icon]="socialLink.icon">{{ socialLink.title }}</a>
      <a *ngIf="socialLink.url"
         [attr.href]="socialLink.url"
         [attr.target]="socialLink.target"
         [attr.class]="socialLink.icon"
         [class.with-icon]="socialLink.icon">{{ socialLink.title }}</a>
    </ng-container>
  </div>
</section>

<section class="another-action" aria-label="Sign in">
  Already have an account? <a class="text-link" routerLink="../login">Log in</a>
</section>
