/*
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
*/

.form-container {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.switch-container {
  display: flex;
  align-items: center;
}

.switch-container label {
  margin-left: 0.5rem;
}

.showApprovalHistory {
  background-color: var(--ground-background);
  border: 1px solid var(--border-color);
  padding: 1rem;
  overflow: auto;
  max-height: 300px;
}

.showApprovalHistory pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0;
}

::ng-deep .cpat-poam-approve .p-dialog .p-dialog-header {
  padding: 0 !important;
}
