/*
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
*/

.status ::ng-deep .p-select-label.p-placeholder {
  color: var(--text-color) !important;
}

.team-badges-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

:host ::ng-deep .team-badge {
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.status-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

hr {
  background-color: black;
  border-color: black;
  color: black;
  height: 1px;
  border: 0;
}

.switch-container {
  display: flex;
  align-items: center;
}

.switch-container label {
  margin-left: 0.5rem;
}

.showCheckData {
  background-color: var(--ground-background);
  border: 1px solid var(--border-color);
  padding: 1rem;
  overflow: auto;
  max-height: 500px;
}

.showCheckData pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0;
}

:host ::ng-deep {
  .p-card-content {
    padding: 0;
  }

  .p-stepper-panel {
    height: 100%;
  }

  .p-splitter {
    border: none;
  }

  .splitter-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
  }

  .table-container {
    flex: 1;
    width: 100%;
    overflow: auto;
  }

  .full-width-table {
    width: 100%;
  }

  .p-datatable-thead > tr > th {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }

  .p-datatable-thead > tr > th:hover {
    background-color: rgba(100, 100, 100, 0.2) !important;
    cursor: pointer;
  }

  .stepper-content-wrapper {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
    position: relative;
  }

  .stepper-buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid var(--border-color);
    flex-shrink: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--card-background);
    z-index: 1;
  }

  .stepper-content {
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 60px;
    height: 100%;
  }

  .stepper-content-wrapper cpat-poam-assets {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow-y: auto;
    flex: 1;
  }

  .p-datatable {
    .p-datatable-wrapper {
      overflow-x: auto;
    }
  }
}

::ng-deep .poam-control-menu {
  background-color: var(--card-background) !important;
  margin-top: 0.5rem !important;
  width: 14rem !important;
}

::ng-deep .poam-control-menu .p-menu-list {
  background: transparent;
}

::ng-deep .poam-control-menu .p-menu-item {
  margin: 0 0.25rem 0;
  font-size: 1.05rem;
}

::ng-deep .poam-control-menu .p-menu-item-icon {
  font-size: 1.4rem;
  margin-right: 0.5rem;
  margin-left: -0.35rem;
}

::ng-deep .poam-control-menu .p-menu-item-link {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}

::ng-deep .poam-control-menu .p-menu-item-link:hover {
  color: rgba(255, 255, 255, 0.87);
  background: rgba(255, 255, 255, 0.03);
}

::ng-deep .menu-item-secondary .p-menu-item-icon {
  color: var(--p-surface-600) !important;
}

::ng-deep .menu-item-warning .p-menu-item-icon {
  color: var(--p-yellow-600) !important;
}

::ng-deep .menu-item-success .p-menu-item-icon {
  color: var(--p-green-600) !important;
}

::ng-deep .menu-item-primary .p-menu-item-icon {
  color: var(--p-blue-600) !important;
}

::ng-deep .menu-item-danger .p-menu-item-icon {
  color: var(--p-red-600) !important;
}

::ng-deep .menu-item-info .p-menu-item-icon {
  color: var(--p-blue-400) !important;
}

::ng-deep .p-dialog-mask {
  z-index: 9999 !important;
  background-color: rgba(0, 0, 0, 0.4);
}

::ng-deep .p-dialog {
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 1rem;

  .p-dialog-header {
    padding: 2rem 2rem 0 2rem;
    border: none;
    display: flex;
    justify-content: center;

    .p-dialog-title {
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
    }
  }

  .p-dialog-content {
    padding: 2rem;
    text-align: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    > i {
      font-size: 2rem;
      color: var(--p-yellow-500);
      margin-bottom: 1rem;
      display: block;
    }
  }

  > span {
    font-size: 1.1rem;
    line-height: 1.5;
    display: block;
    width: 100%;
  }

  .p-dialog-footer {
    display: flex;
    border: none;
    justify-content: space-between;
    padding: 1rem 1rem 0.5rem 1rem;
  }
}

::ng-deep .confirm-popup {
  text-align: center;
}

::ng-deep .confirm-popup .icon-container {
  margin-bottom: 1rem;
}

::ng-deep .confirm-popup .pi-exclamation-triangle {
  font-size: 2rem;
  color: var(--p-yellow-500, #ffc107);
}

::ng-deep .confirm-popup h3 {
  margin-bottom: 0.5rem;
}

::ng-deep .confirm-popup p {
  margin-bottom: 1rem;
}

.inactive-tab {
  color: var(--text-secondary-color) !important;
  opacity: 0.7;
}

:host ::ng-deep {
  .p-dialog .p-dialog-content {
    padding: 0 !important;
    overflow: hidden !important;
  }
}

:host ::ng-deep {
  .team-mitigations-container {
    .p-tabs {
      .p-tablist {
        .p-tab {
          &.inactive-tab {
            span {
              color: var(--p-tabs-nav-button-color) !important;
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}
