/*
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND    
! CONDITIONS OF THE LICENSE.  
!########################################################################
*/

.label-tags {
  display: inline-block;
  width: auto;
  padding: 2px 4px;
  margin-right: 8px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.status-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.button-group {
  display: flex;
  margin-right: 1rem;
  gap: 3rem;
}

hr {
  background-color: black;
  border-color: black;
  color: black;
  height: 1px;
  border: 0;
}

.switch-container {
  display: flex;
  align-items: center;
}

.switch-container label {
  margin-left: 0.5rem;
}

.showCheckData {
  background-color: var(--surface-b);
  border: 1px solid var(--surface-d);
  padding: 1rem;
  overflow: auto;
  max-height: 500px;
}

.showCheckData pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0;
}

:host ::ng-deep {
  .p-card-content {
    padding: 0;
  }

  .p-stepper-panel {
    height: 100%;
  }

  .p-splitter {
    border: none;
  }

  .splitter-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
  }

  .table-container {
    flex: 1;
    width: 100%;
    overflow: auto;
  }

  .full-width-table {
    width: 100%;
  }

  .p-datatable {
    .p-datatable-wrapper {
      overflow-x: auto;
    }

    table {
      width: 100%;
    }
  }

  .p-datatable-thead > tr > th {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }

  .stepper-content-wrapper {
    display: flex;
    flex-direction: column;
    height: 420px;
  }

  .stepper-content {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
    margin-bottom: .5rem;
  }

  .stepper-buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid var(--surface-d);

    &.first-panel {
      justify-content: flex-end;
    }
  }

  .p-datatable {
    .p-datatable-wrapper {
      overflow-x: auto;
    }
  }
}


::ng-deep .p-dialog {
  max-height: 90vh;
  overflow-y: auto;
}
