<!--
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!########################################################################
-->

<nb-layout>
  <nb-layout-header fixed>
    <div class="container">
      <img src="../assets/cpat.png" alt="C-PAT" (click)="reloadPage()" (keyup.enter)="reloadPage()" tabindex="0" style="cursor: pointer;">
      </div>
    <nb-actions size="small">
      <nb-action icon="bell-outline"
                 status="basic"
                 [badgeDot]="notificationCount > 0"
                 badgePosition="top right"
                 badgeStatus="info"
                 [nbPopover]="notificationsPanel"
                 nbPopoverTrigger="hover">
      </nb-action>
      <nb-action icon="collapse-outline" (click)="toggleSidebar()" (keyup.enter)="toggleSidebar()"></nb-action>
      <nb-action>
        <nb-user class="userIcon"
                 size="large"
                 [nbContextMenu]="userMenu"
                 [name]="this.fullName"
                 [title]="this.userRole"
                 picture="../assets/user.png"
                 nbContextMenuTrigger="hover"></nb-user>
      </nb-action>
    </nb-actions>
      <ng-template #notificationsPanel>
      <cpat-notifications-popover></cpat-notifications-popover>
    </ng-template>
  </nb-layout-header>
  <nb-layout-header subheader *ngIf="classification?.showBanner">
    <div [style.background-color]="classification?.classificationColorCode" style="width: 100%;text-align: center; font-weight:500;">
      {{ classification?.classificationText }}
    </div>
  </nb-layout-header>

  <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive start>
    <div *ngIf="this.sidebarExpanded" class="sidebar-header">
      <nb-actions size="tiny" style="padding-bottom: 10px">
        <nb-action icon="moon-outline" (click)="onSelectedThemeChange('dark')"></nb-action>
        <nb-action icon="color-palette-outline" (click)="onSelectedThemeChange('slate')"></nb-action>
        <nb-action icon="star-outline" (click)="onSelectedThemeChange('cosmic')"></nb-action>
        <nb-action icon="sun-outline" (click)="onSelectedThemeChange('corporate')"></nb-action>
        <!--<nb-action icon="***********" (click)="onSelectedThemeChange('material-light')"></nb-action>-->
        <!--<nb-action icon="***********" (click)="onSelectedThemeChange('material-dark')"></nb-action>-->
        <!--<nb-action icon="***********" (click)="onSelectedThemeChange('aquamarine')"></nb-action>-->
      </nb-actions>
    </div>
    <div *ngIf="this.sidebarExpanded" class="sidebar-top" style="margin-top:10px; display: flex; justify-content: center; align-items: center;">
      <nb-select class="appearance-outline size-mediumoutline" placeholder="Select Collection" [(ngModel)]="selectedCollection" name="selectedCollection" id="selectedCollection" (ngModelChange)="resetWorkspace($event)" size="small" shape="semi-round">
        <nb-option *ngFor="let collection of collections" [value]="collection.collectionId">
          {{collection.collectionName}}
        </nb-option>
      </nb-select>
    </div>
    <div class="menu-content">
      <nb-menu [items]="menuItems" id="menuItems" autoCollapse="true"></nb-menu>
    </div>
  </nb-sidebar>


  <nb-layout-column>
    <router-outlet>
      <nb-alert *ngIf="selectCollectionMsg" role="alert">
        <p class="alert-title"><b>Welcome to C-PAT!</b></p>
        Please select a workspace collection from the left sidebar. If you do not have access to select a workspace collection, please contact your C-PAT administrator to be assigned a collection.
      </nb-alert>
    </router-outlet>
  </nb-layout-column>
  <nb-layout-footer fixed *ngIf="classification?.showBanner">
    <div [style.background-color]="classification?.classificationColorCode" style="width: 100%; text-align: center; font-weight: 500;">
      {{ classification?.classificationText }}
    </div>
  </nb-layout-footer>
</nb-layout>
