/*
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND    
! CONDITIONS OF THE LICENSE.  
!########################################################################
*/

html,
body {
	height: 100%;
	margin: 0;
}

 ::ng-deep .p-overlaypanel {
    margin-top: 1rem;
  }

 ::ng-deep .p-overlaypanel-content {
    padding: 0;
  }

.layout-wrapper {
	display: flex;
	flex-direction: column;
	font-family: Open Sans, sans-serif;
	font-size: 0.9375rem;
	font-weight: 400;
	line-height: 1.25rem;
	min-height: 100%;
}

.layout-topbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem;
	padding-bottom: 1.5rem;
	height: 5.5rem;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
	background-color: var(--surface-a);
	z-index: 3;
}

.layout-topbar-left {
	display: flex;
	align-items: center;
	margin-left: 0.75rem;
}

.layout-topbar-right {
	display: flex;
	align-items: center;
	gap: 1rem;
}

:host ::ng-deep .notification-button {
  position: relative !important;
  overflow: visible !important;
}

:host ::ng-deep .notification-button .p-badge {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  background-color: var(--primary-color) !important;
  color: black !important;
}

:host ::ng-deep .p-badge {

}

.topbar-profile-button {
	display: flex;
	align-items: center;
	padding: .5rem;
	cursor: pointer;
}

.topbar-profile-button>img {
	width: 50px;
	height: 50px;
	margin-right: .55rem;
	border-radius: 25px;
}

.topbar-profile-button i {
	margin-left: .5rem;
	transition: transform var(--transition-duration);
}

.profile-details {
	display: flex;
	flex-direction: column;
}

.profile-fullName {
	color: var(--v-menuitem-text-color);
	opacity: 0.9;
}

.profile-userRole {
	color: var(--v-menuitem-text-color-secondary);
	opacity: 0.9;
}

.layout-sidebar-wrapper {
	position: fixed;
	top: 5.25rem;
	left: 0;
	bottom: 0;
	width: 18.25rem;
	transform: translateX(-100%);
	transition: transform 0.3s;
	z-index: 2;
	background-color: var(--surface-a);
	box-shadow: 0, 0.5rem, 1rem, 0, rgba(0, 0, 0, 0.1);
}

.layout-sidebar-wrapper.active {
	transform: translateX(0);
}

.layout-sidebar {
	height: 100%;
	overflow-y: auto;
}

.layout-menu-container {
	padding: 1rem;
}

.menu-header {
	margin-bottom: 1rem;
}

.menu-filter {
	margin-bottom: 5px;
}

:host ::ng-deep .custom-height-dropdown {
  height: 2.5rem !important;
  width: 100%;
  align-items: center;
  font-weight: 500;
}

.menu-content {
	flex: 1;
}

.layout-content-wrapper {
	margin-left: 17.5rem;
	padding-top: 4.95rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	min-height: calc(100% - 4.5rem);
}

.layout-content {
	overflow-y: auto;
	padding: 2.25rem;
	padding-bottom: 1.25rem;
	flex: 1;
}

.layout-subheader {
	padding: 2rem;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
	background-color: var(--surface-a);
	position: sticky;
	top: 0;
	z-index: 2;
	margin-right: -1rem;
}

.subheader-content {
	text-align: center;
	font-weight: 500;
}

@media screen and (min-width: 992px) {
	.layout-sidebar-wrapper {
		transform: translateX(0);
	}
}
