<!--
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!########################################################################
-->

<div class="layout-wrapper">
  <app-config></app-config>
  <div class="layout-topbar">
    <div class="layout-topbar-left">
      <img src="../assets/cpat.png" alt="C-PAT" (click)="reloadPage()" (keyup.enter)="reloadPage()" style="cursor: pointer;">
    </div>
    <div class="layout-topbar-right">
      <button pButton type="button" icon="pi pi-palette text-2xl" class="p-button-text p-button-rounded p-button-plain" (click)="showConfig()"></button>
      <p-button type="button"
                icon="pi pi-bell text-2xl"
                [badge]="notificationCount"
                (click)="op.toggle($event)"
                styleClass="p-button-text p-button-rounded p-button-plain notification-button">
      </p-button>
      <p-overlayPanel #op class="overlay" [dismissable]="true" [showCloseIcon]="false">
        <cpat-notifications-popover [overlayPanel]="op"></cpat-notifications-popover>
      </p-overlayPanel>
      <div class="topbar-profile" (mouseenter)="menu.toggle($event)" (mouseleave)="menu.toggle($event)">
        <button type="button"
                pstyleclass="@next"
                enterclass="hidden"
                class="topbar-profile-button p-link"
                enteractiveclass="scalein"
                leavetoclass="hidden"
                leaveactiveclass="fadeout"
                (click)="menu.toggle($event)">
          <img src="../assets/user.png">
          <span class="profile-details">
            <span class="profile-fullName">
              {{ this.fullName }}
            </span>
            <span class="profile-userRole">
              {{ this.userRole }}
            </span>
          </span>
          <i class="pi pi-angle-down"></i>
        </button>
        <p-menu #menu [popup]="true" [model]="userMenu"></p-menu>
      </div>
    </div>
  </div>
  <div class="layout-sidebar-wrapper">
    <div class="layout-sidebar">
      <div class="layout-menu-container">
        <div class="menu-filter">
          <p-dropdown [options]="collections"
                      [(ngModel)]="selectedCollection"
                      placeholder="{{ collectionName }}"
                      optionLabel="collectionName"
                      (onChange)="resetWorkspace($event.value.collectionId)"
                      styleClass="custom-height-dropdown">
          </p-dropdown>
        </div>
        <div class="menu-content">
          <p-panelMenu [model]="menuItems" [multiple]="false"></p-panelMenu>
        </div>
      </div>
    </div>
  </div>
  <div class="layout-content-wrapper">
    <div class="layout-subheader" *ngIf="classification?.showBanner">
      <div [style.background-color]="classification?.classificationColorCode" class="subheader-content">
        {{ classification?.classificationText }}
      </div>
    </div>
    <div class="layout-content">
      <router-outlet></router-outlet>
      <p-messages *ngIf="selectCollectionMsg" severity="info" [closable]="false">
        <ng-template pTemplate>
          <p><strong>Welcome to C-PAT!</strong></p>
          <p>Please select a workspace collection from the left sidebar. If you do not have access to select a workspace collection, please contact your C-PAT administrator to be assigned a collection.</p>
        </ng-template>
      </p-messages>
    </div>
  </div>
