<!--
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
-->

<!-- Import STIG Manager Collection Section -->
<div class="field mb-4">
  <p-select
    [options]="filteredCollections"
    [(ngModel)]="selectedSTIGManagerCollection"
    (onChange)="onSTIGManagerCollectionSelect($event.value)"
    placeholder="Select Collection to Import..."
    optionLabel="name"
    [showClear]="true"
    styleClass="stigmanCollectionSelect"
    appendTo="body"
    [style]="{ width: '100%' }"
  >
  </p-select>
</div>
<div class="field mb-2">
  <p-button
    label="Import Selected"
    class="import-button"
    styleClass="p-button-primary"
    (click)="importSTIGManagerCollection()"
    (onKeyUp)="importSTIGManagerCollection()"
    [disabled]="!selectedSTIGManagerCollection"
    [style]="{ width: '100%', 'margin-bottom': '10px' }"
    [outlined]="true"
  >
  </p-button>
</div>
<div class="field">
  <p-button
    label="Import All Remaining"
    class="import-all-button"
    styleClass="p-button-warn"
    (click)="importAllRemainingCollections()"
    (onKeyUp)="importAllRemainingCollections()"
    [disabled]="filteredCollections.length === 0"
    [style]="{ width: '100%' }"
    [outlined]="true"
  >
  </p-button>
</div>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
