/*
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
*/

button[pTreeTableToggler] {
  background: transparent;
  border: none;
  padding: 0;
}

.scrollable-labels {
  max-height: 60vh;
  overflow-y: auto;
}

.search-label {
  display: block;
}

.search-input {
  margin-bottom: 1rem;
}

.p-column-name {
  width: 100%;
}

@media screen and (min-width: 400px) {
  .p-column-name,
  .p-column-size {
    width: 50%;
  }
}

@media screen and (min-width: 500px) {
  .p-column-name,
  .p-column-size,
  .p-column-kind {
    width: 33.333%;
  }
}

@media screen and (min-width: 600px) {
  .p-column-name {
    width: 31%;
  }
  .p-column-size,
  .p-column-kind,
  .p-column-items {
    width: 23%;
  }
}

::ng-deep {
  body {
    min-height: 20rem;
  }

  .p-treetable-header,
  .p-treetable-header button {
    text-transform: capitalize;
  }
}
