<!--
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!########################################################################
-->

<div class="col-12 row">
  <div class="col" *ngIf="poam">
    <nb-card>
      <nb-card-header>
        General Information - Poam Id: {{ poam.poamId }}
        <hr />
        <div class="form-container">
          <div class="status-container">

            <!-- Status -->
            <div class="status-group">
              <label id="status">POAM Status: <span class="text-danger">*</span></label>
              <nb-select outline status="basic" placeholder="POAM Status..." [(ngModel)]="poam.status" name="status">
                <nb-option value="Draft">Draft</nb-option>
                <nb-option value="Submitted">Submitted</nb-option>
                <nb-option value="Approved">Approved</nb-option>
                <nb-option value="Rejected">Rejected</nb-option>
                <nb-option value="Closed">Closed</nb-option>
                <nb-option value="Expired">Expired</nb-option>
              </nb-select>
            </div>

            <!-- Poam Type -->
            <div class="status-group" style="margin-left:20px;">
              <label id="poamType">POAM Type: <span class="text-danger">*</span></label>
              <nb-select outline status="basic" placeholder="POAM Type..." [(ngModel)]="poam.poamType" name="poamType">
                <nb-option value="Standard">Standard</nb-option>
                <nb-option value="Restricted">Restricted</nb-option>
              </nb-select>
            </div>

            <!-- POAM History Button -->
            <div class="status-group" style="margin-left:20px;">
              <button nbButton outline status="basic" (click)="poamLog(poam)">Poam History</button>
            </div>

            <!-- Extend POAM Button -->
            <div class="status-group" style="margin-left:20px;">
              <button nbButton outline status="warning" (click)="extendPoam(poam)">Extend Poam</button>
            </div>

            <!-- Close POAM Button -->
            <div class="status-group" style="margin-left:20px;">
              <button nbButton outline status="danger" *ngIf="showClose" (click)="closePoam(poam)"  nbTooltip="Update POAM Status to Closed" nbTooltipPlacement="top" nbTooltipStatus="basic">Close Poam</button>
            </div>
          </div>

          <!-- View STIG Manager Check Data -->
          <div *ngIf="poam.stigCheckData?.length > 0" class="form-group">
            <nb-toggle [(ngModel)]="showCheckData">View STIG Manager Check Data</nb-toggle>
            <textarea *ngIf="showCheckData" nbInput fullWidth style="font-weight: normal;" [(ngModel)]="poam.stigCheckData" name="stigCheckData" cols="180" rows="16" maxlength="4000"></textarea>
          </div>

          <!-- Description -->
          <div class="form-group">
            <label>Description of the POAM: <span class="text-danger">*</span></label>
            <textarea nbInput fullWidth placeholder="Description..." rows="8" [(ngModel)]="poam.description" name='description' maxlength="2000"></textarea>
          </div>

          <!-- AA Package -->
          <div class="form-group">
            <label id="aaPackage">A&A Package: <span class="text-danger">*</span></label>
            <input type="text" nbInput fullWidth placeholder="AA Package..." [(ngModel)]="poam.aaPackage" name='aaPackage'>
          </div>

          <!-- Source -->
          <div class="form-group">
            <label id="vulnerabilitySource">Source Identifying Control Vulnerability: <span class="text-danger">*</span></label>
            <input nbInput
                   fullWidth
                   type="text"
                   placeholder="Vulnerability Source..."
                   [(ngModel)]="poam.vulnerabilitySource"
                   [nbAutocomplete]="autoNgModel"
                   name="vulnerabilitySource">

            <nb-autocomplete #autoNgModel>
              <nb-option *ngFor="let source of vulnerabilitySources" [value]="source">
                {{ source }}
              </nb-option>
            </nb-autocomplete>
          </div>

          <!-- STIG Title -->
          <div class="form-group" *ngIf="poam.vulnerabilitySource === 'STIG'">
            <label for="stigInput">STIG Title:</label>
            <input nbInput
                   fullWidth
                   type="text"
                   placeholder="Select STIG..."
                   [value]="selectedStigTitle"
                   [nbAutocomplete]="autoStigTitle"
                   name="stigInput">

            <nb-autocomplete #autoStigTitle (selectedChange)="onStigSelected($event)">
              <nb-option *ngFor="let stig of stigmanSTIGs" [value]="stig">
                {{ stig.title }}
              </nb-option>
            </nb-autocomplete>
          </div>

          <!-- Source Identifying Control Vulnerability - ID # for ACAS/EXORD-->
          <div class="form-group" *ngIf="poam.vulnerabilitySource != 'STIG'">
            <label id="vulnerabilityId">Source Identifying Control Vulnerability - ID #: </label>
            <nb-form-field>
              <input type="text" nbInput fullWidth placeholder="Vulnerability ID..." [(ngModel)]="poam.vulnerabilityId" name='vulnerabilityId'>
            </nb-form-field>
          </div>

          <!-- Source Identifying Control Vulnerability - ID # for STIG-->
          <div class="form-group" *ngIf="poam.vulnerabilitySource === 'STIG'">
            <label id="vulnerabilityId">Source Identifying Control Vulnerability - ID #: </label>
            <nb-form-field>
              <input type="text" nbInput fullWidth placeholder="Vulnerability ID..." [(ngModel)]="poam.vulnerabilityId" name='vulnerabilityId'>
              <button nbSuffix nbButton ghost (click)="validateStigManagerCollection()" nbTooltip="Update POAM Asset list with STIG Manager findings for the provided Vulnerability ID." nbTooltipPlacement="top" nbTooltipStatus="basic" [disabled]="!poam.vulnerabilityId">
                <nb-icon icon="download-outline"></nb-icon>
              </button>
            </nb-form-field>
          </div>

          <!-- Vuln Restricted Id -->
          <div class="form-group">
            <label id="vulnIdRestricted">Vulnerability Restricted - ID #: </label>
            <input type="text" nbInput fullWidth placeholder="Vulnerability Restricted ID..." [(ngModel)]="poam.vulnIdRestricted" name='vulnIdRestricted'>
          </div>

          <!-- IAVM # -->
          <div class="form-group" *ngIf="poam.vulnerabilitySource === 'Assured Compliance Assessment Solution (ACAS) Nessus Scanner' || poam.vulnerabilitySource === 'EXORD'">
            <label for="iavmNumber">IAVM #: </label>
            <nb-form-field>
              <input type="text" nbInput fullWidth placeholder="IAVM #..." [(ngModel)]="poam.iavmNumber" name='iavmNumber'>
              <a href="https://vram.navy.mil/standalone_pages/iav_display?notice_number={{poam.iavmNumber}}" target="_blank" nbTooltip="View IAV Release Details" nbTooltipPlacement="top" nbTooltipStatus="basic" nbSuffix nbButton ghost [disabled]="!poam.iavmNumber"><nb-icon icon="link-2-outline"></nb-icon></a>
            </nb-form-field>
          </div>

          <!-- IAV Comply By Date -->
          <div class="form-group" *ngIf="poam.iavmNumber && isIavmNumberValid(poam.iavmNumber)">
            <label for="iavComplyByDate">IAV Comply By Date: <span class="text-danger">*</span></label>
            <input nbInput
                   placeholder="IAV Comply By Date..."
                   [nbDatepicker]="iavComplyByDatePicker"
                   [(ngModel)]="dates.iavComplyByDate"
                   name="iavComplyByDate">
            <nb-datepicker #iavComplyByDatePicker></nb-datepicker>
          </div>

          <!-- Raw Severity -->
          <div class="form-group">
            <label id="rawSeverity">Raw Severity Value: <span class="text-danger">*</span></label>
            <nb-select placeholder="Raw Severity..." [(ngModel)]="poam.rawSeverity" name='rawSeverity'>
              <nb-option value="CAT I - Critical/High">CAT I - Critical/High</nb-option>
              <nb-option value="CAT II - Medium">CAT II - Medium</nb-option>
              <nb-option value="CAT III - Low">CAT III - Low</nb-option>
            </nb-select>
          </div>

          <!-- Adj Severity -->
          <div class="form-group">
            <label id="adjSeverity">Adjusted Severity Value: </label>
            <nb-select placeholder="Adjusted Severity..." [(ngModel)]="poam.adjSeverity" name='adjSeverity'>
              <nb-option value="CAT I - Critical/High">CAT I - Critical/High</nb-option>
              <nb-option value="CAT II - Medium">CAT II - Medium</nb-option>
              <nb-option value="CAT III - Low">CAT III - Low</nb-option>
            </nb-select>
          </div>

          <!-- Owner -->
          <div class="form-group" *ngIf="canModifyOwner">
            <label id="ownerId">POAM Owner: <span class="text-danger">*</span></label>
            <nb-select maxlength="6" outlineid="ownerId" name="ownerId" [(ngModel)]="poam.ownerId" placeholder="Owner..." required>
              <nb-option *ngFor="let user of collectionOwners" [value]="user.userId">
                {{ user.fullName }} - {{ user.userEmail }}
              </nb-option>
            </nb-select>
          </div>

          <!-- Scheduled Completion Date -->
          <div class="form-group">
            <label for="scheduledCompletionDate">Scheduled Completion Date: <span class="text-danger">*</span></label>
            <input nbInput
                   placeholder="Scheduled Completion Date..."
                   [nbDatepicker]="scheduledCompletionDatePicker"
                   [(ngModel)]="dates.scheduledCompletionDate"
                   name="scheduledCompletionDate">
            <nb-datepicker #scheduledCompletionDatePicker></nb-datepicker>
          </div>

          <!-- Submitted Date -->
          <div class="form-group">
            <label for="submittedDate">Submitted Date: </label>
            <input nbInput placeholder="Submitted Date..."
                   [nbDatepicker]="submittedDatePicker"
                   [(ngModel)]="dates.submittedDate"
                   name="submittedDate">
            <nb-datepicker #submittedDatePicker></nb-datepicker>
          </div>
        </div>
</nb-card-header>

      <nb-card-body>
        <nb-stepper orientation="horizontal">


          <!-- Assignees -->
          <nb-step label="Assignees">
            <div class="col">
              <angular2-smart-table [settings]="poamAssigneesSettings" [source]="poamAssignees" mode="inline"
                                    (createConfirm)="confirmCreate($event)" (deleteConfirm)="confirmDelete($event)">
              </angular2-smart-table>
            </div>
            <button style="margin-left:20px; margin-top:20px;" nbButton outline status="info" nbStepperNext>next</button>
          </nb-step>

          <!-- Approvers -->
          <nb-step label="Approvers">
            <!-- <button style="margin-left:20px;" nbButton outline status="info" *ngIf="showApprove" (click)="approvePoam(poam)">Approve</button>
        <button style="margin-left:20px;" nbButton outline status="info" *ngIf="showApprove" (click)="approvePoamAll(poam)">Approve ALL</button> -->
            <div class="col">
              <angular2-smart-table [settings]="poamApproverSettings" [source]="poamApprovers" mode="inline"
                                    (createConfirm)="confirmCreateApprover($event)" (editConfirm)="confirmEditApprover($event)" (deleteConfirm)="confirmDeleteApprover($event)">
              </angular2-smart-table>
            </div>
            <button style="margin-left:20px; margin-top:20px;" nbButton outline status="info" nbStepperPrevious>prev</button>
            <button style="margin-left:20px; margin-top:20px;" nbButton outline status="info" nbStepperNext>next</button>
          </nb-step>

          <!-- Assets -->
          <nb-step label="Assets">
            <div class="col">
              <angular2-smart-table [settings]="poamAssetsSettings" [source]="poamAssets" mode="inline"
                                    (createConfirm)="confirmCreate($event)" (deleteConfirm)="confirmDelete($event)">
              </angular2-smart-table>
            </div>
            <button style="margin-left:20px; margin-top:20px;" nbButton outline status="info" nbStepperPrevious>prev</button>
            <button style="margin-left:20px; margin-top:20px;" nbButton outline status="info" nbStepperNext>next</button>
          </nb-step>

          <!-- Mitigations -->
          <nb-step label="Mitigations">
            <textarea nbInput fullWidth [(ngModel)]="poam.mitigations" placehoder="Mitigations" name='mitigations' cols="180"
                      rows="16" maxlength="2000"></textarea>
            <button style="margin-left:20px; margin-top:20px;" nbButton outline status="info" nbStepperPrevious>prev</button>
            <button style="margin-left:20px; margin-top:20px;" nbButton outline status="info" nbStepperNext>next</button>
          </nb-step>

          <!-- Required Resources -->
          <nb-step label="Required Resources">
            <textarea nbInput fullWidth [(ngModel)]="poam.requiredResources" placehoder="Required Resources" name='mitigations' cols="180"
                      rows="16" maxlength="2000"></textarea>
            <button style="margin-left:20px; margin-top:20px;" nbButton outline status="info" nbStepperPrevious>prev</button>
            <button style="margin-left:20px; margin-top:20px;" nbButton outline status="info" nbStepperNext>next</button>
          </nb-step>

          <!-- Milestones -->
          <nb-step label="Milestones">
            <div class="col">
            <angular2-smart-table [settings]="poamMilestoneSettings" [source]="poamMilestones" mode="inline"
            (createConfirm)="confirmCreateMilestone($event)" (editConfirm)="confirmEditMilestone($event)" (deleteConfirm)="confirmDeleteMilestone($event)">
            </angular2-smart-table>
            </div>
            <button style="margin-left:20px; margin-top:20px;" nbButton outline status="info" nbStepperPrevious>prev</button>
            <button style="margin-left:20px; margin-top:20px;" nbButton outline status="info" nbStepperNext>next</button>
          </nb-step>

          <!-- Residual Risk -->
          <nb-step label="Residual Risk">
            <textarea nbInput fullWidth [(ngModel)]="poam.residualRisk" placehoder="Residual Risk" name='residualRisk' cols="180"
                      rows="16" maxlength="2000"></textarea>
            <button style="margin-left:20px; margin-top:20px;" nbButton outline status="info" nbStepperPrevious>prev</button>
            <button style="margin-left:20px; margin-top:20px;" nbButton outline status="info" nbStepperNext>next</button>
          </nb-step>

          <!-- Business Impact -->
          <nb-step label="Business Impact">
            <nb-select fullWidth placeholder="Business Impact..." [(ngModel)]="poam.businessImpactRating" name='businessImpactRating'>
              <nb-option value="Very Low">Very Low</nb-option>
              <nb-option value="Low">Low</nb-option>
              <nb-option value="Moderate">Moderate</nb-option>
              <nb-option value="High">High</nb-option>
              <nb-option value="Very High">Very High</nb-option>
            </nb-select>
            <textarea *ngIf="poam.businessImpactRating === 'Moderate' || poam.businessImpactRating === 'High' || poam.businessImpactRating === 'Very High'"
                      style="margin-top: 20px;" nbInput fullWidth [(ngModel)]="poam.businessImpactDescription"
                      placeholder="Business Impact Description..." name='businessImpactDescription' cols="180" rows="16"></textarea>

            <button style="margin-left:20px; margin-top:20px;" nbButton outline status="info" nbStepperPrevious>prev</button>
            <button style="margin-left:20px; margin-top:20px;" nbButton outline status="info" nbStepperNext>next</button>
          </nb-step>

          <!-- Notes -->
          <nb-step label="Notes">
            <textarea nbInput fullWidth style="font-weight: normal;" [(ngModel)]="poam.notes" placehoder="Notes" name='notes' cols="180" rows="16" maxlength="4000"></textarea>
            <button style="margin-left:20px; margin-top:20px;" nbButton outline status="info" nbStepperPrevious>prev</button>
            <button style="margin-left:20px; margin-top:20px;" nbButton outline status="info" nbStepperNext>next</button>
          </nb-step>

          <!-- Labels -->
          <nb-step label="POAM Labels">
           <div class="col">
            <angular2-smart-table [settings]="poamLabelsSettings" [source]="poamLabels" mode="inline"
            (createConfirm)="confirmCreateLabel($event)"
            (deleteConfirm)="confirmDeleteLabel($event)">
            </angular2-smart-table>
           </div>
           <button style="margin-left:20px; margin-top:20px;" nbButton outline status="info" nbStepperPrevious>prev</button>
           <button style="margin-left:20px; margin-top:20px;" nbButton outline status="info" disabled nbStepperNext>next</button>
         </nb-step>

        </nb-stepper>
      </nb-card-body>

      <!-- Buttons -->
      <nb-card-footer>
        <button style="margin-left:20px;" nbButton outline status="info" *ngIf="showSubmit" (click)="submitPoam(poam)">Submit Poam</button>
        <button style="margin-left:20px;" nbButton outline status="info" *ngIf="showSubmit" (click)="savePoam(poam)">Save</button>
        <button style="margin-left:20px;" nbButton outline status="info" (click)="cancelPoam()">Cancel Edit</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
