<!--
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!########################################################################
-->

<div class="col-12 row">
  <div class="col" *ngIf="poam">
    <nb-card>
      <nb-card-header>
        General Information - Poam Id: {{ poam.poamId }}
        <hr />
        <div class="form-container">
          <div class="status-container">
            <!-- Status -->
            <div class="status-group">
              <label for="status">*Status:</label>
              <nb-select outline status="info" placeholder="Status: " [(ngModel)]="poam.status" name="status">
                <nb-option value="Draft">Draft</nb-option>
                <nb-option value="Submitted">Submitted</nb-option>
                <nb-option value="Approved">Approved</nb-option>
                <nb-option value="Rejected">Rejected</nb-option>
                <nb-option value="Closed">Closed</nb-option>
                <nb-option value="Expired">Expired</nb-option>
              </nb-select>
            </div>

            <!-- Poam Type -->
            <div class="status-group">
              <label for="poamType">*Poam Type:</label>
              <nb-select outline status="info" placeholder="Type: " [(ngModel)]="poam.poamType" name="poamType">
                <nb-option value="Standard">Standard</nb-option>
                <nb-option value="Restricted">Restricted</nb-option>
              </nb-select>
            </div>
          </div>

          <!-- Description -->
          <div class="form-group">
            <label>*Description:</label>
            <input type="text" nbInput fullWidth placeholder="Description" [(ngModel)]="poam.description" name='description'>
          </div>

          <!-- AA Package -->
          <div class="form-group">
            <label for="aaPackage">*AA Package:</label>
            <input type="text" nbInput fullWidth placeholder="AA Package" [(ngModel)]="poam.aaPackage" name='aaPackage'>
          </div>

          <!-- Source -->
          <div class="form-group">
            <label for="vulnerabilitySource">*Source:</label>
            <input type="text" nbInput fullWidth placeholder="Source" [(ngModel)]="poam.vulnerabilitySource" name='vulnerabilitySource'>
          </div>

          <!-- Raw Severity -->
          <div class="form-group">
            <label for="rawSeverity">*Raw Severity:</label>
            <input type="text" nbInput fullWidth placeholder="Raw Severity" [(ngModel)]="poam.rawSeverity" name='rawSeverity'>
          </div>

          <!-- Adj Severity -->
          <div class="form-group">
            <label for="adjSeverity">Adj Severity:</label>
            <input type="text" nbInput fullWidth placeholder="Adj Severity" [(ngModel)]="poam.adjSeverity" name='adjSeverity'>
          </div>

          <!-- Vulnerability Id -->
          <div class="form-group">
            <label for="vulnerabilityId">Vulnerability Id:</label>
            <input type="text" nbInput fullWidth placeholder="VulnerabilityId" [(ngModel)]="poam.vulnerabilityId" name='vulnerabilityId'>
          </div>

          <!-- Vuln Restricted Id -->
          <div class="form-group">
            <label for="vulnIdRestricted">Vuln Restricted Id:</label>
            <input type="text" nbInput fullWidth placeholder="Vulnerability Id Restricted" [(ngModel)]="poam.vulnIdRestricted" name='vulnIdRestricted'>
          </div>

          <!-- Owner -->
          <div class="form-group">
            <label for="ownerId">*Owner:</label>
            <nb-select maxlength="6" outlineid="ownerId" name="ownerId" [(ngModel)]="poam.ownerId" placeholder="Owner" required>
              <nb-option *ngFor="let user of collectionOwners" [value]="user.userId">
                {{ user.fullName }} - {{ user.userEmail }}
              </nb-option>
            </nb-select>
          </div>

          <!-- Scheduled Completion Date -->
          <div class="form-group">
            <label for="scheduledCompletionDate">Scheduled Completion Date:</label>
            <input type="date" nbInput placeholder="Sched Completion Date" [(ngModel)]="dates.scheduledCompletionDate" name='scheduledCompletionDate'>
          </div>

          <!-- Submitted Date -->
          <div class="form-group">
            <label for="submittedDate">Submitted Date:</label>
            <input type="date" nbInput placeholder="Submitted Date" [(ngModel)]="dates.submittedDate" name='submittedDate'>
          </div>
        </div>
      </nb-card-header>

      <nb-card-body>
        <nb-stepper orientation="horizontal">
          <nb-step label=">Assignees">
            <label style="margin-left: 40%;">Assignees</label>
            <div class="col">
              <angular2-smart-table [settings]="poamAssigneesSettings" [source]="poamAssignees" mode="inline"
                               (createConfirm)="confirmCreate($event)" (deleteConfirm)="confirmDelete($event)">
              </angular2-smart-table>
            </div>
            <br>
            <button style="margin-left:20px;" nbButton outline status="info" nbStepperNext>next</button>
          </nb-step>
          <nb-step label=">Approvers">
            <button style="margin-left:20px;" nbButton outline status="info" *ngIf="showApprove" (click)="approvePoam(poam)">Approve</button>
            <button style="margin-left:20px;" nbButton outline status="info" *ngIf="showApprove" (click)="approvePoamAll(poam)">Approve ALL</button>
            <br>
            <label style="margin-left: 40%;">Approvers</label>
            <div class="col">
              <angular2-smart-table [settings]="poamApproverSettings" [source]="poamApprovers"
                               (createConfirm)="confirmCreateApprover($event)" (editConfirm)="confirmEditApprover($event)" (deleteConfirm)="confirmDeleteApprover($event)">
              </angular2-smart-table>
            </div>
            <br>
            <br>
            <button style="margin-left:20px;" nbButton outline status="info" nbStepperPrevious>prev</button>
            <button style="margin-left:20px;" nbButton outline status="info" nbStepperNext>next</button>
          </nb-step>
          <nb-step label=">Assets">
            <label style="margin-left: 40%;">Assets</label>
            <div class="col">
              <angular2-smart-table [settings]="poamAssetsSettings" [source]="poamAssets" mode="inline"
                               (createConfirm)="confirmCreate($event)" (deleteConfirm)="confirmDelete($event)">
              </angular2-smart-table>
            </div>
            <br>
            <button style="margin-left:20px;" nbButton outline status="info" nbStepperPrevious>prev</button>
            <button style="margin-left:20px;" nbButton outline status="info" nbStepperNext>next</button>
          </nb-step>
          <nb-step label=">Mitigations">
            <label style="margin-left: 40%;">Mitigations</label>
            <textarea [(ngModel)]="poam.mitigations" placehoder="Milestones" name='mitigations' cols="180"
                      rows="18"></textarea>
            <br>
            <button style="margin-left:20px;" nbButton outline status="info" nbStepperPrevious>prev</button>
            <button style="margin-left:20px;" nbButton outline status="info" nbStepperNext>next</button>
          </nb-step>
          <nb-step label="Required Resources">
            <label style="margin-left: 40%;">Required Resources</label>
            <textarea [(ngModel)]="poam.requiredResources" placehoder="Required Resources" name='mitigations' cols="180"
                      rows="18"></textarea>
            <br>
            <button style="margin-left:20px;" nbButton outline status="info" nbStepperPrevious>prev</button>
            <button style="margin-left:20px;" nbButton outline status="info" nbStepperNext>next</button>
          </nb-step>
          <nb-step label="Milestones">
            <label style="margin-left: 40%;">Milestones</label>
            <textarea [(ngModel)]="poam.milestones" placehoder="Milestones" name='milestones' cols="180"
                      rows="18"></textarea>
            <br>
            <button style="margin-left:20px;" nbButton outline status="info" nbStepperPrevious>prev</button>
            <button style="margin-left:20px;" nbButton outline status="info" nbStepperNext>next</button>
          </nb-step>
          <nb-step label="Residual Risk">
            <label style="margin-left: 40%;">Residual Risk</label>
            <textarea [(ngModel)]="poam.residualRisk" placehoder="Residual Risk" name='residualRisk' cols="180"
                      rows="18"></textarea>
            <br>
            <button style="margin-left:20px;" nbButton outline status="info" nbStepperPrevious>prev</button>
            <button style="margin-left:20px;" nbButton outline status="info" nbStepperNext>next</button>
          </nb-step>
          <nb-step label="Business Impact">
            <label style="margin-left: 40%;">Business Impact</label>
            <textarea [(ngModel)]="poam.businessImpact" placehoder="Business Impact" name='businessImpact' cols="180"
                      rows="18"></textarea>
            <br>
            <button style="margin-left:20px;" nbButton outline status="info" nbStepperPrevious>prev</button>
            <button style="margin-left:20px;" nbButton outline status="info" nbStepperNext>next</button>
          </nb-step>
          <nb-step label="Notes">
            <label style="margin-left: 40%;">Notes</label>
            <textarea [(ngModel)]="poam.notes" placehoder="Notes" name='notes' cols="180" rows="18"></textarea>
            <br>
            <button style="margin-left:20px;" nbButton outline status="info" nbStepperPrevious>prev</button>
            <button style="margin-left:20px;" nbButton outline status="info" disabled nbStepperNext>next</button>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
      <nb-card-footer>
        <button style="margin-left:20px;" nbButton outline status="info" *ngIf="showSubmit" (click)="savePoam(poam)">Save</button>
        <button style="margin-left:20px;" nbButton outline status="info" *ngIf="showSubmit" (click)="submitPoam(poam)">Submit Poam</button>
        <button style="margin-left:20px;" nbButton outline status="info" *ngIf="showClose" (click)="closePoam(poam)">Close Poam</button>
        <button style="margin-left:20px;" nbButton outline status="info" (click)="cancelPoam()">Cancel Edit</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
