<!--
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
-->

<div class="grid grid-cols-12 gap-4">
  <div class="col-span-12">
    <div class="scrollable-teams overflow-hidden">
      <p-table #dt [value]="assignedTeams" [globalFilterFields]="['assignedTeamId', 'assignedTeamName', 'adTeam']" [rows]="15" [paginator]="true" [scrollable]="true" scrollHeight="flex" [rowHover]="true" dataKey="assignedTeamId">
        <ng-template pTemplate="caption">
          <div class="flex items-center justify-between">
            <p-iconField iconPosition="left">
              <p-inputIcon>
                <i class="pi pi-search"></i>
              </p-inputIcon>
              <input pInputText type="text" (input)="filterGlobal($event)" placeholder="Search Teams" class="search-input" />
            </p-iconField>
            <p-button icon="pi pi-plus" [rounded]="true" variant="text" [raised]="true" severity="primary" pTooltip="Add a Team" (onClick)="openNew()" />
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" pSortableColumn="assignedTeamId">Assigned Team ID</th>
            <th scope="col" pSortableColumn="assignedTeamName">Assigned Team Name</th>
            <th scope="col" pSortableColumn="adTeam">AD Team</th>
            <th scope="col">Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-assignedTeam>
          <tr (click)="editTeam(assignedTeam)" class="cursor-pointer hover:surface-200">
            <td>{{ assignedTeam.assignedTeamId }}</td>
            <td>{{ assignedTeam.assignedTeamName }}</td>
            <td>
              <div class="flex flex-wrap gap-2">
                @for (team of getAdTeamsArray(assignedTeam.adTeam); track team) {
                  <p-tag [value]="team" [rounded]="true" [class.hidden]="!team"> </p-tag>
                }
              </div>
            </td>
            <td>
              <div class="flex items-center justify-center gap-2">
                <p-button icon="pi pi-pencil" [rounded]="true" variant="text" (onClick)="$event.stopPropagation(); editTeam(assignedTeam)" />
                <p-button icon="pi pi-trash" [rounded]="true" variant="text" severity="danger" (onClick)="$event.stopPropagation(); onRowDelete(assignedTeam)" />
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-dialog [(visible)]="teamDialog" [style]="{ width: '850px' }" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="mb-6">
      <label for="name" class="mb-2 block text-base font-medium">Team Name:</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="editingAssignedTeam!.assignedTeamName"
        required
        [ngClass]="{ 'ng-invalid ng-dirty': !editingAssignedTeam?.assignedTeamName }"
        maxlength="99"
        class="w-full rounded-md border border-gray-300 px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />

      <label for="adTeam" class="mb-2 mt-4 block text-base font-medium">AD Team(s):</label>
      <p-multiSelect
        id="adTeam"
        [(ngModel)]="selectedAdTeams"
        [options]="filteredTeams"
        [filter]="true"
        (onFilter)="filterTeams($event)"
        placeholder="Select AD Team(s)"
        [showToggleAll]="false"
        [showHeader]="true"
        [panelStyle]="{ width: '100%' }"
        class="w-full"
      >
      </p-multiSelect>
    </div>
    <div class="space-y-2">
      <label class="mb-2 block text-base font-medium">Team Permissions:</label>
      <p-pickList
        [source]="availableCollections"
        [target]="assignedCollections"
        sourceHeader="Available Collections"
        targetHeader="Assigned Collections"
        [dragdrop]="true"
        [responsive]="true"
        [showSourceControls]="false"
        [showTargetControls]="false"
        [sourceStyle]="{ height: '300px' }"
        [targetStyle]="{ height: '300px' }"
        (onMoveToTarget)="onMoveToTarget($event)"
        (onMoveToSource)="onMoveToSource($event)"
        (onMoveAllToTarget)="onMoveToTarget($event)"
        (onMoveAllToSource)="onMoveToSource($event)"
        class="w-full"
      >
        <ng-template let-collection pTemplate="item"> {{ collection.collectionName }} </ng-template>
      </p-pickList>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button label="Cancel" icon="pi pi-times" variant="text" (onClick)="hideDialog()" />
    <p-button label="Save" icon="pi pi-check" variant="text" (onClick)="saveTeam()" [disabled]="!editingAssignedTeam?.assignedTeamName" />
  </ng-template>
</p-dialog>

<p-toast></p-toast>
