<!--
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!########################################################################
-->

<!-- Import STIG Manager Collection Section -->
<div class="row">
  <div class="col-md-10">
    <nb-card>
      <nb-card-header>Import or Update STIG Manager Collection</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-5" style="width: auto;">
            <nb-select id="stigmanCollectionSelect" placeholder="Select Collection" [(ngModel)]="selectedStigmanCollection" (selectedChange)="onSTIGManagerCollectionSelect($event)">
              <nb-option *ngFor="let collection of stigmanCollections" [value]="collection.collectionId">
                {{ collection.name }}
              </nb-option>
            </nb-select>
          </div>
          <div class="col-md-5" style="width: auto;">
            <button nbButton outline nbTooltip="If a STIG Manager collection has previously been imported, importing again will update the collection and relative assets with current data from STIG Manager." nbTooltipPlacement="top" nbTooltipStatus="basic" status="info" (click)="importSTIGManagerCollection()">Import</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
