<!--
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
-->

<p-progressBar *ngIf="isUpdating" [value]="updateProgress"></p-progressBar>

<p-messages *ngIf="isUpdating" severity="warn" styleClass="w-full mb-6">
  <ng-template pTemplate="content">
    <div class="flex justify-between items-center">
      <span>
        Warning: Please do not close or reload the page while the update is in progress.
        <span *ngIf="estimatedTimeRemaining">
          Estimated time remaining: {{ estimatedTimeRemaining }}
        </span>
      </span>
    </div>
  </ng-template>
</p-messages>
<div class="card scrollable-plugins">
  <p-table
    #dt
    [value]="tableData"
    dataKey="iav"
    [rows]="10"
    [rowsPerPageOptions]="[10, 20, 50]"
    [loading]="loading"
    [paginator]="true"
    [globalFilterFields]="['iav', 'pluginID', 'status', 'title', 'iavCat', 'type', 'releaseDate', 'navyComplyDate', 'supersededBy', 'knownExploits', 'knownDodIncidents', 'nessusPlugins']"
  >
    <ng-template pTemplate="caption">
      <div class="flex justify-between items-center">
        <p-iconField iconPosition="left">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input
            pInputText
            type="text"
            [(ngModel)]="searchValue"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Global Search"
          />
        </p-iconField>
        <button
          #mapButton
          pButton
          class="ml-4"
          severity="primary"
          type="button"
          label="Map Plugins to IAV"
          (click)="updatePluginIds()"
          [disabled]="isUpdating"
        ></button>
        <button
          pButton
          type="button"
          class="ml-auto"
          icon="pi pi-filter-slash"
          [rounded]="true"
          [text]="true"
          [raised]="true"
          severity="primary"
          pTooltip="Clear"
          (click)="clear(dt)"
        ></button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols" [style.min-width]="col.minWidth" [scope]="'col'">
          <div class="flex items-center">
            {{col.header}}
            <p-columnFilter
              [type]="getFilterType(col)"
              [field]="col.field"
              [showOperator]="false"
              display="menu"
            >
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <ng-container [ngSwitch]="getFilterType(col)">
                  <ng-container *ngSwitchCase="'text'">
                    <input
                      type="text"
                      pInputText
                      [ngModel]="value"
                      (ngModelChange)="filter($event)"
                    />
                  </ng-container>
                  <ng-container *ngSwitchCase="'numeric'">
                    <input
                      type="number"
                      pInputText
                      [ngModel]="value"
                      (ngModelChange)="filter($event)"
                    />
                  </ng-container>
                  <ng-container *ngSwitchCase="'date'">
                    <p-datepicker
                      [ngModel]="value"
                      (ngModelChange)="filter($event)"
                      dateFormat="yy-mm-dd"
                    ></p-datepicker>
                  </ng-container>
                </ng-container>
              </ng-template>
            </p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td *ngFor="let col of cols">
          <ng-container [ngSwitch]="col.field">
            <ng-container *ngSwitchCase="'pluginID'">
              {{ rowData[col.field]?.join(', ') || 'N/A' }}
            </ng-container>
            <ng-container *ngSwitchCase="'releaseDate'">
              {{ rowData[col.field] | date:'yyyy-MM-dd' }}
            </ng-container>
            <ng-container *ngSwitchCase="'navyComplyDate'">
              {{ rowData[col.field] | date:'yyyy-MM-dd' }}
            </ng-container>
            <ng-container *ngSwitchDefault> {{ rowData[col.field] }} </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="12">No IAV data found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
