/*
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND    
! CONDITIONS OF THE LICENSE.  
!########################################################################
*/


.combined-header {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-bottom: none;
}

.top-row, .bottom-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-row {
  margin-bottom: 10px;
}

.top-row h5 {
  flex-grow: 1;
}

.header-actions, .filter-actions {
  display: flex;
  align-items: center;
}

.bottom-row .filter-actions {
  flex-grow: 1;
}

.bottom-row button {
  margin-left: 10px;
}

.notification-content {
  flex-grow: 1;
  position: relative;
  padding-right: 1px;
}

.notification-body-header {
  display: flex;
  align-items: center;
}

.notification-icon {
  margin-right: 1rem;
}

h6 {
  margin-bottom: 0.5rem;
}

.delete-icon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

nb-list-item {
  display: block;
  padding: 1rem;
  border-bottom: 1px solid black;
  position: relative;
}

nb-list-item.unread::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #3366ff;
}

nb-list-item:last-child {
  border-bottom: none;
}

.notifications-container {
  width: 80vw;
  max-height: 78vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

nb-card-header {
  flex-shrink: 0;
}

nb-card-body {
  padding: 0;
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

nb-list {
  flex-grow: 1;
  overflow-y: auto;
}
