<!--
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
-->

<div class="grid grid-cols-12 gap-4">
  <div class="col-span-12">
    <div class="scrollable-appConfig overflow-hidden">
      <p-table #dt [value]="appConfiguration" [globalFilterFields]="['settingName', 'settingValue']" [rows]="15" [paginator]="true" [scrollable]="true" scrollHeight="flex" [rowHover]="true" dataKey="settingName" editMode="row">
        <ng-template pTemplate="caption">
          <div class="flex items-center justify-between">
            <p-iconField iconPosition="left">
              <p-inputIcon>
                <i class="pi pi-search"></i>
              </p-inputIcon>
              <input pInputText type="text" (input)="filterGlobal($event)" placeholder="Search..." class="search-input" />
            </p-iconField>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" pSortableColumn="settingName">Name</th>
            <th scope="col" pSortableColumn="settingValue">Value</th>
            <th scope="col">Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-appConfig let-editing="editing" let-ri="rowIndex">
          <tr [pEditableRow]="appConfig">
            <td>{{ appConfig.settingName }}</td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" class="w-full" [(ngModel)]="appConfig.settingValue" maxlength="50" />
                </ng-template>
                <ng-template pTemplate="output"> {{ appConfig.settingValue }} </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <div class="flex gap-2">
                @if (!editing) {
                  <p-button pInitEditableRow icon="pi pi-pencil" (click)="$event.stopPropagation(); onRowEditInit(appConfig)" [rounded]="true" variant="text" />
                }
                @if (editing) {
                  <p-button pSaveEditableRow icon="pi pi-check" (click)="$event.stopPropagation(); onRowEditSave(appConfig)" [rounded]="true" variant="text" severity="success" class="mr-2" />
                }
                @if (editing) {
                  <p-button pCancelEditableRow icon="pi pi-times" (click)="$event.stopPropagation(); onRowEditCancel(ri)" [rounded]="true" variant="text" severity="danger" />
                }
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<p-toast></p-toast>
