<!--
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!########################################################################
-->

<p-card>
  <ng-template pTemplate="content">
    <div class="toolbar mb-3">
      <div class="left-buttons">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" [(ngModel)]="globalFilter" (input)="onFilterChange($event)" placeholder="Search..." />
          <p-button class="ml-2" [rounded]="true" [text]="true" [raised]="true" severity="secondary" icon="pi pi-filter-slash" (click)="clear(dt)" (onKeyUp)="clear(dt)" pTooltip="Clear all filters"></p-button>
        </span>
      </div>
    </div>
    <div class="table-container" (scroll)="onScroll($event)">
      <p-table #dt
               [value]="displayedData"
               [resizableColumns]="true"
               [scrollable]="true"
               scrollHeight="50rem"
               [paginator]="false"
               columnResizeMode="fit"
               [globalFilterFields]="['lastUpdated', 'poamId', 'status', 'stigBenchmarkId', 'adjSeverity', 'submitter', 'submittedDate', 'scheduledCompletionDate']">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" pResizableColumn style="text-align: center;">
              <div class="flex justify-content-center align-items-center" style="height: 100%;">
                <i class="pi pi-clock" style="font-size: 1.5rem;" pTooltip="Last Updated"></i>
                <p-columnFilter type="date" field="lastUpdated" display="menu"></p-columnFilter>
              </div>
            </th>
            <th scope="col" pResizableColumn>
              <div class="flex align-items-center">
                POAM ID
                <p-columnFilter type="text" field="poamId" display="menu"></p-columnFilter>
              </div>
            </th>
            <th scope="col" pResizableColumn>
              <div class="flex align-items-center">
                POAM Status
                <p-columnFilter type="text" field="status" display="menu"></p-columnFilter>
              </div>
            </th>
            <th scope="col" pResizableColumn>
              <div class="flex align-items-center">
                Vulnerability Source
                <p-columnFilter type="text" field="source" display="menu"></p-columnFilter>
              </div>
            </th>
            <th scope="col" pResizableColumn>
              <div class="flex align-items-center">
                STIG Benchmark
                <p-columnFilter type="text" field="stigBenchmarkId" display="menu"></p-columnFilter>
              </div>
            </th>
            <th scope="col" pResizableColumn>
              <div class="flex align-items-center">
                Adjusted Severity
                <p-columnFilter type="text" field="adjSeverity" display="menu"></p-columnFilter>
              </div>
            </th>
            <th scope="col" pResizableColumn>
              <div class="flex align-items-center">
                Submitter
                <p-columnFilter type="text" field="submitter" display="menu"></p-columnFilter>
              </div>
            </th>
            <th scope="col" pResizableColumn>
              <div class="flex align-items-center">
                Submitted Date
                <p-columnFilter type="date" field="submittedDate" display="menu"></p-columnFilter>
              </div>
            </th>
            <th scope="col" pResizableColumn>
              <div class="flex align-items-center">
                Scheduled Completion
                <p-columnFilter type="date" field="scheduledCompletionDate" display="menu"></p-columnFilter>
              </div>
            </th>
            <th scope="col" pResizableColumn>
              POAM
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr>
            <td style="text-align: center;">{{ row.lastUpdated }}</td>
            <td>{{ row.poamId }}</td>
            <td>{{ row.status }}</td>
            <td>{{ row.source }}</td>
            <td>{{ row.stigBenchmarkId }}</td>
            <td>{{ row.adjSeverity }}</td>
            <td>{{ row.submitter }}</td>
            <td>{{ row.submittedDate }}</td>
            <td>{{ row.scheduledCompletionDate }}</td>
            <td>
              <button pButton type="button" icon="pi pi-eye" class="p-button-text" (click)="managePoam(row)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="9">No POAMs found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </ng-template>
</p-card>
