/*
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND    
! CONDITIONS OF THE LICENSE.  
!########################################################################
*/


.scrollable-users {
  max-height: 60vh;
  overflow-y: auto;
}

.search-label {
  display: block;
}
.search-input {
  margin-bottom: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
}
.form-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.form-group input,
.form-group p-dropdown {
  width: 100%;
}
