/*
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
*/

.scrollable-users {
  height: calc(100vh - 17.5rem);
}

.pending-status {
  background: color-mix(in srgb, var(--p-primary-color) 30%, transparent) !important;

  &:hover {
    background: color-mix(in srgb, var(--p-primary-color) 50%, transparent) !important;
  }
}

:host ::ng-deep .scrollable-users .p-datatable-header {
  padding: var(--p-treetable-header-padding);
}

:host ::ng-deep .onboarding-dialog .p-dialog .p-dialog-header {
  padding-bottom: 0rem;
}
