/*
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND    
! CONDITIONS OF THE LICENSE.  
!########################################################################
*/

.points-container {
  display: flex;
  align-items: center;
}

.points-container button {
  flex: 0 0 auto;
}

.points-container input {
  text-align: center;
  width: 15rem;
  flex: 1 1 auto;
}

 .switch-container {
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.switch-container label {
  margin-left: 1rem;
}

.field {
    font-weight: bold;
}
