<!--
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
-->

<div class="page-container">
  <div class="form-content">
    <form #form="ngForm" class="form">
      <div class="mb-4">
        <label for="lastAccess" class="mb-2 block text-base font-medium">Last Access:</label>
        <input pInputText class="w-full rounded-md border p-2 focus:ring-primary-500 focus:ring-2" type="text" id="lastAccess" name="lastAccess" [(ngModel)]="userState().lastAccess" placeholder="Last Access" disabled />
      </div>
      <div class="mb-4">
        <label for="userName" class="mb-2 block text-base font-medium">First Name:</label>
        <input pInputText class="w-full rounded-md border p-2 focus:ring-primary-500 focus:ring-2" type="text" id="userName" name="userName" [(ngModel)]="userState().firstName" placeholder="First Name" required />
      </div>
      <div class="mb-4">
        <label for="lastName" class="mb-2 block text-base font-medium">Last Name:</label>
        <input pInputText class="w-full rounded-md border p-2 focus:ring-primary-500 focus:ring-2" type="text" id="lastName" name="lastName" [(ngModel)]="userState().lastName" placeholder="Last Name" />
      </div>
      <div class="mb-4">
        <label for="fullName" class="mb-2 block text-base font-medium">Full Name:</label>
        <input pInputText class="w-full rounded-md border bg-gray-100 p-2" type="text" id="fullName" name="fullName" value="{{ userState().firstName }} {{ userState().lastName }}" placeholder="Full Name" disabled />
      </div>
      <div class="mb-4">
        <label for="email" class="mb-2 block text-base font-medium">Email:</label>
        <input pInputText class="w-full rounded-md border p-2 focus:ring-primary-500 focus:ring-2" type="text" id="email" name="email" [(ngModel)]="userState().email" placeholder="Email" />
      </div>
      <div class="mb-4">
        <label for="phoneNumber" class="mb-2 block text-base font-medium">Phone Number:</label>
        <input pInputText class="w-full rounded-md border p-2 focus:ring-primary-500 focus:ring-2" type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="userState().phoneNumber" placeholder="Phone Number..." />
      </div>
      <div class="mb-4">
        <label for="officeOrg" class="mb-2 block text-base font-medium">Office/Organization:</label>
        <div>
          <p-autocomplete
            class="w-1/5"
            fluid
            [(ngModel)]="userState().officeOrg"
            [suggestions]="filteredOfficeOrgs()"
            (completeMethod)="filterOfficeOrgs($event)"
            [dropdown]="true"
            [forceSelection]="false"
            name="officeOrg"
            id="officeOrg"
            placeholder="Office/Org..."
          />
        </div>
      </div>
      <div class="mb-4">
        <label for="accountStatus" class="mb-2 block text-base font-medium">Account Status:</label>
        <div>
          <p-select
            class="w-1/5"
            [options]="[
              { label: 'Active', value: 'ACTIVE' },
              { label: 'Pending', value: 'PENDING' },
              { label: 'Disabled', value: 'DISABLED' }
            ]"
            [(ngModel)]="userState().accountStatus"
            id="accountStatus"
            name="accountStatus"
            placeholder="Select Status"
            optionLabel="label"
            optionValue="value"
          />
        </div>
      </div>
      @if (marketplaceDisabled() === false) {
        <div class="mb-4">
          <label for="userPoints" class="mb-2 block text-base font-medium">User Points:</label>
          <div class="flex items-center">
            <p-inputnumber
              class="w-1/5"
              [(ngModel)]="userState().points"
              [showButtons]="true"
              [min]="0"
              [step]="10"
              buttonLayout="horizontal"
              decrementButtonseverity="secondary"
              incrementButtonseverity="secondary"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
              name="userPoints"
              id="userPoints"
            />
          </div>
        </div>
      }
      <div class="flex items-center mb-4">
        <p-toggleswitch [(ngModel)]="checked" name="isAdmin" id="isAdmin" disabled />
        <label for="isAdmin" class="ml-4 text-base font-medium">C-PAT Admin</label>
        <i class="pi pi-info-circle text-primary ml-2 cursor-pointer" pTooltip="The C-PAT administrative privilege is assigned by granting a user the admin role within the OIDC provider." tooltipPosition="top"> </i>
      </div>
      @if (userState().lastClaims) {
        <div class="mb-4">
          <div class="flex items-center">
            <p-toggleswitch id="showLastClaims" [(ngModel)]="showLastClaims" binary="true" name="showLastClaims" />
            <label for="showLastClaims" class="ml-4 text-base font-medium">View Last Claims</label>
          </div>
          @if (showLastClaims()) {
            <textarea pTextarea class="w-full rounded-md border p-2" [value]="userState().lastClaims | json" name="lastClaimsTextarea" rows="15" readonly> </textarea>
          }
        </div>
      }
      <hr class="my-6" />
      <p-stepper [value]="1">
        <p-step-list>
          <p-step [value]="1">Team Assignments</p-step>
          <p-step [value]="2">Collection Permissions</p-step>
        </p-step-list>
        <p-step-panels>
          <p-step-panel [value]="1">
            <ng-template #content let-activateCallback="activateCallback">
              <p-table #teamTable class="w-full" [value]="userAssignedTeams()" [columns]="teamCols" editMode="row" [paginator]="true" [rows]="5">
                <ng-template #header let-columns>
                  <tr>
                    <th scope="col" class="w-24">
                      <button pButton (click)="onAddNewAssignedTeam()" variant="text"><i class="pi pi-plus" pButtonIcon></i></button>
                    </th>
                    @for (col of columns; track col.header) {
                      <th scope="col">{{ col.header }}</th>
                    }
                  </tr>
                </ng-template>
                <ng-template #body let-rowData let-columns="columns">
                  <tr>
                    <td class="w-24">
                      <div class="flex space-x-2">
                        @if (rowData.editing) {
                          <button pButton (click)="onSaveAssignedTeam(rowData)" [rounded]="true" variant="text" severity="success"><i class="pi pi-check" pButtonIcon></i></button>
                          <button pButton (click)="onCancelEditAssignedTeam(rowData)" [rounded]="true" variant="text" severity="danger"><i class="pi pi-times" pButtonIcon></i></button>
                        } @else {
                          <button pButton (click)="onEditAssignedTeam(rowData)" [rounded]="true" variant="text"><i class="pi pi-pencil" pButtonIcon></i></button>
                        }
                        <button pButton (click)="onDeleteAssignedTeam(rowData)" variant="text"><i class="pi pi-trash" pButtonIcon></i></button>
                      </div>
                    </td>
                    @for (col of columns; track col.field) {
                      <td>
                        @if (!rowData.editing) {
                          <span>{{ rowData[col.field] }}</span>
                        }
                        @if (rowData.editing && col.field === 'assignedTeamName') {
                          <p-select
                            [options]="availableTeams()"
                            [(ngModel)]="rowData.assignedTeamId"
                            name="teamDropdown"
                            [filter]="true"
                            filterBy="title"
                            optionLabel="title"
                            optionValue="value"
                            placeholder="Select a Team..."
                            class="w-full"
                            appendTo="body"
                          />
                        }
                        @if (rowData.editing && col.field === 'accessLevelLabel') {
                          <p-select [options]="accessLevelOptions" [(ngModel)]="rowData.accessLevel" name="accessLevelDropdown" optionLabel="label" optionValue="value" class="w-full" appendTo="body" />
                        }
                      </td>
                    }
                  </tr>
                </ng-template>
                <ng-template #emptymessage>
                  <tr>
                    <td colspan="3" style="text-align: center">No teams to display</td>
                  </tr>
                </ng-template>
              </p-table>
              <div class="flex justify-end p-4">
                <button pButton (click)="activateCallback(2)" [outlined]="true" [rounded]="true" [text]="true" [raised]="true"><i class="pi pi-arrow-right" pButtonIcon></i></button>
              </div>
            </ng-template>
          </p-step-panel>

          <p-step-panel [value]="2">
            <ng-template #content let-activateCallback="activateCallback">
              <p-table #permissionsTable class="w-full" [value]="collectionPermissions()" [columns]="cols" editMode="row" [paginator]="true" [rows]="5">
                <ng-template #header let-columns>
                  <tr>
                    <th scope="col" class="w-24">
                      <button pButton (click)="onAddNewPermission()" variant="text"><i class="pi pi-plus" pButtonIcon></i></button>
                    </th>
                    @for (col of columns; track col.header) {
                      <th scope="col">{{ col.header }}</th>
                    }
                  </tr>
                </ng-template>
                <ng-template #body let-rowData let-columns="columns">
                  <tr>
                    <td class="w-24">
                      <div class="flex space-x-2">
                        @if (rowData.editing) {
                          <button pButton (click)="onSavePermission(rowData)" [rounded]="true" variant="text" severity="success"><i class="pi pi-check" pButtonIcon></i></button>
                          <button pButton (click)="onCancelEditPermission(rowData)" [rounded]="true" variant="text" severity="danger"><i class="pi pi-times" pButtonIcon></i></button>
                        } @else {
                          <button pButton (click)="onEditPermission(rowData)" [rounded]="true" variant="text"><i class="pi pi-pencil" pButtonIcon></i></button>
                        }
                        <button pButton (click)="onDeletePermission(rowData)" variant="text"><i class="pi pi-trash" pButtonIcon></i></button>
                      </div>
                    </td>
                    @for (col of columns; track col.field) {
                      <td>
                        @if (!rowData.editing) {
                          <span>{{ rowData[col.field] }}</span>
                        }
                        @if (rowData.editing && col.field === 'collectionName') {
                          <p-select
                            [options]="availableCollections()"
                            [(ngModel)]="rowData.collectionId"
                            name="collectionDropdown"
                            [filter]="true"
                            filterBy="title"
                            optionLabel="title"
                            optionValue="value"
                            placeholder="Select a Collection..."
                            class="w-full"
                            appendTo="body"
                          />
                        }
                        @if (rowData.editing && col.field === 'accessLevelLabel') {
                          <p-select [options]="accessLevelOptions" [(ngModel)]="rowData.accessLevel" name="accessLevelDropdown" optionLabel="label" optionValue="value" class="w-full" appendTo="body" />
                        }
                      </td>
                    }
                  </tr>
                </ng-template>
                <ng-template #emptymessage>
                  <tr>
                    <td colspan="3" class="text-center">No Data to Display</td>
                  </tr>
                </ng-template>
              </p-table>
              <div class="flex justify-between p-4">
                <button pButton (click)="activateCallback(1)" [outlined]="true" [rounded]="true" [text]="true" [raised]="true" severity="secondary"><i class="pi pi-arrow-left" pButtonIcon></i></button>
              </div>
            </ng-template>
          </p-step-panel>
        </p-step-panels>
      </p-stepper>
    </form>
  </div>

  <div class="form-footer">
    <div class="flex w-full justify-between">
      <button pButton (click)="resetData()" [outlined]="true" severity="secondary"><span pButtonLabel>Cancel</span></button>
      <button pButton (click)="onSubmit()" [outlined]="true" [disabled]="!form.valid"><span pButtonLabel>Save</span></button>
    </div>
  </div>
</div>

<p-toast />
<p-confirmdialog header="Confirmation" icon="pi pi-exclamation-triangle" />
