<!--
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
-->

<div class="page-container">
  <div class="form-content">
    <form #form="ngForm" class="form">
      <div class="mb-4">
        <label for="userName" class="mb-2 block text-base font-medium">First Name:</label>
        <input pInputText class="mt-2 w-full rounded-md border p-2 focus:ring-primary-500 focus:ring-2" type="text" id="userName" name="userName" [(ngModel)]="user.firstName" placeholder="First Name" required />
      </div>
      <div class="mb-4">
        <label for="lastName" class="mb-2 block text-base font-medium">Last Name:</label>
        <input pInputText class="mt-2 w-full rounded-md border p-2 focus:ring-primary-500 focus:ring-2" type="text" id="lastName" name="lastName" [(ngModel)]="user.lastName" placeholder="Last Name" />
      </div>
      <div class="mb-4">
        <label for="fullName" class="mb-2 block text-base font-medium">Full Name:</label>
        <input pInputText class="mt-2 w-full rounded-md border bg-gray-100 p-2" type="text" id="fullName" name="fullName" value="{{ user.firstName }} {{ user.lastName }}" placeholder="Full Name" disabled />
      </div>
      <div class="mb-4">
        <label for="email" class="mb-2 block text-base font-medium">Email:</label>
        <input pInputText class="mt-2 w-full rounded-md border p-2 focus:ring-primary-500 focus:ring-2" type="text" id="email" name="email" [(ngModel)]="user.email" placeholder="Email" />
      </div>
      <div class="mb-4">
        <label for="phoneNumber" class="mb-2 block text-base font-medium">Phone Number:</label>
        <input pInputText class="mt-2 w-full rounded-md border p-2 focus:ring-primary-500 focus:ring-2" type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="user.phoneNumber" placeholder="Phone Number..." />
      </div>
      <div class="mb-4">
        <label for="officeOrg" class="mb-2 block text-base font-medium">Office/Organization:</label>
        <div>
          <p-autoComplete
            class="w-1/6"
            [(ngModel)]="user.officeOrg"
            [suggestions]="filteredOfficeOrgs"
            (completeMethod)="filterOfficeOrgs($event)"
            [dropdown]="false"
            [forceSelection]="false"
            name="officeOrg"
            id="officeOrg"
            placeholder="Office/Org..."
          />
        </div>
      </div>
      <div class="mb-4">
        <label for="accountStatus" class="mb-2 block text-base font-medium">Account Status:</label>
        <div>
          <p-select
            class="w-1/6"
            [options]="[
              { label: 'Active', value: 'ACTIVE' },
              { label: 'Pending', value: 'PENDING' },
              { label: 'Disabled', value: 'DISABLED' }
            ]"
            [(ngModel)]="user.accountStatus"
            id="accountStatus"
            name="accountStatus"
            placeholder="Select Status"
            optionLabel="label"
            optionValue="value"
          />
        </div>
      </div>
      @if (marketplaceDisabled === false) {
        <div class="mb-4">
          <label for="userPoints" class="mb-2 block text-base font-medium">User Points:</label>
          <div class="flex items-center">
            <p-inputNumber
              class="w-4/5"
              [(ngModel)]="user.points"
              [showButtons]="true"
              [min]="0"
              [step]="10"
              buttonLayout="horizontal"
              decrementButtonseverity="secondary"
              incrementButtonseverity="secondary"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
              name="userPoints"
              id="userPoints"
            >
            </p-inputNumber>
          </div>
        </div>
      }
      <div class="flex items-center pt-4">
        <p-toggleswitch [(ngModel)]="checked" name="isAdmin" id="isAdmin" disabled />
        <label for="isAdmin" class="ml-4 text-base font-medium">C-PAT Admin</label>
        <i class="pi pi-info-circle text-primary ml-2 cursor-pointer" pTooltip="The C-PAT administrative privilege is assigned by granting a user the admin role within the OIDC provider." tooltipPosition="top"> </i>
      </div>
      @if (user.lastClaims) {
        <div class="mb-6">
          <div class="flex items-center pt-4">
            <p-toggleswitch id="showLastClaims" [(ngModel)]="showLastClaims" binary="true" name="showLastClaims" />
            <label for="showLastClaims" class="ml-4 text-base font-medium">View Last Claims</label>
          </div>
          @if (showLastClaims) {
            <textarea pTextarea class="mt-2 w-full rounded-md border p-2" [value]="user.lastClaims | json" name="lastClaimsTextarea" rows="15" readonly> </textarea>
          }
        </div>
      }
      <hr class="my-6" />
      <p-stepper [value]="1">
        <p-step-list>
          <p-step [value]="1">Team Assignments</p-step>
          <p-step [value]="2">Collection Permissions</p-step>
        </p-step-list>
        <p-step-panels>
          <p-step-panel [value]="1">
            <ng-template #content let-activateCallback="activateCallback">
              <p-table #teamTable class="w-full" [value]="userAssignedTeams" [columns]="teamCols" editMode="row" [paginator]="true" [rows]="5">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th scope="col" class="w-24">
                      <p-button icon="pi pi-plus" variant="text" (onClick)="onAddNewAssignedTeam()" />
                    </th>
                    @for (col of columns; track col.header) {
                      <th scope="col">{{ col.header }}</th>
                    }
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td class="w-24">
                      <div class="flex space-x-2">
                        @if (rowData.editing) {
                          <p-button icon="pi pi-check" (onClick)="onSaveAssignedTeam(rowData)" [rounded]="true" variant="text" severity="success" />
                          <p-button icon="pi pi-times" (onClick)="onCancelEditAssignedTeam(rowData)" [rounded]="true" variant="text" severity="danger" />
                        } @else {
                          <p-button icon="pi pi-pencil" (onClick)="onEditAssignedTeam(rowData)" [rounded]="true" variant="text" />
                        }
                        <p-button icon="pi pi-trash" variant="text" (onClick)="onDeleteAssignedTeam(rowData)" />
                      </div>
                    </td>
                    @for (col of columns; track col.field) {
                      <td>
                        @if (!rowData.editing) {
                          <span>{{ rowData[col.field] }}</span>
                        }
                        @if (rowData.editing && col.field === 'assignedTeamName') {
                          <p-select [options]="availableTeams" [(ngModel)]="rowData.assignedTeamId" name="teamDropdown" optionLabel="title" optionValue="value" class="w-full" appendTo="body" />
                        }
                        @if (rowData.editing && col.field === 'accessLevelLabel') {
                          <p-select [options]="accessLevelOptions" [(ngModel)]="rowData.accessLevel" name="accessLevelDropdown" optionLabel="label" optionValue="value" class="w-full" appendTo="body" />
                        }
                      </td>
                    }
                  </tr>
                </ng-template>
              </p-table>
              <div class="flex justify-end p-4">
                <p-button [outlined]="true" [rounded]="true" [text]="true" [raised]="true" icon="pi pi-arrow-right" (onClick)="activateCallback(2)" />
              </div>
            </ng-template>
          </p-step-panel>

          <p-step-panel [value]="2">
            <ng-template #content let-activateCallback="activateCallback">
              <p-table #permissionsTable class="w-full" [value]="collectionPermissions" [columns]="cols" editMode="row" [paginator]="true" [rows]="5">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th scope="col" class="w-24">
                      <p-button icon="pi pi-plus" variant="text" (onClick)="onAddNewPermission()" />
                    </th>
                    @for (col of columns; track col.header) {
                      <th scope="col">{{ col.header }}</th>
                    }
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td class="w-24">
                      <div class="flex space-x-2">
                        @if (rowData.editing) {
                          <p-button icon="pi pi-check" (onClick)="onSavePermission(rowData)" [rounded]="true" variant="text" severity="success" />
                          <p-button icon="pi pi-times" (onClick)="onCancelEditPermission(rowData)" [rounded]="true" variant="text" severity="danger" />
                        } @else {
                          <p-button icon="pi pi-pencil" (onClick)="onEditPermission(rowData)" [rounded]="true" variant="text" />
                        }
                        <p-button icon="pi pi-trash" variant="text" (onClick)="onDeletePermission(rowData)" />
                      </div>
                    </td>
                    @for (col of columns; track col.field) {
                      <td>
                        @if (!rowData.editing) {
                          <span>{{ rowData[col.field] }}</span>
                        }
                        @if (rowData.editing && col.field === 'collectionName') {
                          <p-select [options]="availableCollections" [(ngModel)]="rowData.collectionId" name="collectionDropdown" optionLabel="title" optionValue="value" class="w-full" appendTo="body" />
                        }
                        @if (rowData.editing && col.field === 'accessLevelLabel') {
                          <p-select [options]="accessLevelOptions" [(ngModel)]="rowData.accessLevel" name="accessLevelDropdown" optionLabel="label" optionValue="value" class="w-full" appendTo="body" />
                        }
                      </td>
                    }
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="3" class="text-center">No Data to Display</td>
                  </tr>
                </ng-template>
              </p-table>
              <div class="flex justify-between p-4">
                <p-button [outlined]="true" [rounded]="true" [text]="true" [raised]="true" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(1)" />
              </div>
            </ng-template>
          </p-step-panel>
        </p-step-panels>
      </p-stepper>
    </form>
  </div>

  <div class="form-footer">
    <div class="flex w-full justify-between">
      <p-button label="Cancel" [outlined]="true" (onClick)="resetData()" severity="secondary" />
      <p-button label="Save" [outlined]="true" (onClick)="onSubmit()" [disabled]="!form.valid" />
    </div>
  </div>
</div>

<p-toast />
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" />
