/*
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
*/

.page-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 19rem);
  min-height: 600px;
}

.form-content {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 1rem;
}

.form-footer {
  flex-shrink: 0;
  padding: 1rem;
  margin-top: auto;
}

.points-container {
  display: flex;
  align-items: center;
}

.points-container button {
  flex: 0 0 auto;
}

.points-container input {
  text-align: center;
  width: 15rem;
  flex: 1 1 auto;
}

.switch-container {
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.switch-container label {
  margin-left: 1rem;
}

.field {
  font-weight: bold;
  margin-bottom: 1rem;
}

:host ::ng-deep {
  .p-splitter {
    border: none;
  }

  .splitter-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
  }

  .table-container {
    flex: 1;
    width: 100%;
    overflow: auto;
  }

  .p-datatable {
    .p-datatable-wrapper {
      overflow-x: auto;
    }

    table {
      width: 100%;
    }

    &-thead > tr > th {
      background-color: rgba(0, 0, 0, 0.1) !important;
      font-weight: 600;
    }
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    height: 420px;
  }

  .content {
    flex: 1;
    overflow-y: auto;
    padding: 1.5rem;
    margin-bottom: 1rem;
  }
}

::ng-deep .p-dialog {
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 1rem;

  .p-dialog-header-actions {
    display: none;
  }

  .p-dialog-header {
    padding: 2rem 2rem 0 2rem;
    border: none;
    display: flex;
    justify-content: center;

    .p-dialog-title {
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
    }
  }

  .p-dialog-content {
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    > i {
      font-size: 2rem;
      color: var(--p-yellow-500);
      margin-bottom: 1rem;
      display: block;
    }
  }

  > span {
    font-size: 1.1rem;
    line-height: 1.5;
    display: block;
    width: 100%;
  }

  .p-dialog-footer {
    display: flex;
    border: none;
    justify-content: space-between;
    padding: 1rem 1rem 0.5rem 1rem;
  }
}
