<!--
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
-->

<div class="grid grid-cols-12 gap-4">
  <div class="col-span-12">
    <p-card class="pointsBalance">
      <ng-template pTemplate="header"> User Points Balance: <p-chip [label]="userPoints + ' Points'" class="mr-2" /> </ng-template>
    </p-card>
  </div>

  <div class="col-span-12">
    <p-card header="Themes Store" class="mb-0 pb-0">
      <p-divider type="solid" class="mt-0 pt-0" />
      <p></p>
      <div class="p-grid">
        @for (theme of themes; track theme) {
          <div class="theme-card">
            <p-card [header]="theme.themeName">
              <ng-template pTemplate="header">
                <p-image [src]="themeImageUrls[theme.themeId]" [alt]="theme.themeName" [preview]="true" appendTo="body" />
              </ng-template>
              <p>{{ theme.themeDescription }}</p>
              <p-chip [label]="theme.cost + ' Points'" class="mr-2" />
              <ng-template pTemplate="footer">
                <p-button label="Purchase" variant="outlined" (onClick)="purchaseTheme(theme)" />
              </ng-template>
            </p-card>
          </div>
        }
      </div>
    </p-card>
  </div>

  @if (purchasedThemes.length > 0) {
    <div class="col-span-12">
      <p-card header="Purchased Themes" styleClass="mb-0 pb-0">
        <p-divider type="solid" class="mt-0 pt-0" />
        <p></p>
        <div class="p-grid">
          @for (theme of purchasedThemes; track theme) {
            <div class="theme-card">
              <p-card [header]="theme.themeName">
                <ng-template pTemplate="header">
                  <p-image [src]="themeImageUrls[theme.themeId]" [alt]="theme.themeName" [preview]="true" appendTo="body" />
                </ng-template>
                <p>{{ theme.themeDescription }}</p>
                <ng-template pTemplate="footer">
                  <p-button label="Enable Theme" variant="outlined" (onClick)="setTheme(theme.themeIdentifier)" />
                </ng-template>
              </p-card>
            </div>
          }
        </div>
      </p-card>
    </div>
  }
</div>

<p-confirmDialog class="w-[50vw]" />
<p-toast />
