/*
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
*/

.chart-title {
  font-family: 'Red Hat Display Variable';
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-color);
}

.asset-link {
  cursor: pointer;
  color: var(--p-primary-color);
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.severity-bar {
  display: flex;
  width: 100%;
  height: 1.25rem;
  border-radius: 4px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.05);

  .bar-segment {
    height: 100%;
    min-width: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &.low {
      background: rgba(230, 185, 45, 0.7);
    }
    &.medium {
      background: rgba(250, 165, 50, 0.7);
    }
    &.high {
      background: rgba(250, 120, 70, 0.7);
    }
    &.critical {
      background: rgba(235, 70, 100, 0.7);
    }

    .segment-count {
      color: rgba(220, 220, 220, 0.85);
      font-weight: 600;
      font-size: 0.7rem;
      white-space: nowrap;
    }
  }
}
