/*
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
*/

.status_message_card {
  margin-bottom: 1rem;
  padding: 1rem;
}

.wrapper {
  max-width: 35rem;
  width: 100%;
  max-height: 60rem;
  display: block;
  margin: 0 auto;
  position: relative;

  a {
    text-decoration: none;
  }

  h1 {
    text-align: center;
    color: var(--p-text-color);
    opacity: 0.8;
    font-family: 'Dosis', sans-serif;
    font-size: 100px;
    margin-bottom: 0px;
    font-weight: 800;
  }

  h3 {
    text-align: center;
    color: var(--p-text-color);
    font-size: 19px;
    line-height: 23px;
    max-width: 330px;
    margin: 0px auto 30px auto;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;

    span {
      position: relative;
      width: 65px;
      display: inline-block;

      &:after {
        content: '';
        border-bottom: 3px solid #ffbb39;
        position: absolute;
        left: 0;
        top: 43%;
        width: 100%;
      }
    }
  }

  .stars {
    animation: sparkle 1.6s infinite ease-in-out alternate;
  }
}

.tryRefresh {
  margin: 0 auto;
  display: block;
  margin-bottom: 40px;
  margin-top: 25px;
  width: fit-content;
}

@keyframes sparkle {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

#astronaut {
  width: 43px;
  position: absolute;
  right: 20px;
  top: 210px;
  animation: spin 4.5s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

@media (max-width: 600px) {
  .wrapper {
    h1 {
      font-size: 75px;
    }

    h3 {
      font-size: 16px;
      width: 200px;
      margin: 0 auto;
      line-height: 23px;

      span {
        width: 60px;
      }
    }
  }

  #astronaut {
    width: 35px;
    right: 40px;
    top: 170px;
  }
}

.saturn,
.saturn-2,
.hover {
  animation: hover 2s infinite ease-in-out alternate;
}

@keyframes hover {
  0% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(-3px);
  }
}

.st0 {
  fill: none;
}

.st1 {
  fill: #504e55;
}

.st2 {
  fill: #f39e72;
}

.st3 {
  fill: #ffffff;
}

.st4 {
  opacity: 0.24;
}

.st5 {
  fill: #77574e;
}

.st6 {
  fill: #fbd68d;
}

.st7 {
  fill: #ececec;
}

.st8 {
  fill: #f4a89c;
}

.st9 {
  fill: #cfc9e5;
}

.st10 {
  opacity: 0.28;
}

.st11 {
  opacity: 0.25;
}

.st12 {
  fill: #6f635c;
}

.st13 {
  fill: #dae7be;
}

.st14 {
  fill: #ffe0a6;
}

.st15 {
  fill: #5f5e60;
}

.st16 {
  fill: #cfe1af;
}

.st17 {
  fill: #ebe9f5;
}

.st18 {
  fill: #53515a;
}

.st19 {
  opacity: 0.42;
}

.st20 {
  fill: #53515b;
}
