/*
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND    
! CONDITIONS OF THE LICENSE.  
!########################################################################
*/

.table-container {
  height: 50rem;
  overflow-y: auto;
}

.search-input {
  margin-bottom: 1rem;
}

.nb-column-POAM-ID,
.nb-column-POAM-Status,
.nb-column-Adjusted-Severity,
.nb-column-Submitter,
.nb-column-Submitted-Date,
.nb-column-Scheduled-Completion-Date,
.nb-column-Manage {
  text-align: center !important;
}
