<!--
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!########################################################################
-->

<ng-container>
  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="container">
      <div class="row">
        <div class="col my-1">
          <label style="margin-right: 1%" for="collectionName">*Collection Name: </label>
          <input nbInput type="text" name="collectionName" [(ngModel)]="collection.collectionName" placeholder="name"
                 required>
          <button style="margin-left: 18%;" nbButton type="button" class="mr-3" (click)="exportAll()">Export POAMS</button>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <label for="description">Description</label>
          <input nbInput style="width: 30%" type="text" fullWidth name="description"
                 [(ngModel)]="collection.description" placeholder="Description">

          <label style="margin-left: 9.5%;" for="grantcount">Grant Count: </label>
          <input nbInput style="text-align: center; width: 3em;" type="number" fullWidth name="grantcount" [(ngModel)]="collection.grantCount" disabled="true"
                 readonly>
        </div>
        <div class="row">
          <div class="col">
            <label for="created">Created</label>
            <input nbInput type="text" fullWidth name="created" [(ngModel)]="collection.created" placeholder="Created"
                   disabled="true" readonly>

            <label style="margin-left: 24%;" for="assetcount">Asset Count: </label>
            <input nbInput style="text-align: center; width: 3em;" type="number" name="assetcount" [(ngModel)]="collection.assetCount" disabled="true"
                   readonly>
          </div>
          <div class="col">
            <label style="margin-left: 46%;" for="poamcount">POAM Count: </label>
            <input nbInput style="text-align: center; width: 3em;" type="number" fullWidth name="poamcount" [(ngModel)]="collection.poamCount" disabled="true"
                   readonly>
          </div>

        </div>

        <div class="col">
          <ng2-smart-table id="collectionAprovers" [settings]="collectionApproverSettings" [source]="collectionApprovers" mode="inline"
                           (createConfirm)="confirmCreate($event)" (editConfirm)="confirmEdit($event)"
                           (deleteConfirm)="confirmDelete($event)">
          </ng2-smart-table>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="container">

          <button nbButton class="mr-3" [disabled]="!form.valid">Submit</button>
          <button nbButton type="button" class="mr-3" (click)="resetData()">Cancel</button>

        </div>
      </div>
    </div>
  </form>
</ng-container>
