<!--
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
-->

<p-dialog [(visible)]="visible" [modal]="true" [closable]="false" [draggable]="false" [resizable]="false" styleClass="w-[40vw] overflow-hidden">
  <ng-template pTemplate="header">
    <h3>U.S. Government (USG) Information System (IS) - Use and Consent</h3>
  </ng-template>
  <div>
    <p class="!mt-0">You are accessing a U.S. Government (USG) Information System (IS) that is provided for USG-authorized use only.</p>
    <p>By using this IS (which includes any device attached to this IS), you consent to the following conditions:</p>
    <ul class="list-disc pl-8 space-y-2">
      <li>
        The USG routinely intercepts and monitors communications on this IS for purposes including, but not limited to, penetration testing, COMSEC monitoring, network operations and defense, personnel misconduct (PM), law enforcement (LE), and
        counterintelligence (CI) investigations.
      </li>
      <li>At any time, the USG may inspect and seize data stored on this IS.</li>
      <li>Communications using, or data stored on, this IS are not private, are subject to routine monitoring, interception, and search, and may be disclosed or used for any USG-authorized purpose.</li>
      <li>This IS includes security measures (e.g., authentication and access controls) to protect USG interests--not for your personal benefit or privacy.</li>
      <li>
        Notwithstanding the above, using this IS does not constitute consent to PM, LE or CI investigative searching or monitoring of the content of privileged communications, or work product, related to personal representation or services by
        attorneys, psychotherapists, or clergy, and their assistants. Such communications and work product are private and confidential.
      </li>
    </ul>
    <p>
      By accepting this agreement and accessing this information system, you agree to follow all applicable Department of Defense, and Department of the Navy policies and guidance regarding the use of information, to include properly marking and
      disposing of any output obtained through the use of this information system in accordance with the highest classification of the system and all data stored or processed by the system.
    </p>
  </div>
  <ng-template pTemplate="footer">
    <p-button class="w-full mx-2 mb-2" fluid label="Agree" variant="outlined" (click)="consentOk()" />
  </ng-template>
</p-dialog>
