/*
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
*/

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.right-buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.control-badge {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--surface-100);
  border-radius: 0.5rem;
  border: 1px solid var(--surface-300);
}

:host ::ng-deep {
  .high-coverage {
    .p-progressbar-value {
      background: var(--p-tag-success-background);
    }
    .p-progressbar-label {
      color: var(--p-tag-success-color);
    }
  }

  .medium-coverage {
    .p-progressbar-value {
      background: var(--p-tag-warn-background);
    }
    .p-progressbar-label {
      color: var(--p-tag-warn-color);
    }
  }
  .low-coverage {
    .p-progressbar-value {
      background: var(--p-tag-danger-background);
    }
    .p-progressbar-label {
      color: var(--p-tag-danger-color);
    }
  }
  .no-coverage {
    .p-progressbar-value {
      overflow: visible;
      background: var(--p-tag-secondary-background);
    }
    .p-progressbar-label {
      color: var(--p-tag-secondary-color);
    }
  }
}
