.layout-light {
    .layout-classification {
    box-shadow: none !important;
    }
}
.layout-dark {
    .layout-classification {
    box-shadow: 0 .5rem 1rem 0 #1a1f33 !important;
    }
}

.layout-classification {
    margin-bottom: 4rem;
    height: 1.5rem;
    margin-left: 0rem;

    .layout-classification-container {
        padding: 2rem 1rem 2rem;
        background-color: var(--surface-overlay);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-right: -2rem !important;
    }

    .layout-classification-content {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 0%;
    }

    .layout-classification-text {
        line-height: 1.5;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        min-width: 0%;
        font-weight: 600;
        color: var(--primary-color-text);
    }
}
