.layout-colorscheme-menu {
    --logo-color: var(--primary-color);
    --menu-bg: var(--surface-overlay);
    --root-menuitem-text-color: var(--primary-color);
    --menuitem-text-color: var(--text-color);
    --menuitem-icon-color: var(--primary-color);
    --menuitem-hover-bg-color: var(--surface-hover);
    --popup-submenu-item-text-color: var(--text-color);
    --popup-submenu-item-icon-color: var(--primary-color);
    --popup-submenu-item-hover-bg-color: var(--surface-hover);
}

.layout-primarycolor-menu {
    --logo-color: var(--primary-color-text);
    --menu-bg: linear-gradient(to left top, var(--primary-400), var(--primary-500), var(--primary-600));
    --root-menuitem-text-color: var(--primary-color-text);
    --menuitem-text-color: var(--primary-color-text);
    --menuitem-icon-color: var(--primary-color-text);
    --menuitem-hover-bg-color: rgba(255,255,255,.08);
    --popup-submenu-item-text-color: var(--text-color);
    --popup-submenu-item-icon-color: var(--primary-color);
    --popup-submenu-item-hover-bg-color: var(--surface-hover);
}

.layout-dark.layout-primarycolor-menu {
    --menu-bg: linear-gradient(to left top, var(--primary-300), var(--primary-400), var(--primary-500));
}

.layout-transparent-menu {
    --logo-color: var(--primary-color);
    --menu-bg: var(--surface-overlay);
    --root-menuitem-text-color: var(--primary-color);
    --menuitem-text-color: var(--text-color);
    --menuitem-icon-color: var(--primary-color);
    --menuitem-hover-bg-color: var(--surface-hover);
    --popup-submenu-item-text-color: var(--text-color);
    --popup-submenu-item-icon-color: var(--primary-color);
    --popup-submenu-item-hover-bg-color: var(--surface-hover);
}

@media screen and (min-width: $breakpoint) {
    .layout-container.layout-transparent-menu {
        &.layout-static,
        &.layout-slim,
        &.layout-slim-plus,
        &.layout-horizontal {
            .layout-sidebar {
                background-color: transparent;
                border-right: 1px solid transparent;
                box-shadow: none;
            }
        }
    }
}


.layout-sidebar .layout-menu-container .layout-menu > li > a {
  position: relative !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

.layout-sidebar .layout-menu-container .layout-menu > li > a::before {
  content: '';
  position: absolute;
  left: 2%;
  top: 0px;
  width: 96%;
  height: 0.75px;
}

.layout-static.layout-dark .layout-sidebar .layout-menu-container .layout-menu > li > a::before {
  background-color: rgba(200, 200, 200, 0.08);
}

.layout-static.layout-light .layout-sidebar .layout-menu-container .layout-menu > li > a::before {
  background-color: rgba(50, 50, 50, 0.08);
}
