@media screen and (min-width: $breakpoint) {
    .layout-container {
        &.layout-horizontal {
            .layout-topbar {
                .topbar-menubutton {
                    display: none;
                }
            }
            .layout-classification {
              margin-left: 0;
            }
            .sidebar-header{
                .app-logo {
                    .applogo {
                        display: none;
                    }
            
                    .applogosmall {
                        display: none;
                    }
                }
            }
            .layout-sidebar {
                width: auto;
                height: auto;
                top: 0;
                z-index: 99999;
                overflow: visible;
                flex-direction: row;
                position: static;
                margin-right: 0;
                .layout-menu-container {
                    overflow: auto;
                    padding-bottom: 0;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
                .menu-filter {
                    display: none;
                }
                .sidebar-header {
                    padding: 0 2rem;
                }
            }

            .layout-menu {
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
                align-items: center;
                height: 100%;

                ul {
                    display: none;
                }

                .layout-root-menuitem {
                    border-radius: var(--border-radius);

                    > .layout-menuitem-root-text {
                        display: none;
                    }

                    > a {
                        display: flex;
                        align-items: center;
                        padding: .5rem;
                        border-radius: 10px;
                        cursor: pointer;
                        outline: none;
                        color: var(--menuitem-text-color);
                        transition: background-color var(--transition-duration);
                        margin-top: 0.5rem;

                        i {
                            padding-right: 0;
                            margin-left: 0;
                            font-size: 1.15rem;
                        }

                        .layout-submenu-toggler {
                            display: block;
                            margin-left: auto;
                            transition: transform 0.2s;
                        }

                        .layout-menuitem-icon {
                            font-size: 1.25rem;
                        }

                        .layout-menuitem-text {
                            font-size: 0.875rem;
                            display: block;
                            margin-left: .25rem;
                            margin-right: .5rem;
                            white-space: nowrap;
                        }

                        &:hover {
                            background-color: var(--menuitem-hover-bg-color);
                        }
                    }

                    > ul {
                        position: absolute;
                        left: auto;
                        top: 3rem;
                        min-width: 15rem;
                        background-color: var(--surface-overlay);
                        box-shadow: var(--sidebar-shadow);
                        padding: 1rem;
                        border-radius: var(--border-radius);
                        max-height: 20rem;
                        overflow: auto;
                        z-index: 999;

                        a {
                            padding-right: .5rem;
                            color: var(--popup-submenu-item-text-color);
                            border-radius: var(--border-radius);

                            .layout-menuitem-icon {
                                color: var(--popup-submenu-item-icon-color);
                            }

                            &:hover {
                                background-color: var(--popup-submenu-item-hover-bg-color);
                            }
                        }

                        li {
                            a {
                                padding-left: 0.5rem;
                            }          
                           
                        }
                    }
                }
            }
        }
    }
}
