.layout-classification {
    margin-left: 18rem;
    transition: background-color var(--transition-duration);
}
 .layout-sidebar {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    width: 18rem;
    background: var(--menu-bg);
    border-right: var(--sidebar-border);
    display: flex;
    flex-direction: column;

    .sidebar-header {
        padding: 1.5rem 0 1rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .app-logo {
            .applogo {
                display: inline;
                width:209px;
                height:74px;
            }
    
            .applogosmall {
                display: none;
            }
        }
    }
   
    .layout-menu-container {
        overflow: auto;
        flex: 1;
        padding-bottom: 2rem;
    }

    .layout-menu {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            a {
                user-select: none;
                display: flex;
                align-items: center;
                position: relative;
                outline: 0 none;
                color: var(--menuitem-text-color);
                opacity: .95;
                cursor: pointer;
                padding: 1rem 2.5rem;
                transition: background-color var(--transition-duration), box-shadow var(--transition-duration);
                font-weight: 450;
                font-size: 1.1rem;
                border-radius: 10px;
                margin: 0 .5rem 0;

                i {
                    padding-right: .25rem;
                    margin-left: -1rem;
                    font-size: 1.15rem;
                }
                .layout-menuitem-icon {
                    margin-right: .5rem;
                    color: var(--menuitem-icon-color);
                    opacity: .80;
                }

                .layout-submenu-toggler {
                    font-size: 75%;
                    margin-left: auto;
                    transition: transform var(--transition-duration);
                }

                &.active-route {
                    font-weight: 700;
                    opacity: 1;
                }

                &:hover {
                    font-weight: 700;
                    background-color: var(--menuitem-hover-bg-color);
                    opacity: 1;
                }
            }

            &.active-menuitem {
                > a {
                    .layout-submenu-toggler {
                        transform: rotate(-180deg);
                    }
                }
            }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;

                li {
                    a {
                        padding-left: 3rem;
                    }                    
                }
            }
        }
    }
}
