@media screen and (min-width: $breakpoint) {
    .layout-container {
        &.layout-slim {
            .layout-topbar {
                .topbar-menubutton {
                    display: none;
                }
            }

            .sidebar-header {
                .app-logo {
                    .applogo {
                        display: none;
                    }
            
                    .applogosmall {
                        display: inline;
                        height: 62px;
                        width: 62px;
                    }
                }    
            }

            .layout-classification {
                margin-left: 5rem;
                transition: background-color 0.2s;
            }
           
            .layout-sidebar {
                width: 5rem;
                overflow: visible;
                z-index: 999;

                .layout-menu-container {
                    overflow: auto;

                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
            }

            .layout-content-wrapper {
                margin-left: 5rem;
            }

            .layout-menu {
                .layout-root-menuitem {

                    > .layout-menuitem-root-text {
                        display: none;
                    }

                    > a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        cursor: pointer;
                        outline: none;
                        transition: background-color 0.2s;
                        margin: 0 auto 0 auto;

                        .layout-submenu-toggler {
                            display: none;
                        }

                        .layout-menuitem-icon {
                            padding-right: 0;
                            margin-left: .25rem;
                            font-size: 1.5rem;
                        }

                        .layout-menuitem-text {
                            display: none;
                        }

                        &:hover {
                            background-color: var(--menuitem-hover-bg-color);
                        }
                    }

                    > ul {
                        position: absolute;
                        left: 5rem;
                        top: 0;
                        min-width: 15rem;
                        background-color: var(--surface-overlay);
                        border-radius: var(--border-radius);
                        box-shadow: var(--sidebar-shadow);
                        border: var(--sidebar-border);
                        padding: 1rem;
                        max-height: 20rem;
                        overflow: auto;
                        z-index: 999;

                        a {
                            padding-right: .5rem;
                            color: var(--popup-submenu-item-text-color);
                            border-radius: var(--border-radius);

                            .layout-menuitem-icon {
                                color: var(--popup-submenu-item-icon-color);
                            }

                            &:hover {
                                background-color: var(--popup-submenu-item-hover-bg-color);
                            }
                        }                      
                    }
                }
            }
        }
    }
}
