.layout-light {
    .layout-classification {
    box-shadow: none !important;
    }
    .layout-sidebar {
    border: 1px solid transparent;
    }
}

.layout-dark {
    .layout-classification {
    box-shadow: 0 .25rem .5rem 0 black !important;
    }
    .layout-sidebar {
    border: 1px solid transparent;
    }
}
