/*
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND 
! CONDITIONS OF THE LICENSE.  
!##########################################################################
*/

.col-3 {
   &:hover {
       transform: scale(1.03);
   }
}


:host ::ng-deep .card {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

:host ::ng-deep .p-tabview {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 100%;
}

:host ::ng-deep .p-tabview .p-tabview-nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--surface-a);
}

:host ::ng-deep .p-tabview .p-tabview-panels {
  flex-grow: 1;
  overflow-y: auto;
  max-height: calc(78vh);
}

:host ::ng-deep .p-tabview-panel {
  height: auto;
  min-height: 100%;
}
