<div class="card">
  <p-tabView>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-user" style="margin-right: 0.5rem;"></i>
        User Management
      </ng-template>
      <cpat-user-processing></cpat-user-processing>
    </p-tabPanel>

    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-inbox" style="margin-right: 0.5rem;"></i>
        Collection Management
      </ng-template>
      <cpat-collection-processing></cpat-collection-processing>
    </p-tabPanel>

    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-flag" style="margin-right: 0.5rem;"></i>
        STIG Manager
      </ng-template>
      <cpat-stigmanager-admin></cpat-stigmanager-admin>
    </p-tabPanel>

    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-star" style="margin-right: 0.5rem;"></i>
        Tenable
      </ng-template>
      <cpat-tenable-admin></cpat-tenable-admin>
    </p-tabPanel>

    <!--<p-tabPanel>
    <ng-template pTemplate="header">
      <i class="pi pi-upload" style="margin-right: 0.5rem;"></i>
      eMASS Import
    </ng-template>
    <app-emass-import></app-emass-import>
  </p-tabPanel>-->

    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-upload" style="margin-right: 0.5rem;"></i>
        VRAM IAV Import
      </ng-template>
      <app-vram-import></app-vram-import>
    </p-tabPanel>

    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-bullseye" style="margin-right: 0.5rem;"></i>
        Nessus Plugin Mapping
      </ng-template>
      <app-nessus-plugin-mapping></app-nessus-plugin-mapping>
    </p-tabPanel>

    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-exclamation-triangle" style="margin-right: 0.5rem;"></i>
        Set A&A Packages
      </ng-template>
      <aa-package-processing></aa-package-processing>
    </p-tabPanel>
  </p-tabView>
  </div>
