::ng-deep .cdk-overlay-pane {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: auto;
  max-height: 80vh;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0);
  position: relative;
  overflow: auto;
  border-radius: 4px;

  .modal-dialog {
    width: 60vw;
    height: auto;
    max-height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: lighter;
  border-radius: nb-theme(card-border-radius);
  transition: width 0.4s ease;
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  color: nb-theme(text-control-color);
}
