<div class="grid nested-grid">
  <div class="col-3" *ngFor="let statusCard of statusCards">
    <p-status-card [title]="statusCard.title"
                   [type]="statusCard.type"
                   [icon]="statusCard.icon"
                   (click)="statusCard.component ? openModal(statusCard.component) : triggerFileInput()"
                   (onKeyUp)="statusCard.component ? openModal(statusCard.component) : triggerFileInput()">
    </p-status-card>
  </div>
</div>

<input type="file" #fileInput style="display: none;" (change)="onFileSelect($event)" accept=".xls, .xlsx, .xlsm">
<status-dialog #statusDialog></status-dialog>
