<!--
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
-->

<div class="table-container">
  <p-toast></p-toast>
  <p-table [value]="poamApprovers" dataKey="userId">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col" pSortableColumn="userId">Approver</th>
        <th scope="col" pSortableColumn="approvalStatus">Approval Status</th>
        <th scope="col" pSortableColumn="approvedDate">Approved Date</th>
        <th scope="col" pSortableColumn="comments">Comments For Approver</th>
        <th scope="col" style="width: 8rem">
          <p-button icon="pi pi-plus" (onClick)="addApprover()" [rounded]="true" variant="text" [disabled]="accessLevel < 2" />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-approver let-rowIndex="rowIndex">
      <tr>
        <td>
          @if (!approver.isNew) {
            <span>{{ getApproverName(approver.userId) }}</span>
          }
          @if (approver.isNew) {
            <p-select
              [options]="collectionApprovers"
              [(ngModel)]="approver.userId"
              optionLabel="fullName"
              optionValue="userId"
              [style]="{ width: '100%' }"
              (onChange)="onApproverChange(approver)"
              appendTo="body"
              [disabled]="accessLevel < 2"
            ></p-select>
          }
        </td>
        <td>{{ approver.approvalStatus }}</td>
        <td>
          {{ approver.approvedDate ? (approver.approvedDate | date: 'yyyy-MM-dd') : 'Not Reviewed' }}
        </td>
        <td>
          @if (!approver.isNew) {
            <span>{{ approver.comments }}</span>
          }
          @if (approver.isNew) {
            <textarea pTextarea class="w-full" [(ngModel)]="approver.comments" [rows]="3" [maxlength]="2000" [disabled]="accessLevel < 2"></textarea>
          }
        </td>
        <td>
          <p-button icon="pi pi-trash" (onClick)="deleteApprover(rowIndex)" [rounded]="true" variant="text" severity="danger" [disabled]="accessLevel < 2" />
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5" style="text-align: center">No Approvers to Display</td>
      </tr>
    </ng-template>
  </p-table>
</div>
