/*
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
*/

:host ::ng-deep {
  .notification-table {
    .p-datatable-wrapper {
      border: none;
    }

    .p-datatable-tbody {
      > tr {
        background: transparent;

        > td {
          border: none;
          padding: 0;
          background: transparent;
        }
      }
    }
  }

  .notification-item {
    border: 1px solid var(--p-datatable-border-color);
    transition: background-color 0.2s;

    &:hover {
      background: var(--p-content-hover-background) !important;
    }

    &:active {
      background: var(--p-primary-hover-color) !important;
    }
  }
}

::ng-deep .poam-link {
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: none;
}

::ng-deep .poam-link:hover {
  font-weight: 700;
}
