<!--
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
-->

<p-card>
  <div class="mb-4 flex flex-col md:flex-row md:justify-between">
    <p-select [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange($event)"
      class="mb-2 md:mb-0" />
    <p-select [options]="[
        { label: 'All', value: 'All' },
        { label: 'Read', value: 'Read' },
        { label: 'Unread', value: 'Unread' }
      ]" [(ngModel)]="filterStatus" (onChange)="filterNotifications()" placeholder="Filter by status..."
      class="mb-2 md:mb-0" />
  </div>

  <div class="notifications-container">
    <p-table [value]="filteredNotifications" [sortField]="sortField" [sortOrder]="sortOrder" [paginator]="true"
      [rows]="10" class="notification-table p-0">
      <ng-template pTemplate="body" let-notification>
        <tr>
          <td>
            <div class="mb-3">
              <div class="notification-item flex w-full flex-col items-start rounded-lg p-4 md:flex-row"
                [ngClass]="{ 'surface-hover': notification.read, 'surface-100': !notification.read }"
                (click)="onNotificationClick($event)">
                <div class="flex-1">
                  <h4 class="mb-2">{{ notification.title }}</h4>
                  <p class="mb-2 mt-0 leading-normal" [innerHTML]="notification.formattedMessage"></p>
                  <span class="flex items-center">
                    <i class="pi pi-clock mr-2"></i>
                    <small>{{ notification.timestamp | date: 'short' }}</small>
                  </span>
                </div>
                <div class="mt-4 flex md:ml-4 md:mt-0">
                  <p-button icon="pi pi-trash" [text]="true" severity="danger"
                    (onClick)="deleteNotification(notification); $event.stopPropagation()" />
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="p-6 text-center">
            <i class="pi pi-inbox mb-4 text-5xl" style="color: var(--p-text-color)"></i>
            <p>No notifications found.</p>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="mt-4 flex justify-end">
    <p-button label="Mark all as read" icon="pi pi-check" [outlined]="true" class="mr-2"
      (onClick)="dismissAllNotifications()" />
    <p-button label="Delete all" icon="pi pi-trash" [outlined]="true" severity="danger"
      (onClick)="deleteAllNotifications()" />
  </div>
</p-card>
<p-toast />