/*
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
*/

.canvas {
  position: relative;
  max-height: 50vh;
  width: 100%;
  margin: 1rem 0;
  margin-bottom: 8rem;
}

:host ::ng-deep .p-chart {
  height: 50vh !important;
  width: 100% !important;
}

.export-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.scrollable-assets {
  max-height: 60vh;
  overflow-y: auto;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  .right-buttons {
    display: flex;
    gap: 0.5rem;
  }
}

::ng-deep .assetDialog .p-dialog-content {
  padding-top: 0rem;
}
