<!--
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!########################################################################
-->
<div class="grid" *ngIf="canModifyCollection; else unauthorized">
  <div class="col-12">
    <p-card>
      <div class="scrollable-collections">
        <p-treeTable #dt [value]="collectionTreeData" [columns]="allColumns" [filterDelay]="0" [globalFilterFields]="['data']">
          <ng-template pTemplate="caption">
            <p-iconField iconPosition="left">
              <p-inputIcon>
                <i class="pi pi-search"></i>
              </p-inputIcon>
              <input pInputText type="text" (input)="filterGlobal($event)" placeholder="Search Collections" class="search-input">
            </p-iconField>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{col}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr>
              <td *ngFor="let col of columns; let i = index">
                <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
                {{rowData[col]}}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5" style="text-align:center">No Data to Display</td>
            </tr>
          </ng-template>
        </p-treeTable>
      </div>
    </p-card>
  </div>
  <div *ngIf="showCollectionSelect" class="col-12">
    <p-card>
        <div *ngIf="collections && collections.length > 0">
          <p-dropdown [options]="collections"
                      name="selectedCollection"
                      [(ngModel)]="selectedCollection"
                      (onChange)="setCollection()"
                      placeholder="Select Collection to Modify..."
                      optionLabel="collectionName"
                      [showClear]="true"
                      autoWidth="false"
                      [style]="{'width': '30vw', 'margin-right': '20px'}"
                      appendTo="body">
            <ng-template let-collection pTemplate="item">
              {{collection.collectionId}} - {{collection.collectionName}} - {{collection.description}}
            </ng-template>
          </p-dropdown>
          <button pButton
                  type="button"
                  label="ADD COLLECTION"
                  styleClass="p-button-primary p-button-outlined"
                  (click)="addCollection()"
                  [outlined]="true">
          </button>
        </div>
    </p-card>
  </div>
  <div *ngIf="!showCollectionSelect" class="col-12">
    <p-card>
      <cpat-collection [collection]="collection"
                       [collections]="collections"
                       [payload]="payload"
                       (collectionchange)="onCollectionChange($event)">
      </cpat-collection>
    </p-card>
  </div>
  <div class="col-12">
    <p-card>
      <p-dropdown [options]="collections"
                  [(ngModel)]="exportCollectionId"
                  (onChange)="setExportCollection($event.value)"
                  placeholder="{{ collectionToExport }}"
                  optionLabel="collectionName"
                  [style]="{'width': '30vw', 'margin-right': '20px'}"
                  appendTo="body"
                  require>
        <ng-template let-collection pTemplate="item">
          {{collection.collectionId}} - {{collection.collectionName}} - {{collection.description}}
        </ng-template>
      </p-dropdown>
      <button pButton
              type="button"
              label="DOWNLOAD"
              styleClass="p-button-primary p-button-outlined"
              icon="pi pi-download"
              (click)="exportAll()"
              [outlined]="true">
      </button>
    </p-card>
  </div>
</div>
<ng-template #dialog let-data let-ref="dialogRef">
  <p-card>
    <p-header>Delete Row</p-header>
    <div class="p-card-body">Are you sure you want to delete this item?</div>
    <p-footer>
      <button pButton type="button" label="Delete" class="p-button-danger"></button>
      <button pButton type="button" label="Cancel" class="p-button-secondary" (click)="ref.close()"></button>
    </p-footer>
  </p-card>
</ng-template>
<ng-template #unauthorized>
  <h1>
    Collection processing requires appropriate permissions.
    <br /><br />
  </h1>
</ng-template>
<p-toast></p-toast>
