<!--
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
-->

    <div class="scrollable-collections">
      <p-treeTable
        #dt
        [value]="collectionTreeData"
        [columns]="allColumns"
        [filterDelay]="0"
        [rows]="20"
        [paginator]="true"
        [scrollable]="true"
        scrollHeight="calc(100vh - 32rem)"
        selectionMode="single"
        [globalFilterFields]="[
        'Collection ID',
        'Name',
        'Description',
        'System Type',
        'System Name',
        'CC/S/A/FA',
        'A&A Package',
        'Collection Origin',
        'Origin Collection ID']">
        <ng-template pTemplate="caption">
          <div class="flex items-center justify-between">
            <p-iconField iconPosition="left">
              <p-inputIcon>
                <i class="pi pi-search"></i>
              </p-inputIcon>
              <input
                pInputText
                type="text"
                (input)="filterGlobal($event)"
                placeholder="Search Collections"
                class="search-input"
              />
            </p-iconField>
            <button
              pButton
              type="button"
              icon="pi pi-plus"
              [rounded]="true"
              [text]="true"
              [raised]="true"
              severity="primary"
              pTooltip="Manually Add Collection"
              (click)="showAddCollectionDialog()"
            ></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th scope="col" *ngFor="let col of columns">{{col}}</th>
            <th scope="col">Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr (click)="showModifyCollectionDialog(rowData)" class="cursor-pointer hover:surface-200">
                <td *ngFor="let col of columns; let i = index"
                    [style]="col === 'Name' ? {'max-width': '200px'} : {}">
                    <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
                    <span [style]="col === 'Name' ? {'word-wrap': 'break-word', 'word-break': 'break-word', 'white-space': 'normal', 'display': 'inline-block', 'width': '100%'} : {}">
                        {{rowData[col]}}
                    </span>
                </td>
                <td>
                    <button pButton
                            type="button"
                            icon="pi pi-pencil"
                            class="p-button-rounded p-button-text mr-2"
                            (click)="$event.stopPropagation(); showModifyCollectionDialog(rowData)"></button>
                    <button pButton
                            type="button"
                            icon="pi pi-download"
                            class="p-button-rounded p-button-text"
                            (click)="$event.stopPropagation(); exportCollection(rowData)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6" style="text-align: center">No Data to Display</td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>

<p-dialog [(visible)]="displayCollectionDialog" [style]="{width: '450px'}" [modal]="true">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="collectionName">Collection Name:</label>
            <input type="text"
                   pInputText
                   id="collectionName"
                   [(ngModel)]="editingCollection.collectionName"
                   required />
        </div>
        <div class="field">
            <label for="description">Description:</label>
            <textarea pTextarea
                      id="description"
                      class="w-full"
                      [(ngModel)]="editingCollection.description"
                      required
                      rows="3"
                      cols="20"></textarea>
        </div>
        <div class="field">
            <label for="aaPackage">A&A Package:</label>
            <p-autoComplete [(ngModel)]="editingCollection.aaPackage"
                            [dropdown]="true"
                            [suggestions]="filteredAAPackages"
                            (completeMethod)="filterAAPackages($event)"
                            placeholder="Select an A&A Package..."
                            name="aaPackage"
                            id="aaPackage"
                            styleClass="w-full"
                            readonly>
            </p-autoComplete>
        </div>
        <div class="field">
            <label for="predisposingConditions">Predisposing Conditions:</label>
            <textarea pTextarea
                      id="predisposingConditions"
                      class="w-full"
                      [(ngModel)]="editingCollection.predisposingConditions"
                      rows="3"
                      cols="20"></textarea>
        </div>
        <div class="field">
            <label for="systemType">System Type:</label>
            <input pInputText
                   type="text"
                   id="systemType"
                   name="systemType"
                   [(ngModel)]="editingCollection.systemType"
                   placeholder="System Type"
                   class="w-full" />
        </div>
        <div class="field">
            <label for="systemName">System Name:</label>
            <input pInputText
                   type="text"
                   id="systemName"
                   name="systemName"
                   [(ngModel)]="editingCollection.systemName"
                   placeholder="System Name"
                   class="w-full" />
        </div>
        <div class="field">
            <label for="ccsafa">CC/S/A/FA:</label>
            <input pInputText
                   type="text"
                   id="ccsafa"
                   name="ccsafa"
                   [(ngModel)]="editingCollection.ccsafa"
                   placeholder="CC/S/A/FA"
                   class="w-full" />
        </div>
    </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideCollectionDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveCollection()"
    ></button>
  </ng-template>
</p-dialog>

<p-toast></p-toast>
