/*
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
*/

::ng-deep .p-dialog .p-dialog-content {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.field {
  margin-bottom: 15px;
}

.field label {
  display: block;
  margin-bottom: 5px;
}

:host ::ng-deep .p-dialog .p-dialog-header {
  @apply hidden;
}

::ng-deep .custom-confirm-popup {
  text-align: center;
}
::ng-deep .custom-confirm-popup .icon-container {
  margin-bottom: 1rem;
}
::ng-deep .custom-confirm-popup .pi-exclamation-triangle {
  font-size: 2rem;
  color: var(--yellow-500, #ffc107);
}
::ng-deep .custom-confirm-popup h3 {
  margin-bottom: 0.5rem;
}
::ng-deep .custom-confirm-popup p {
  margin-bottom: 1rem;
}
::ng-deep .p-dialog-footer {
  display: flex;
  justify-content: center;
  gap: 8rem;
}
