/*
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND    
! CONDITIONS OF THE LICENSE.  
!##########################################################################
*/

::ng-deep .p-dialog {
  max-height: 90vh;
  overflow-y: auto;
}

:host ::ng-deep {
  .custom-multiselect {
    position: absolute !important;
    visibility: hidden;
    pointer-events: none;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    top: 3.5rem;
    right: -2rem;
    
    .p-multiselect-label-container,
    .p-multiselect-trigger {
      display: none;
    }

    .p-multiselect-panel {
      visibility: visible;
      pointer-events: auto;
      position: fixed;
      top: 4rem;
      right: 1rem;
      min-width: 200px;
      z-index: 1000;
    }
  }
}

.severity-badge {
  border-radius: 2px;
  padding: .25em .5em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
  text-align: center;
  width: 6rem;
}

.severity-badge.severity-Critical {
    background-color: #C63737;
    color: #ffffff;
    opacity: 0.9;
}

.severity-badge.severity-High {
  background-color: #FF8800;
  color: #ffffff;
  opacity: 0.9;
}

.severity-badge.severity-Medium {
  background-color: #ffcc00;
  color: #ffffff;
  opacity: 0.9;
}

.severity-badge.severity-Low {
  background-color: #47d147;
  color: #ffffff;
  opacity: 0.9;
}

.severity-badge.severity-Info {
  background-color: #007bff;
  color: #ffffff;
  opacity: 0.9;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description {
    margin: 1rem 0;

    h6 {
        margin-bottom: 0.5rem !important;
    }
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  .right-buttons {
    display: flex;
    gap: 0.5rem;
  }

  .right-buttons {
    position: relative;
  }
}
