<!--
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
-->

<div class="row col-span-12">
  <div class="col">
    <div class="p-fluid">
      <div class="toolbar mb-4">
        <div class="flex items-center justify-between">
          <p-iconField iconPosition="left">
            <p-inputIcon>
              <i class="pi pi-search"></i>
            </p-inputIcon>
            <input pInputText type="text" id="search" [(ngModel)]="filterValue" (input)="onGlobalFilter($event)" placeholder="Search..." />
          </p-iconField>
          <p-button [rounded]="true" [text]="true" [raised]="true" severity="secondary" class="ml-2" icon="pi pi-filter-slash" (click)="clear()" pTooltip="Clear all filters" />
        </div>
        <div class="right-buttons">
          <p-button class="mr-2" [rounded]="true" [text]="true" [raised]="true" severity="secondary" icon="pi pi-refresh" (click)="resetColumnSelections()" pTooltip="Reset column selections" />
          <p-button icon="pi pi-plus" [rounded]="true" [text]="true" [raised]="true" severity="primary" (click)="toggleAddColumnOverlay()" />
          <p-button icon="pi pi-external-link" severity="secondary" [rounded]="true" [text]="true" (onClick)="exportCSV()" />
          <p-multiSelect #ms [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" class="custom-multiselect" appendTo="body" name="columnSearch" filterPlaceHolder="Add columns..." [showToggleAll]="true" />
        </div>
      </div>
      <div class="scrollable-assets">
        <p-table
          #dt
          [value]="assets"
          [columns]="selectedColumns"
          [paginator]="true"
          [rows]="25"
          [totalRecords]="totalRecords"
          [loading]="isLoading"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10, 25, 50]"
          [globalFilterFields]="['name', 'fqdn', 'ip', 'mac', 'collectionName']"
          [filterDelay]="300"
          [rowHover]="true"
          dataKey="assetId"
          [resizableColumns]="true"
          class="p-datatable-sm p-datatable-gridlines-hidden"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              @for (col of columns; track col) {
                <th scope="col" [pSortableColumn]="col.field" [ngStyle]="{ width: col.width }" pResizableColumn>
                  {{ col.header }}
                </th>
              }
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-asset let-columns="columns">
            <tr>
              @for (col of columns; track col) {
                <td>
                  @switch (col.field) {
                    @case ('labels') {
                      @for (label of asset.labels; track label.labelId) {
                        <p-tag [rounded]="true" [value]="label.name" [style]="{ background: 'color-mix(in srgb, #' + label.color + ', transparent 84%)', 'margin-left': '0.5rem', color: '#' + label.color }" />
                      }
                    }
                    @default {
                      {{ asset[col.field] }}
                    }
                  }
                </td>
              }
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="selectedColumns.length" style="text-align: center">No assets to display</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<p-toast position="center" key="error" />
