/*
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
*/

:host ::ng-deep {
  .custom-multiselect {
    position: absolute !important;
    visibility: hidden;
    pointer-events: none;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    top: 3rem;
    right: -1rem;
  }
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  margin: 1rem 0;

  h6 {
    margin-bottom: 0.5rem !important;
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  .right-buttons {
    position: relative;
    display: flex;
    gap: 0.5rem;
  }
}
