/*
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND    
! CONDITIONS OF THE LICENSE.  
!########################################################################
*/

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .form-group label {
    margin-bottom: 0.5rem;
  }

  .form-group input, .form-group p-dropdown {
    margin-bottom: 0.5rem;
  }

  .buttons {
    padding-top: 1rem;
  }

  .ml-2 {
    margin-left: 0.5rem;
  }
