<!--
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
-->

<form (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="p-fluid">
    <div class="p-field p-grid">
      <label for="assetName" class="p-col-fixed" style="width: 10rem">*Asset Name:</label>
      <div class="p-col">
        <input pInputText type="text" id="assetName" name="assetName" class="w-full" [(ngModel)]="asset.assetName" placeholder="Asset Name" required />
      </div>
    </div>
    <br />
    <div class="p-field p-grid">
      <label for="description" class="p-col-fixed" style="width: 10rem">Description:</label>
      <div class="p-col">
        <input pInputText type="text" id="description" name="description" class="w-full" [(ngModel)]="asset.description" placeholder="Description" />
      </div>
    </div>
    <br />
    <div class="p-field p-grid">
      <label for="fullyQualifiedDomainName" class="p-col-fixed" style="width: 10rem">Fully Qualified Domain Name:</label>
      <div class="p-col">
        <input pInputText type="text" id="fullyQualifiedDomainName" name="fullyQualifiedDomainName" class="w-full" [(ngModel)]="asset.fullyQualifiedDomainName" placeholder="Fully Qualified Domain Name" />
      </div>
    </div>
    <br />
    <div class="p-field p-grid">
      <label for="ipAddress" class="p-col-fixed" style="width: 10rem">*IP Address:</label>
      <div class="p-col">
        <input pInputText type="text" id="ipAddress" name="ipAddress" class="w-full" [(ngModel)]="asset.ipAddress" placeholder="IP Address" />
      </div>
    </div>
    <br />
    <div class="p-field p-grid">
      <label for="macAddress" class="p-col-fixed" style="width: 10rem">*MAC Address:</label>
      <div class="p-col">
        <input pInputText type="text" id="macAddress" name="macAddress" class="w-full" [(ngModel)]="asset.macAddress" placeholder="Mac Address" />
      </div>
    </div>
    <br />
    <div class="col">
      <p-table [value]="assetLabels" dataKey="labelId" class="overflow-visible">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" style="width: 8rem">
              <p-button icon="pi pi-plus" (onClick)="addNewRow()" [rounded]="true" variant="text" />
            </th>
            <th scope="col">Label</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-label let-ri="rowIndex">
          <tr>
            <td>
              <p-button icon="pi pi-trash" (onClick)="deleteAssetLabel(label, ri)" [rounded]="true" variant="text" severity="danger" />
            </td>
            <td style="overflow: visible; position: relative">
              @if (!label.isNew) {
                <span>{{ label.labelName }}</span>
              }
              @if (label.isNew) {
                <p-select
                  [options]="labelList"
                  name="labelList"
                  appendTo="body"
                  [(ngModel)]="label.labelId"
                  optionLabel="labelName"
                  optionValue="labelId"
                  class="w-full"
                  [overlayOptions]="{ baseZIndex: 99999 }"
                  [panelStyle]="{ 'z-index': '999999' }"
                  (onChange)="onLabelChange(label, ri)"
                  placeholder="Select a label"
                />
              }
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="2" style="text-align: center">No Data to Display</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="formgroup-inline" style="margin-top: 6rem">
    <div class="mt-8 flex w-full items-center justify-between">
      <div class="flex gap-6">
        <p-button variant="outlined" label="Cancel" severity="secondary" (onClick)="resetData()" />
        <p-button type="submit" variant="outlined" label="Submit" [disabled]="!form.valid" />
      </div>
      <p-button variant="outlined" label="Delete Asset" severity="danger" (onClick)="deleteAsset(asset)" [disabled]="accessLevel < 2" />
    </div>
  </div>
</form>
<p-toast />
