<!--
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
-->

<form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="p-fluid">
      <div class="p-field p-grid">
        <label for="collectionId" class="p-col-fixed" style="width: 10rem;">Collection:</label>
        <div class="p-col">
          <p-dropdown [options]="collectionOptions" [(ngModel)]="asset.collectionId" name="collectionId" placeholder="{{ tcollectionName }}" required></p-dropdown>
        </div>
      </div>
      <br />
      <div class="p-field p-grid">
        <label for="assetName" class="p-col-fixed" style="width: 10rem;">*Asset Name:</label>
        <div class="p-col">
          <input pInputText type="text" id="assetName" name="assetName" [(ngModel)]="asset.assetName" placeholder="Asset Name" required>
        </div>
      </div>
      <br />
      <div class="p-field p-grid">
        <label for="description" class="p-col-fixed" style="width: 10rem;">Description:</label>
        <div class="p-col">
          <input pInputText type="text" id="description" name="description" [(ngModel)]="asset.description" placeholder="Description">
        </div>
      </div>
      <br />
      <div class="p-field p-grid">
        <label for="fullyQualifiedDomainName" class="p-col-fixed" style="width: 10rem;">Fully Qualified Domain Name:</label>
        <div class="p-col">
          <input pInputText type="text" id="fullyQualifiedDomainName" name="fullyQualifiedDomainName" [(ngModel)]="asset.fullyQualifiedDomainName" placeholder="Fully Qualified Domain Name">
        </div>
      </div>
      <br />
      <div class="p-field p-grid">
        <label for="ipAddress" class="p-col-fixed" style="width: 10rem;">*IP Address:</label>
        <div class="p-col">
          <input pInputText type="text" id="ipAddress" name="ipAddress" [(ngModel)]="asset.ipAddress" placeholder="IP Address">
        </div>
      </div>
      <br />
      <div class="p-field p-grid">
        <label for="macAddress" class="p-col-fixed" style="width: 10rem;">*MAC Address:</label>
        <div class="p-col">
          <input pInputText type="text" id="macAddress" name="macAddress" [(ngModel)]="asset.macAddress" placeholder="Mac Address">
        </div>
      </div>
      <br />
      <div class="col">
        <p-table [value]="assetLabels" dataKey="labelId">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col" style="width:8rem">
                <button pButton pRipple type="button" icon="pi pi-plus" (click)="addNewRow()" class="p-button-rounded p-button-text"></button>
              </th>
              <th scope="col">Label</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-label let-ri="rowIndex">
            <tr>
              <td>
                <button pButton pRipple type="button" icon="pi pi-trash"
                        (click)="deleteAssetLabel(label, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
              </td>
              <td>
                <span *ngIf="!label.isNew">{{label.labelName}}</span>
                <p-dropdown *ngIf="label.isNew"
                            [options]="labelOptions"
                            name="labelOptions"
                            appendTo="body"
                            [(ngModel)]="label.labelId"
                            [optionLabel]="'labelName'"
                            [optionValue]="'labelId'"
                            [style]="{'width':'100%'}"
                            (onChange)="onLabelChange(label, ri)">
                </p-dropdown>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="2" style="text-align:center">No Data to Display</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <div class="formgroup-inline" style="margin-top: 20px;">
      <div class="field">
        <button pButton type="submit" [outlined]="true" label="Submit" class="p-mr-2" [disabled]="!form.valid"></button>
      </div>
      <div class="field">
        <button pButton type="button" [outlined]="true" label="Cancel" class="p-button-secondary p-mr-2" (click)="resetData()"></button>
      </div>
    </div>
</form>
<p-toast></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-dialog header="Invalid Data" [(visible)]="displayInvalidDataDialog" [modal]="true" [style]="{width: '300px'}" [baseZIndex]="10000">
  <p>{{invalidDataMessage}}</p>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="displayInvalidDataDialog=false" (onKeyUp)="displayInvalidDataDialog=false" label="OK" styleClass="p-button-full p-button-primary w-full"></p-button>
  </ng-template>
</p-dialog>
