<!--
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!########################################################################
-->

<div class="col-12 row">
  <div class="col">
    <p-card>
      <div class="p-fluid">
        <div class="toolbar" style="display: flex; align-items: center;">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText id="search" [(ngModel)]="filterValue" (input)="applyFilter($event)" placeholder="Search Labels" style="width: 300px;">
          </span>
          <p-button label="Clear" [outlined]="true" severity="info" class="ml-auto" icon="pi pi-filter-slash" (click)="clear()"></p-button>
        </div>
        <div class="scrollable-labels">
          <p-table #labelTable
                   [value]="data"
                   selectionMode="multiple"
                   [(selection)]="selectedLabels"
                   [metaKeySelection]="true"
                   dataKey="labelId"
                   [globalFilterFields]="['labelId', 'labelName', 'description']">
            <ng-template pTemplate="header">
              <tr>
                <th style="min-width:5rem">
                  <div class="flex align-items-center">
                    Label ID
                    <p-columnFilter type="text" field="labelId" display="menu" />
                  </div>
                </th>
                <th style="min-width:15rem">
                  <div class="flex align-items-center">
                    Name
                    <p-columnFilter type="text" field="labelName" display="menu" />
                  </div>
                </th>
                <th style="min-width:15rem">
                  <div class="flex align-items-center">
                    Description
                    <p-columnFilter type="text" field="description" display="menu" />
                  </div>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-label let-rowIndex="rowIndex">
              <tr [pSelectableRow]="label" [pSelectableRowIndex]="rowIndex" (click)="setLabel(label.labelId)">
                <td>{{label.labelId}}</td>
                <td>{{label.labelName}}</td>
                <td>{{label.description}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="3" style="text-align:center">No Data to Display</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="field">
          <p-dropdown id="labelid"
                      [options]="data"
                      optionLabel="labelName"
                      [(ngModel)]="label.labelId"
                      placeholder="Select Label to Modify..."
                      (onChange)="setLabel($event.value.labelId)"
                      styleClass="mt-4 w-full"
                      required
                      appendTo="body">
          </p-dropdown>
        </div>
        <div class="field">
          <button pButton
                  type="button"
                  label="Add Label"
                  class="p-button-outlined p-button-info w-full"
                  (click)="addLabel()">
          </button>
        </div>
      </div>
    </p-card>
  </div>
</div>
<p-dialog header="Label Details" [(visible)]="labelDialogVisible" [modal]="true" [style]="{width: '50vw'}">
  <ng-template pTemplate="content">
    <cpat-label [label]="label" [labels]="labels" [payload]="payload" (labelchange)="resetData(); closeLabelPopup();"></cpat-label>
  </ng-template>
</p-dialog>
