<!--
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
-->

<div class="col-12 row">
  <div class="col">
    <p-card>
      <div class="p-fluid">
        <div class="toolbar mb-3">
          <div class="left-buttons">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText id="search" [(ngModel)]="filterValue" (input)="applyFilter($event)" placeholder="Search Labels" style="width: 300px;">
              <p-button class="ml-2" [rounded]="true" [text]="true" [raised]="true" severity="secondary" icon="pi pi-filter-slash" pTooltip="Clear all filters" (click)="clear()" (onKeyUp)="clear()"></p-button>
            </span>
          </div>
        </div>
        <div class="scrollable-labels">
          <p-table #labelTable
                   [resizableColumns]="true"
                   [value]="data"
                   selectionMode="multiple"
                   [(selection)]="selectedLabels"
                   [metaKeySelection]="true"
                   dataKey="labelId"
                   [globalFilterFields]="['labelId', 'labelName', 'description']">
            <ng-template pTemplate="header">
              <tr>
                <th scope="col" pResizableColumn>
                  <div class="flex align-items-center">
                    Label ID
                    <p-columnFilter type="text" field="labelId" display="menu" />
                  </div>
                </th>
                <th scope="col" pResizableColumn>
                  <div class="flex align-items-center">
                    Name
                    <p-columnFilter type="text" field="labelName" display="menu" />
                  </div>
                </th>
                <th scope="col" pResizableColumn>
                  <div class="flex align-items-center">
                    Description
                    <p-columnFilter type="text" field="description" display="menu" />
                  </div>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-label let-rowIndex="rowIndex">
              <tr [pSelectableRow]="label"
                  [pSelectableRowIndex]="rowIndex"
                  (click)="accessLevel >= 2 ? setLabel(label.labelId) : null" 
                  (keyup.enter)="accessLevel >= 2 ? setLabel(label.labelId) : null">
                <td>{{label.labelId}}</td>
                <td>{{label.labelName}}</td>
                <td>{{label.description}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="3" style="text-align:center">No Data to Display</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="field">
          <p-dropdown id="labelid"
                      [options]="data"
                      optionLabel="labelName"
                      [(ngModel)]="label.labelId"
                      placeholder="Select Label to Modify..."
                      (onChange)="setLabel($event.value.labelId)"
                      styleClass="mt-4 w-full"
                      required
                      appendTo="body"
                      [disabled]="accessLevel < 2">
          </p-dropdown>
        </div>
        <div class="field">
          <button pButton
                  type="button"
                  label="Add Label"
                  class="p-button-outlined p-button-primary w-full"
                  (onKeyUp)="addLabel()"
                  (click)="addLabel()"
                  [disabled]="accessLevel < 2">
          </button>
        </div>
      </div>
    </p-card>
  </div>
</div>
<p-dialog *ngIf="accessLevel >= 2" header="Label Details" [(visible)]="labelDialogVisible" [modal]="true" [style]="{width: '50vw'}">
  <ng-template pTemplate="content">
    <cpat-label [label]="label" [labels]="labels" [payload]="payload" (labelchange)="resetData(); closeLabelPopup();"></cpat-label>
  </ng-template>
</p-dialog>
