/*
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
*/

@mixin ngx-pace-theme() {
  .pace {
    pointer-events: none;
    user-select: none;
  }

  .pace-inactive {
    display: none;
  }

  .pace .pace-activity {
    display: none;
  }

  .pace .pace-progress {
    background: var(--p-primary-color);
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
  }

  .pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    box-shadow:
      0 0 10px var(--p-surface-900),
      0 0 5px var(--p-surface-900);
    transform: rotate(3deg) translateY(-4px);
  }
}
