/*
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
*/

@use 'sass:math';

@mixin custom-scrollbar($track-color, $thumb-color, $corner-color) {
  ::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
  }

  ::-webkit-scrollbar-track {
    background: $track-color;
    border-radius: math.div(0.4rem, 2);
    margin-bottom: 10px;
    margin-right: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background: $thumb-color;
    cursor: pointer;
    border-radius: math.div(0.4rem, 2);
  }

  ::-webkit-scrollbar-corner {
    background: $corner-color;
  }
}
