/*
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
*/

:host ::ng-deep {
  .custom-multiselect {
    position: absolute !important;
    visibility: hidden;
    pointer-events: none;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    top: 3.5rem;
    right: -2rem;

    .p-multiselect-label-container,
    .p-multiselect-trigger {
      display: none;
    }

    .p-multiselect-panel {
      visibility: visible;
      pointer-events: auto;
      position: fixed;
      top: 4rem;
      right: 1rem;
      min-width: 200px;
      z-index: 1000;
    }
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  .right-buttons {
    position: relative;
    display: flex;
    gap: 0.5rem;
  }
}

.status-icon-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.status-icon-container .pi {
  font-size: 1.2rem;
}

.pi-star {
  color: #fab806;
}

.pi-times-circle {
  color: #d64606;
}

.pi-bookmark-fill {
  color: #9a9a9a;
}

.pi-reply {
  color: #50b000;
}

:host ::ng-deep {
  .p-treetable {
    display: flex;
    flex-direction: column;
    flex: 1;

    .p-treetable-wrapper {
      flex: 1;
      overflow: auto;
    }

    .p-paginator {
      position: sticky;
      bottom: 0;
      z-index: 1;
    }

    .p-treetable-thead > tr > th {
      position: sticky;
      top: 0;
      z-index: 1;
    }

    .p-treetable-thead > tr:nth-child(2) > th {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      .p-inputtext,
      .p-select,
      .p-multiselect {
        height: 2rem;
        font-size: 0.875rem;
      }

      .p-input-icon-right > i {
        right: 0.5rem;
        color: var(--text-secondary-color);
      }

      .p-datepicker .p-inputtext {
        width: 100%;
      }
    }
  }

  .filter-active {
    color: var(--primary-color) !important;
  }
}

:host ::ng-deep .p-datepicker {
  min-width: 250px;
}
