<!--
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
-->

<div class="row col-span-12">
  <div class="col">
    <div class="p-fluid">
      <div class="toolbar mb-4 mt-4">
        <div class="flex items-center justify-between">
          <p-select class="ml-4"
                    [options]="benchmarkOptions"
                    [(ngModel)]="selectedBenchmarkId"
                    (onChange)="onBenchmarkChange()"
                    placeholder="Select Benchmark..."
                    [disabled]="isLoading && !showBenchmarkSelector"
                    appendTo="body">
          </p-select>
          <p-button [rounded]="true"
                    [text]="true"
                    [raised]="true"
                    severity="secondary"
                    class="ml-4"
                    icon="pi pi-filter-slash"
                    (click)="clear()"
                    pTooltip="Clear all filters">
          </p-button>
        </div>
        <div class="right-buttons">
          <p-button class="mr-2"
                    [rounded]="true"
                    [text]="true"
                    [raised]="true"
                    severity="secondary"
                    icon="pi pi-refresh"
                    (click)="resetColumnSelections()"
                    pTooltip="Reset column selections"></p-button>
          <p-button icon="pi pi-plus"
                    [rounded]="true"
                    [text]="true"
                    [raised]="true"
                    severity="primary"
                    (click)="toggleAddColumnOverlay()">
          </p-button>
          <p-button icon="pi pi-external-link"
                    severity="secondary"
                    [rounded]="true"
                    [text]="true"
                    (onClick)="exportCSV()">
          </p-button>
          <p-multiSelect #ms
                         [options]="cols"
                         [(ngModel)]="selectedColumns"
                         optionLabel="header"
                         styleClass="custom-multiselect"
                         appendTo="body"
                         filterPlaceHolder="Add columns..."
                         [showToggleAll]="true">
          </p-multiSelect>
        </div>
      </div>

      <div class="scrollable-reviews">
        <p-treeTable #tt
                     [value]="treeNodes"
                     [columns]="selectedColumns"
                     [paginator]="true"
                     [rows]="25"
                     [totalRecords]="assetCount"
                     [loading]="isLoading"
                     [showCurrentPageReport]="true"
                     [rowsPerPageOptions]="[10,25,50]"
                     [filterDelay]="300"
                     [rowHover]="true"
                     [resizableColumns]="true"
                     columnResizeMode="fit"
                     [scrollable]="true"
                     selectionMode="multiple"
                     sortMode="multiple"
                     scrollHeight="calc(100vh - 30rem)">
          <ng-template #colgroup let-columns>
            <colgroup>
              <col *ngFor="let col of selectedColumns">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th *ngFor="let col of selectedColumns" [ttSortableColumn]="col.field" ttResizableColumn scope="col">
                {{col.header}}
                <button *ngIf="col.filterable"
                        pButton
                        severity="secondary"
                        [rounded]="true"
                        [text]="true"
                        icon="pi pi-filter"
                        type="button"
                        class="p-button-sm"
                        (click)="showFilterPanel($event, col); $event.stopPropagation()"></button>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
            <tr [ttRow]="rowNode" [ngClass]="{'parent-asset-row': rowNode.node.data.isParentRow}">
              <td *ngFor="let col of selectedColumns; let i = index">
                <span class="align-items-center flex">
                  <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
                  <ng-container [ngSwitch]="col.field">
                    <ng-container *ngSwitchCase="'displayResult'">
                      <p-tag class="ml-2"
                             [value]="rowNode.node.data.displayResult"
                             [severity]="rowNode.node.data.result === 'pass' ? 'success' :
                       rowNode.node.data.result === 'fail' ? 'danger' : 'warn'">
                      </p-tag>
                    </ng-container>

                    <ng-container *ngSwitchCase="'status.label'">
                      <i *ngIf="rowNode.node.data['status.label']"
                         class="pi ml-4"
                         [ngClass]="getStatusIcon(rowNode.node.data['status.label'])"
                         [pTooltip]="rowNode.node.data['status.label']"
                         tooltipPosition="top">
                      </i>
                    </ng-container>

                    <ng-container *ngSwitchCase="'detail'">
                      <i *ngIf="rowNode.node.data[col.field]"
                         class="pi pi-cog ml-4"
                         style="cursor: pointer;"
                         [pTooltip]="rowNode.node.data[col.field]"
                         tooltipPosition="top"></i>
                    </ng-container>

                    <ng-container *ngSwitchCase="'rule.severity'">
                      <p-tag *ngIf="rowNode.node.data['rule.severity']"
                             [value]="rowNode.node.data['rule.severity']"
                             [severity]="getSeverityStyling(rowNode.node.data['rule.severity'])"
                             [rounded]="false">
                      </p-tag>
                    </ng-container>

                    <ng-container *ngSwitchCase="'evaluatedDate'">
                      {{rowNode.node.data['evaluatedDate'] | date:'short'}}
                    </ng-container>

                    <ng-container *ngSwitchCase="'resultEngine.product'">
                      {{rowNode.node.data['resultEngine.product']}}
                    </ng-container>

                    <ng-container *ngSwitchCase="'resultEngine.version'">
                      {{rowNode.node.data['resultEngine.version']}}
                    </ng-container>

                    <ng-container *ngSwitchCase="'labels'">
                      <p-tag *ngFor="let label of getReviewLabels(rowNode.node.data)"
                             [rounded]="false"
                             [value]="label.name"
                             [style]="{'background': 'color-mix(in srgb, #' + label.color + ', transparent 84%)', 'margin-left': '0.5rem', 'color': '#' + label.color}">
                      </p-tag>
                    </ng-container>

                    <ng-container *ngSwitchDefault>
                      {{rowNode.node.data[col.field]}}
                    </ng-container>
                  </ng-container>
                </span>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="selectedColumns.length" style="text-align: center">
                No reviews to display. Select Benchmark ID to load reviews or adjust filters to display available data.
              </td>
            </tr>
          </ng-template>
        </p-treeTable>
      </div>
    </div>
  </div>
</div>

<p-popover #filterPopover [style]="{ 'min-width': '200px'}">
  <ng-container *ngIf="currentFilterColumn">
    <div class="p-fluid filter-panel">
      <div class="p-field mb-3">
        <ng-container [ngSwitch]="currentFilterColumn.field">
          <ng-container *ngSwitchCase="'displayResult'">
            <p-select class="w-full"
                      [options]="resultOptions"
                      [(ngModel)]="result"
                      (onChange)="onResultFilterChange($event.value); filterPopover.hide()"
                      placeholder="Filter result"
                      appendTo="body">
            </p-select>
          </ng-container>
          <ng-container *ngSwitchCase="'rule.severity'">
            <p-multiSelect class="w-full"
                           [options]="severityFilterOptions"
                           [(ngModel)]="filters[currentFilterColumn.field]"
                           placeholder="Filter severity"
                           (onClick)="$event.stopPropagation()"
                           [showClear]="true"
                           appendTo="body">
            </p-multiSelect>
          </ng-container>
          <ng-container *ngSwitchCase="'evaluatedDate'">
            <div class="mb-2">
              <p-select class="w-full"
                        [options]="dateFilterOptions"
                        [(ngModel)]="dateFilterMode[currentFilterColumn.field]"
                        (onClick)="$event.stopPropagation()"
                        placeholder="Select comparison"
                        appendTo="body">
              </p-select>
            </div>
            <p-datepicker class="w-full"
                          [showIcon]="true"
                          [(ngModel)]="dateFilterValues[currentFilterColumn.field]"
                          placeholder="Filter date"
                          (onClick)="$event.stopPropagation()"
                          dateFormat="mm/dd/yy">
            </p-datepicker>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <div class="p-input-icon-right w-full">
              <input pInputText
                     type="text"
                     [(ngModel)]="filters[currentFilterColumn.field]"
                     placeholder="Search..."
                     class="w-full">
            </div>
          </ng-container>
        </ng-container>
      </div>
      <div class="mt-4 w-full" style="display: flex; justify-content: space-between;">
        <button pButton
                class="p-button-outlined"
                type="button"
                label="Clear"
                size="small"
                (click)="clearColumnFilter(currentFilterColumn.field); filterPopover.hide()"></button>
        <button pButton
                type="button"
                label="Apply"
                size="small"
                (click)="applyCurrentFilter(); filterPopover.hide()"></button>
      </div>
    </div>
  </ng-container>
</p-popover>

<p-toast position="center" key="error"></p-toast>
