<!--
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
-->

<div class="notifications-popover">
  <div class="p-card-body">
    @if (notifications.length > 0) {
      <p-listbox [options]="notifications" optionLabel="title" scrollHeight="40vh">
        <ng-template let-notification pTemplate="item">
          <div class="notification-content" (click)="onNotificationClick($event)">
            <div class="notification-header">
              <div class="notification-icon">
                <i [class]="notification.icon"></i>
              </div>
              <h5>{{ notification.title }}</h5>
              @if (notification.notificationId) {
                <i class="dismiss-icon pi pi-times" (click)="dismissNotification(notification)" (onKeyUp)="dismissNotification(notification)"></i>
              }
            </div>
            <p [innerHTML]="notification.formattedMessage"></p>
            <small>{{ notification.timestamp | date: 'short' }}</small>
          </div>
        </ng-template>
      </p-listbox>
    } @else {
      <div class="p-6 text-center">
        <i class="pi pi-inbox mb-4 text-5xl" style="color: var(--p-text-color)"></i>
        <p>No notifications found.</p>
      </div>
    }
  </div>
  <div class="p-card-footer">
    <p-button label="See all notifications" variant="outlined" severity="contrast" size="small" class="w-full" (onClick)="viewAllNotifications(); closeOverlay()"></p-button>
  </div>
</div>
