/*
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND    
! CONDITIONS OF THE LICENSE.  
!##########################################################################
*/

.notifications-popover {
  width: 25vw;
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;

  ::ng-deep .poam-link {
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
  }
  
  ::ng-deep .poam-link:hover {
    text-decoration: underline;
  }

  .header-actions {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 1rem;
  }

  ::ng-deep .p-card-body {
    padding: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  ::ng-deep .p-card-content {
    padding: 0;
    flex-grow: 1;
  }

  .notification-content {
    flex-grow: 1;
    position: relative;
    padding-right: 1rem;
  }

  .notification-header {
    display: flex;
    align-items: center;
    position: relative;
  }

  .notification-icon {
    margin-right: 1rem;
  }

  h5 {
    margin-bottom: 0.2rem;
    margin-left: -1rem;
    flex-grow: 1;
  }

  .dismiss-icon {
    cursor: pointer;
  }

  ::ng-deep .p-listbox-item {
    padding: 1rem;
    border-bottom: 1px solid var(--surface-d);
    &:last-child {
      border-bottom: none;
    }
  }

  ::ng-deep .p-card-footer {
    padding: 1rem;
    text-align: center;
  }
}

