/*
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
*/

::ng-deep .p-popover {
  &:before {
    display: none;
  }

  &:after {
    display: none;
  }
  margin-top: 0;
}

.notifications-popover {
  width: 25vw;
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;

  ::ng-deep .poam-link {
    color: var(--p-primary-color);
    font-weight: bold;
    text-decoration: none;
  }

  ::ng-deep .poam-link:hover {
    text-decoration: underline;
  }

  .header-actions {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 1rem;
  }

  ::ng-deep .p-card-body {
    padding: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  ::ng-deep .p-card-content {
    padding: 0;
    flex-grow: 1;
  }

  .notification-content {
    flex-grow: 1;
    position: relative;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
  }

  .notification-header {
    display: flex;
    align-items: center;
    position: relative;
  }

  .notification-icon {
    margin-right: 1rem;
  }

  h5 {
    margin-bottom: 0.2rem;
    margin-left: -1rem;
    flex-grow: 1;
  }

  .dismiss-icon {
    z-index: 99999;
    padding: 0.5rem;
    border-radius: 50%;
    transition:
      box-shadow 0.1s ease,
      background-color 0.1s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      cursor: pointer;
    }
  }

  ::ng-deep .p-listbox {
    border: none;
    padding: 0;
    background-color: var(--card-background);
    border-bottom: 1px solid var(--ground-background);
    &:last-child {
      border-bottom: none;
    }
    .p-listbox-option {
      border-bottom: 1px solid var(--p-content-border-color);
      border-bottom-width: 0;
      background: linear-gradient(
          to right,
          transparent 10px,
          var(--p-content-border-color) 10px,
          var(--p-content-border-color) calc(100% - 10px),
          transparent calc(100% - 10px)
        )
        bottom 0 left 0/100% 1px no-repeat;
      transition: none;
    }
  }

  ::ng-deep .p-card-footer {
    padding: 1rem;
    text-align: center;
  }
}
