<!--
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!########################################################################
-->
<p-dialog header="Request POAM Extension" [(visible)]="displayExtensionDialog" [modal]="true" [style]="{width: '80vw', height: '80vh'}" [draggable]="false" [resizable]="false" [closable]="true" (onHide)="cancelExtension()">
  <div class="container" *ngIf="poam">
    <div class="p-grid">
      <!-- Extension Time Allowed -->
      <div class="p-col-12">
        <div class="p-field">
          <label for="extensionTimeAllowed">Extension Time Allowed:</label>
          <p-dropdown [options]="extensionTimeOptions" [(ngModel)]="poam.extensionTimeAllowed" (onChange)="computeDeadlineWithExtension()" placeholder="Extension Time Allowed" [showClear]="true" [style]="{'width':'100%'}"></p-dropdown>
        </div>
      </div>
      <!-- Deadline With Extension -->
      <div class="p-col-12">
        <div class="p-field">
          <label for="extensionDeadline">Deadline With Extension:</label>
          <input type="text" pInputText [value]="completionDateWithExtension" name="extensionDeadline" disabled [style]="{'width':'100%'}">
        </div>
      </div>
      <!-- Justification for Extension -->
      <div class="p-col-12">
        <div class="p-field">
          <label for="extensionJustification">Justification for Extension:</label>
          <p-autoComplete [(ngModel)]="extensionJustification"
                          [dropdown]="true"
                          [suggestions]="filteredJustifications"
                          (completeMethod)="filterJustifications($event)"
                          [placeholder]="extensionJustificationPlaceholder"
                          [style]="{'width':'100%'}">
          </p-autoComplete>
        </div>
      </div>
    </div>

    <!-- Milestones -->
            <p-table [value]="poamMilestones" dataKey="milestoneId" editMode="row" #dt>
              <ng-template pTemplate="header">
                <tr>
                  <th scope="col">Milestone Comments</th>
                  <th scope="col">Milestone Date</th>
                  <th scope="col">Milestone Change Comments</th>
                  <th scope="col">Milestone Change Date</th>
                  <th scope="col">Milestone Status</th>
                  <th scope="col">Milestone Team</th>
                  <th></th>
                  <th scope="col"><button pButton icon="pi pi-plus" class="p-button-text" (click)="onAddNewMilestone()"></button></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-milestone let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="milestone" [class.p-highlight]="milestone.editing">
                  <td>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <textarea pInputTextarea class="w-full" [rows]="2" [(ngModel)]="milestone.milestoneComments" disabled></textarea>
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{milestone.milestoneComments}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <p-calendar [(ngModel)]="milestone.milestoneDate" dateFormat="yy-mm-dd" [showIcon]="true" appendTo="body" disabled></p-calendar>
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{milestone.milestoneDate | date:'yyyy-MM-dd'}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <textarea pInputTextarea class="w-full" [rows]="2" [(ngModel)]="milestone.milestoneChangeComments"></textarea>
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{milestone.milestoneChangeComments}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <p-calendar [(ngModel)]="milestone.milestoneChangeDate" dateFormat="yy-mm-dd" [showIcon]="true" appendTo="body"></p-calendar>
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{milestone.milestoneChangeDate | date:'yyyy-MM-dd'}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <p-dropdown [options]="milestoneStatusOptions" [(ngModel)]="milestone.milestoneStatus" [style]="{'width':'100%'}" appendTo="body"></p-dropdown>
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{milestone.milestoneStatus}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input type="text" pInputText class="w-full" [(ngModel)]="milestone.milestoneTeam">
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{milestone.milestoneTeam}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                  <td style="text-align:center">
                    <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(milestone)" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(milestone)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(milestone, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6" style="text-align:center">No Data to Display</td>
                </tr>
              </ng-template>
            </p-table>

  </div>
  <ng-template pTemplate="footer">
    <p-button [outlined]="true" label="Save" (click)="submitPoamExtension()" (onKeyUp)="submitPoamExtension()"></p-button>
    <p-button class="ml-2" [outlined]="true" severity="secondary" label="Cancel" (click)="cancelExtension()" (onKeyUp)="cancelExtension()"></p-button>
  </ng-template>
</p-dialog>
<p-toast></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
