<!--
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
-->

<p-dialog
  [(visible)]="displayExtensionDialog"
  [modal]="true"
  [style]="{width: '80vw', height: '80vh'}"
  [draggable]="false"
  [resizable]="false"
  [closable]="true"
  (onHide)="cancelExtension()"
>
  <div class="container" *ngIf="poam">
    <div class="p-grid">
      <!-- Extension Time Allowed -->
      <div class="p-col-12">
        <div class="p-field">
          <label for="extensionTimeAllowed">Extension Time Requested:</label>
          <p-select
            [options]="extensionTimeOptions"
            [(ngModel)]="poam.extensionTimeAllowed"
            (onChange)="computeDeadlineWithExtension()"
            placeholder="Extension Time Requested..."
            [showClear]="true"
            [style]="{'width':'100%'}"
            [disabled]="accessLevel < 2"
          ></p-select>
        </div>
      </div>
      <!-- Deadline With Extension -->
      <div class="p-col-12">
        <div class="p-field">
          <label for="extensionDeadline">Deadline With Extension:</label>
          <input
            type="text"
            pInputText
            [value]="completionDateWithExtension"
            name="extensionDeadline"
            disabled
            [style]="{'width':'100%'}"
          />
        </div>
      </div>
      <!-- Justification for Extension -->
      <div class="p-col-12">
        <div class="p-field">
          <label for="extensionJustification">Justification for Extension:</label>
          <p-autoComplete
            [(ngModel)]="extensionJustification"
            [dropdown]="true"
            [suggestions]="filteredJustifications"
            (completeMethod)="filterJustifications($event)"
            [placeholder]="extensionJustificationPlaceholder"
            [style]="{'width':'100%'}"
            [disabled]="accessLevel < 2"
          >
          </p-autoComplete>
        </div>
      </div>
    </div>

    <p-stepper [value]="1" class="mt-6">
      <p-step-list>
        <p-step [value]="1">Milestones</p-step>
        <p-step [value]="2">Mitigations</p-step>
        <p-step [value]="3">Required Resources</p-step>
        <p-step [value]="4">Risk & Impact</p-step>
      </p-step-list>
      <p-step-panels>
        <!-- Milestones -->
        <p-step-panel [value]="1">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="stepper-content-wrapper">
              <div class="stepper-content">
                <p-table [value]="poamMilestones" dataKey="milestoneId" editMode="row" #dt>
                  <ng-template pTemplate="header">
                    <tr>
                      <th scope="col">Milestone Comments</th>
                      <th scope="col" pSortableColumn="milestoneDate">Milestone Due Date</th>
                      <th scope="col">Milestone Change Comments</th>
                      <th scope="col" pSortableColumn="milestoneChangeDate">
                        Milestone Change Date
                      </th>
                      <th scope="col" pSortableColumn="milestoneStatus">Milestone Status</th>
                      <th scope="col" pSortableColumn="assignedTeamId">Milestone Team</th>
                      <th scope="col"></th>
                      <th scope="col">
                        <button
                          pButton
                          icon="pi pi-plus"
                          class="p-button-text"
                          (click)="onAddNewMilestone()"
                          [disabled]="accessLevel < 2"
                        ></button>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template
                    pTemplate="body"
                    let-milestone
                    let-editing="editing"
                    let-ri="rowIndex"
                  >
                    <tr [pEditableRow]="milestone" [class.p-highlight]="milestone.editing">
                      <td>
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <textarea
                              pTextarea
                              class="w-full"
                              [rows]="2"
                              [(ngModel)]="milestone.milestoneComments"
                              disabled
                            ></textarea>
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{milestone.milestoneComments}}
                          </ng-template>
                        </p-cellEditor>
                      </td>
                      <td>
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <p-datepicker
                              [(ngModel)]="milestone.milestoneDate"
                              dateFormat="yy-mm-dd"
                              [showIcon]="true"
                              appendTo="body"
                              disabled
                            ></p-datepicker>
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{milestone.milestoneDate | date:'yyyy-MM-dd'}}
                          </ng-template>
                        </p-cellEditor>
                      </td>
                      <td>
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <textarea
                              pTextarea
                              class="w-full"
                              [rows]="2"
                              [(ngModel)]="milestone.milestoneChangeComments"
                              [disabled]="accessLevel < 2"
                            ></textarea>
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{milestone.milestoneChangeComments}}
                          </ng-template>
                        </p-cellEditor>
                      </td>
                      <td>
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <p-datepicker
                              [(ngModel)]="milestone.milestoneChangeDate"
                              dateFormat="yy-mm-dd"
                              [showIcon]="true"
                              appendTo="body"
                              [baseZIndex]="9999"
                              [disabled]="accessLevel < 2"
                            ></p-datepicker>
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{milestone.milestoneChangeDate | date:'yyyy-MM-dd'}}
                          </ng-template>
                        </p-cellEditor>
                      </td>
                      <td>
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <p-select
                              [options]="milestoneStatusOptions"
                              [(ngModel)]="milestone.milestoneStatus"
                              [style]="{'width':'100%'}"
                              appendTo="body"
                              [baseZIndex]="9999"
                              [disabled]="accessLevel < 2"
                            ></p-select>
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{milestone.milestoneStatus}}
                          </ng-template>
                        </p-cellEditor>
                      </td>
                      <td>
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <p-select [options]="assignedTeamOptions"
                                      [(ngModel)]="milestone.assignedTeamId"
                                      optionLabel="assignedTeamName"
                                      optionValue="assignedTeamId"
                                      [style]="{'width':'100%'}"
                                      appendTo="body"
                                      [baseZIndex]="9999"
                                      [disabled]="accessLevel < 2"></p-select>
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{getTeamName(milestone.assignedTeamId)}}
                          </ng-template>
                        </p-cellEditor>
                      </td>
                      <td></td>
                      <td style="text-align: center">
                        <button
                          *ngIf="!editing"
                          pButton
                          type="button"
                          pInitEditableRow
                          icon="pi pi-pencil"
                          (click)="onRowEditInit(milestone)"
                          class="p-button-rounded p-button-text"
                          [disabled]="accessLevel < 2"
                        ></button>
                        <button
                          *ngIf="editing"
                          pButton
                          type="button"
                          pSaveEditableRow
                          icon="pi pi-check"
                          (click)="onRowEditSave(milestone)"
                          class="p-button-rounded p-button-text p-button-success mr-2"
                          [disabled]="accessLevel < 2"
                        ></button>
                        <button
                          *ngIf="editing"
                          pButton
                          type="button"
                          pCancelEditableRow
                          icon="pi pi-times"
                          (click)="onRowEditCancel(milestone, ri)"
                          class="p-button-rounded p-button-text p-button-danger"
                          [disabled]="accessLevel < 2"
                        ></button>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="8" style="text-align: center">No Data to Display</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
              <div class="stepper-buttons first-panel">
                <p-button
                  styleClass="p-button-outlined p-button-rounded p-button-text p-button-raised p-button-primary"
                  icon="pi pi-arrow-right"
                  iconPos="right"
                  (onClick)="activateCallback(2)"
                ></p-button>
              </div>
            </div>
          </ng-template>
        </p-step-panel>

        <!-- Mitigations -->
        <p-step-panel [value]="2">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="stepper-content-wrapper">
              <div class="stepper-content">
                <textarea
                  pTextarea
                  class="w-full"
                  [(ngModel)]="poam.mitigations"
                  name="mitigations"
                  [rows]="16"
                  [maxlength]="2000"
                  placeholder="Mitigations..."
                  [disabled]="accessLevel < 2"
                ></textarea>
              </div>
              <div class="stepper-buttons">
                <p-button
                  styleClass="p-button-outlined p-button-rounded p-button-text p-button-raised p-button-secondary"
                  icon="pi pi-arrow-left"
                  (onClick)="activateCallback(1)"
                ></p-button>
                <p-button
                  styleClass="p-button-outlined p-button-rounded p-button-text p-button-raised p-button-primary"
                  icon="pi pi-arrow-right"
                  iconPos="right"
                  (onClick)="activateCallback(3)"
                ></p-button>
              </div>
            </div>
          </ng-template>
        </p-step-panel>

        <!-- Required Resources -->
        <p-step-panel [value]="3">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="stepper-content-wrapper">
              <div class="stepper-content">
                <textarea
                  pTextarea
                  class="w-full"
                  [(ngModel)]="poam.requiredResources"
                  name="requiredResources"
                  [rows]="16"
                  [maxlength]="2000"
                  placeholder="Required Resources..."
                  [disabled]="accessLevel < 2"
                ></textarea>
              </div>
              <div class="stepper-buttons">
                <p-button
                  styleClass="p-button-outlined p-button-rounded p-button-text p-button-raised p-button-secondary"
                  icon="pi pi-arrow-left"
                  (onClick)="activateCallback(2)"
                ></p-button>
                <p-button
                  styleClass="p-button-outlined p-button-rounded p-button-text p-button-raised p-button-primary"
                  icon="pi pi-arrow-right"
                  iconPos="right"
                  (onClick)="activateCallback(4)"
                ></p-button>
              </div>
            </div>
          </ng-template>
        </p-step-panel>

        <!-- Risk & Impact -->
        <p-step-panel [value]="4">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="stepper-content-wrapper">
              <div class="stepper-content">
                <div class="form-group">
                  <label for="localImpact">Local Impact:</label>
                  <p-select
                    [options]="localImpactOptions"
                    [(ngModel)]="poam.localImpact"
                    id="localImpact"
                    name="localImpact"
                    placeholder="Local Impact..."
                    optionLabel="label"
                    optionValue="value"
                    appendTo="body"
                    [baseZIndex]="9999"
                    [style]="{'width':'100%'}"
                    [disabled]="accessLevel < 2"
                  ></p-select>
                </div>

                <div class="form-group">
                  <label for="impactDescription">Impact Description: </label>
                  <textarea
                    pTextarea
                    class="w-full"
                    [(ngModel)]="poam.impactDescription"
                    name="impactDescription"
                    [rows]="16"
                    placeholder="Impact Description..."
                    [disabled]="accessLevel < 2"
                  ></textarea>
                </div>

                <div class="form-group">
                  <label for="residualRisk">Residual Risk:</label>
                  <p-select
                    [options]="residualRiskOptions"
                    [(ngModel)]="poam.residualRisk"
                    name="residualRisk"
                    placeholder="Residual Risk..."
                    optionLabel="label"
                    optionValue="value"
                    appendTo="body"
                    [style]="{'width':'100%'}"
                    [disabled]="true"
                  ></p-select>
                </div>

                <div class="form-group">
                  <label for="likelihood">Likelihood:</label>
                  <p-select
                    [options]="likelihoodOptions"
                    [(ngModel)]="poam.likelihood"
                    id="likelihood"
                    name="likelihood"
                    placeholder="Likelihood..."
                    optionLabel="label"
                    optionValue="value"
                    appendTo="body"
                    [style]="{'width':'100%'}"
                    [disabled]="true"
                  ></p-select>
                </div>
              </div>
              <div class="stepper-buttons">
                <p-button
                  styleClass="p-button-outlined p-button-rounded p-button-text p-button-raised p-button-secondary"
                  icon="pi pi-arrow-left"
                  (onClick)="activateCallback(3)"
                ></p-button>
              </div>
            </div>
          </ng-template>
        </p-step-panel>
      </p-step-panels>
    </p-stepper>
  </div>
  <ng-template pTemplate="footer">
    <div class="m-2 flex w-full items-center justify-between">
      <p-button
        [outlined]="true"
        label="Save"
        (click)="submitPoamExtension()"
        (onKeyUp)="submitPoamExtension()"
        [disabled]="accessLevel < 2"
      ></p-button>
      <p-button
        class="ml-2"
        [outlined]="true"
        severity="secondary"
        label="Cancel"
        (click)="cancelExtension()"
        (onKeyUp)="cancelExtension()"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
<p-toast></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
