/*
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
*/

::ng-deep .p-dialog {
  .p-dialog-header {
    padding: 2rem 2rem 0 2rem;
    border: none;
    display: flex;
    justify-content: center;

    .p-dialog-title {
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
    }
  }

  .p-dialog-content {
    padding: 2rem;
    flex-direction: column;
    overflow: hidden;

    > i {
      font-size: 2rem;
      color: var(--p-yellow-500);
      margin-bottom: 1rem;
      display: block;
    }
  }

  > span {
    display: block;
    width: 100%;
  }

  .p-dialog-footer {
    display: flex;
    border: none;
    justify-content: space-between;
    padding: 1rem;
  }
}

.extensionContainer {
  padding: 0rem 1rem 1rem 1rem;
  width: 100%;
}

.p-field {
  margin-bottom: 1.5rem;
}

.p-field label {
  display: block;
  margin-bottom: 0.5rem;
}

.p-button-outlined {
  margin-right: 1rem;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

:host ::ng-deep {
  .p-card-content {
    padding: 0;
  }

  .stepper-content-wrapper {
    display: flex;
    flex-direction: column;
    height: 420px;
  }

  .stepper-content {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
  }

  .stepper-buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid var(--border-color);
    &.first-panel {
      justify-content: flex-end;
    }
  }

  .p-datatable {
    .p-datatable-wrapper {
      overflow-x: auto;
    }
  }
}
