      <!-- Import Tenable Repository Section -->
<div class="row">
  <div class="col-md-10">
    <nb-card>
      <nb-card-header>Import Repository:</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-5" style="width: auto;">
            <nb-select id="tenableRepositorySelect" placeholder="Select Repository">
              <nb-option value="1">Placeholder 1</nb-option>
              <nb-option value="2">Placeholder 2</nb-option>
              <nb-option value="3">Placeholder 3</nb-option>
              <nb-option value="4">Placeholder 4</nb-option>
              <nb-option value="5">Placeholder 5</nb-option>
            </nb-select>
          </div>
          <div class="col-md-5" style="width: auto;">
            <button nbButton outline status="info">Import</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
