<!--
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!########################################################################
-->

<div class="row">
  <div class="col-xxxl-8">
    <div class="row">
      <div class="col-xxxl-3">
        <nb-card>
          <canvas #poamSeverityPieChart class="poam-severity-pie-chart"></canvas>
        </nb-card>
      </div>
      <div class="col-xxxl-3">
        <nb-card>
          <canvas #monthlyPoamStatusChart class="monthly-poam-status-chart"></canvas>
        </nb-card>
      </div>
      <div class="col-xxxl-6">
        <nb-card>
          <cpat-poam-advanced-pie class="poam-advanced-pie" [pieChartData]="advancedPieChartData"></cpat-poam-advanced-pie>
        </nb-card>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <cpat-poam-mainchart [poams]="poams" [showAddButton]="false" canvasHeight="20rem" canvasWidth="100rem" (poamsChange)="onPoamsChange($event)"></cpat-poam-mainchart>
      </div>
    </div>
  </div>
  <div class="col-xxxl-4">
    <nb-card class="ngx-poam-assigned-grid">
      <nb-tabset>
        <nb-tab tabTitle="Pending POAMs">
          <cpat-poam-assigned-grid [assignedData]="this.pendingPoams"
                                  [assignedColumns]="['POAM ID', 'Adjusted Severity', 'Poam Status', 'Submitter', 'Manage']"
                                  (managePoam)="managePoam($event)">
          </cpat-poam-assigned-grid>
        </nb-tab>
        <nb-tab *ngIf="this.userPermissions.accessLevel >= 2" tabTitle="My POAMs">
          <cpat-poam-assigned-grid [assignedData]="this.submittedPoams"
                                  [assignedColumns]="['POAM ID', 'Adjusted Severity', 'Poam Status', 'Submitter', 'Manage']"
                                  (managePoam)="managePoam($event)">
          </cpat-poam-assigned-grid>
        </nb-tab>

        <nb-tab *ngIf="this.userPermissions.accessLevel >= 3" tabTitle="Pending Approval">
          <cpat-poam-assigned-grid [assignedData]="this.poamsPendingApproval"
                                  [assignedColumns]="['POAM ID', 'Adjusted Severity', 'Poam Status', 'Approval Status', 'Manage']"
                                  [userId]="this.user.userId"
                                  (managePoam)="managePoam($event)">
          </cpat-poam-assigned-grid>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>
<cpat-poam-grid [poamsData]="poamsForChart"
               [allColumns]="['POAM ID', 'POAM Status', 'Adjusted Severity', 'Submitter', 'Submitted Date', 'Scheduled Completion Date', 'Manage']"
               (managePoam)="managePoam($event)">
</cpat-poam-grid>
