/*
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND    
! CONDITIONS OF THE LICENSE.  
!########################################################################
*/

@import '@nebular/theme/styles/theming';
@import '@nebular/theme/styles/themes';

::ng-deep angular2-smart-table table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid nb-theme(border-basic-color-3);
}

::ng-deep angular2-smart-table table, 
::ng-deep angular2-smart-table th, 
::ng-deep angular2-smart-table td {
  border: 1px solid nb-theme(border-basic-color-3);
  padding: 0.5rem;
  text-align: left;
}

::ng-deep angular2-smart-table thead tr:nth-child(3) {
  background-color: nb-theme(background-basic-color-1);
}

::ng-deep angular2-smart-table tbody tr:hover {
  background-color: nb-theme(background-basic-color-1);
}

::ng-deep angular2-smart-table thead tr {
  background-color: nb-theme(background-basic-color-2);
}

::ng-deep angular2-smart-table tbody tr {
  background-color: nb-theme(background-basic-color-2);
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 2%;
}

.form-group label {
  display: block;
  margin-bottom: 1%;
}

.milestoneSmartTable label {
  display: block;
  margin-bottom: 1%;
}

.form-group input,
.form-group nb-select {
  width: 100%;
}

.status-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2%;
}

.status-group label {
  margin-right: 1%;
}

.status-group nb-select {
  flex-grow: 1;
}

.status-container {
  display: flex;
  justify-content: left;
  gap: 2%;
}

hr {
  background-color: black;
  border-color: black;
  color: black;
  height: 1px;
  border: 0;
}
