/*
!##########################################################################
! CRANE PLAN OF ACTION AND MILESTONE AUTOMATION TOOL (C-PAT) SOFTWARE
! Use is governed by the Open Source Academic Research License Agreement
! contained in the LICENSE.MD file, which is part of this software package.
! BY USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND
! CONDITIONS OF THE LICENSE.
!##########################################################################
*/

.chart-title {
  font-family: 'Red Hat Display Variable';
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-color);
  margin: -0.5rem 0 2rem;
  text-align: left;
}

.legend-item {
  &:hover {
    .item-label,
    .item-value,
    .item-percent {
      opacity: 1;
    }

    .item-color {
      transform: scale(1.2);
      filter: brightness(0.9);
    }
  }
}

.metric-card {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: var(--primary-color);
    opacity: 0.65;
  }
}

.cat-compliance-card {
  position: relative;
  overflow: hidden;
  padding: 3rem 0;

  .dark-web-style-metric {
    position: relative;
    display: flex;
    align-items: center;

    .metric-circle-container {
      position: absolute;
      left: 0;
      right: 2rem;
      top: 50%;
      transform: translateY(-50%);
      height: 140px;
      display: flex;
      align-items: center;

      .metric-circle {
        width: 140px;
        height: 140px;
        outline: 2px solid var(--primary-color);
        outline-offset: -1rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--ground-background);
        position: relative;
        z-index: 2;

        .metric-circle-value {
          font-size: 3.5rem;
          font-weight: 700;
          color: var(--text-color);
          line-height: 1;
        }

        .metric-percent {
          font-size: 1rem;
          font-weight: 700;
          margin-left: 0.1rem;
        }
      }

      .metric-line {
        position: absolute;
        left: 140px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 1.5px;
        background: var(--primary-color);
        z-index: 1;
      }
    }

    .metric-text-container {
      flex: 1;
      padding-left: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      position: relative;
      z-index: 3;
      margin-top: -1rem;
      font-family: 'Red Hat Display Variable';

      .metric-origin {
        font-size: 2rem;
        font-weight: 500;
        opacity: 0.9;
      }

      .metric-description {
        font-size: 1.1rem;
        opacity: 0.8;
      }
    }
  }
}

@media (max-width: 768px) {
  .cat-compliance-card .dark-web-style-metric {
    flex-direction: column;
    text-align: center;

    .metric-circle-container {
      position: relative;
      left: auto;
      right: auto;
      transform: none;
      top: auto;
      width: 100%;
      justify-content: center;

      .metric-line {
        display: none;
      }
    }

    .metric-text-container {
      padding-left: 0;
      padding-top: 1rem;
    }
  }
}
