/*
!#######################################################################
! C-PATTM SOFTWARE
! CRANE C-PATTM plan of action and milestones software. Use is governed by the Open Source Academic Research License Agreement contained in the file
! crane_C_PAT.1_license.txt, which is part of this software package. BY
! USING OR MODIFYING THIS SOFTWARE, YOU ARE AGREEING TO THE TERMS AND    
! CONDITIONS OF THE LICENSE.  
!########################################################################
*/

@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/default';
@use '@nebular/theme/styles/themes/dark';
@use '@nebular/theme/styles/themes/cosmic';
@use '@nebular/theme/styles/themes/corporate';


$nb-themes: nb-register-theme((
), dark, dark);

$nb-themes: nb-register-theme((
), cosmic, cosmic);

$nb-themes: nb-register-theme((
), default, default);

$nb-themes: nb-register-theme((
), corporate, corporate);


